In [10]:
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.cm as cmx
import matplotlib.colors as colors
import pandas as pd
import math
from sklearn.linear_model import Lasso as Lasso_Reg
from sklearn import linear_model
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.cross_validation import KFold
from sklearn.cross_validation import cross_val_score as val_score
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import LogisticRegression as LogReg
from sklearn.decomposition import PCA
from sklearn.cross_validation import train_test_split as sk_split
%matplotlib inline

In [11]:
#read in crops
allcrops_2000 = pd.read_csv('datasets/allcrops_2000.csv')
# names of all the crops
crop_names = allcrops_2000['ItemName'].unique()

# remove nan
crop_names = crop_names[:-1]
# list to put our separated crop dataframes
all_crop_dfs = []

# find each crop-separated df and put it in the list of dataframes
for crop in crop_names:
    crop_df = allcrops_2000[(allcrops_2000['ItemName'] == crop)]
    all_crop_dfs.append(crop_df)

print crop_names

['Wheat and products' 'Barley and products' 'Maize and products'
 'Rye and products' 'Oats' 'Cereals, Other' 'Potatoes and products'
 'Sugar (Raw Equivalent)' 'Sweeteners, Other' 'Pulses, Other and products'
 'Nuts and products' 'Soyabeans' 'Groundnuts (Shelled Eq)'
 'Coconuts - Incl Copra' 'Sesame seed' 'Olives (including preserved)'
 'Oilcrops, Other' 'Soyabean Oil' 'Groundnut Oil' 'Sunflowerseed Oil'
 'Rape and Mustard Oil' 'Cottonseed Oil' 'Palmkernel Oil' 'Coconut Oil'
 'Sesameseed Oil' 'Olive Oil' 'Maize Germ Oil' 'Oilcrops Oil, Other'
 'Tomatoes and products' 'Onions' 'Vegetables, Other' 'Oranges, Mandarines'
 'Lemons, Limes and products' 'Grapefruit and products' 'Citrus, Other'
 'Bananas' 'Apples and products' 'Pineapples and products' 'Dates'
 'Grapes and products (excl wine)' 'Fruits, Other' 'Coffee and products'
 'Cocoa Beans and products' 'Tea (including mate)' 'Pepper' 'Pimento'
 'Spices, Other' 'Wine' 'Beer' 'Beverages, Fermented'
 'Beverages, Alcoholic' 'Infant food' 'Rice (Paddy Equivalent)'
 'Rice (Milled Equivalent)' 'Roots & Tuber Dry Equiv'
 'Sugar, Refined Equiv' 'Groundnuts (in Shell Eq)' 'Sugar, Raw Equivalent'
 'Cereals - Excluding Beer' 'Starchy Roots' 'Sugar & Sweeteners' 'Pulses'
 'Treenuts' 'Oilcrops' 'Vegetable Oils' 'Vegetables'
 'Fruits - Excluding Wine' 'Stimulants' 'Spices' 'Alcoholic Beverages'
 'Miscellaneous' 'Millet and products' 'Palm Oil' 'Cassava and products'
 'Sweet potatoes' 'Roots, Other' 'Beans' 'Peas' 'Sorghum and products'
 'Plantains' 'Cloves' 'Yams' 'Sunflower seed' 'Sugar cane'
 'Sugar non-centrifugal' 'Ricebran Oil' 'Sugar Crops' 'Sugar beet'
 'Molasses']

In [12]:
# Do the same as above, but for livestock
livestock_2000 = pd.read_csv('datasets/livestock_2000.csv')
# list of livestock names
livestock_names_all = livestock_2000['ItemName'].unique()
livestock_names_all = livestock_names_all[1:-1]
livestock_names = []
for name in livestock_names_all:
    if name != 'Grand Total':
        livestock_names.append(name)

# list to put our separated dataframes
livestock_dfs = []

# separate dataframe based on itemname
for crop in livestock_names:
    crop_df = livestock_2000[(livestock_2000['ItemName'] == crop)]
    livestock_dfs.append(crop_df)

print livestock_names
print len(livestock_names)

['Bovine Meat', 'Mutton & Goat Meat', 'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals, Edible', 'Fats, Animals, Raw', 'Milk, Whole', 'Butter, Ghee', 'Cheese', 'Cream', 'Eggs', 'Honey', 'Freshwater Fish', 'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other', 'Crustaceans', 'Cephalopods', 'Molluscs, Other', 'Aquatic Plants', 'Fish, Body Oil', 'Fish, Liver Oil', 'Milk - Excluding Butter', 'Meat', 'Offals', 'Animal fats', 'Fish, Seafood', 'Aquatic Products, Other', 'Animal Products', 'Aquatic Animals, Others', 'Whey', 'Meat Meal', 'Meat, Aquatic Mammals', 'Hides and skins']
35

In [13]:
# read in disease rates
column_headers = ["Country", "Year", "Mortality", "Mortality 2", "Mortality 3"]
diabetes = pd.read_csv('datasets/diabetes.csv', names = column_headers)
cardio = pd.read_csv('datasets/cardiovascular.csv', names = column_headers)
cancer= pd.read_csv('datasets/Cancer.csv', names = column_headers)

In [14]:
cardio.iloc[3:, 0:3].head(n=5)
#cardio.columns = ['Country', 'Year', 'Mortality']

       Country  Year Mortality
3  Afghanistan  2012     511.5
4  Afghanistan  2000     542.3
5      Albania  2012     436.2
6      Albania  2000     560.5
7      Algeria  2012     396.6

In [15]:
cardio_2012 = cardio[(cardio["Year"] == "2012")] 
cardio_2000 = cardio[(cardio["Year"] == "2000")]

In [16]:
diabetes_2012 = diabetes[(diabetes['Year'] == '2012')] 
diabetes_2000 = diabetes[(diabetes['Year'] == '2000')] 
diabetes_2000

,Country,Year,Mortality,Mortality 2,Mortality 3
4,Afghanistan,2000,34.0,35.1,32.8
6,Albania,2000,8.3,8.2,8.3
8,Algeria,2000,67.2,62.1,73.4
10,Angola,2000,35.0,36.4,33.2
12,Argentina,2000,19.9,16.0,25.2
14,Armenia,2000,32.2,33.6,29.2
16,Australia,2000,10.2,8.0,13.0
18,Austria,2000,15.5,12.4,19.3
20,Azerbaijan,2000,19.6,21.4,16.6
22,Bahamas,2000,45.6,41.5,49.9
24,Bahrain,2000,75.9,72.5,78.8
26,Bangladesh,2000,25.7,23.8,27.4
28,Barbados,2000,49.9,48.2,50.9
30,Belarus,2000,5.1,5.1,4.9
32,Belgium,2000,9.3,8.6,9.8
34,Belize,2000,54.0,65.2,41.5
36,Benin,2000,50.2,50.2,49.7
38,Bhutan,2000,30.0,32.3,28.1
40,Bolivia (Plurinational State of),2000,45.9,49.5,41.2
42,Bosnia and Herzegovina,2000,19.8,23.2,14.7
44,Botswana,2000,43.2,53.7,27.7
46,Brazil,2000,39.3,42.2,35.4
48,Brunei Darussalam,2000,59.6,64.8,54.2
50,Bulgaria,2000,14.8,14.7,14.6
52,Burkina Faso,2000,58.8,67.3,46.0
54,Burundi,2000,32.4,28.6,36.8
56,Cote d'Ivoire,2000,42.8,46.5,39.3
58,Cabo Verde,2000,23.4,22.7,24.3
60,Cambodia,2000,15.9,18.1,13.2
62,Cameroon,2000,42.7,43.8,41.1
...,...,...,...,...,...
288,Spain,2000,10.7,10.1,11.0
290,Sri Lanka,2000,46.8,40.2,53.7
292,Sudan,2000,33.2,32.7,33.7
294,Suriname,2000,39.4,34.4,44.8
296,Swaziland,2000,80.5,102.4,52.7
298,Sweden,2000,8.5,7.0,10.4
300,Switzerland,2000,10.2,8.9,11.6
302,Syrian Arab Republic,2000,9.7,10.4,8.8
304,Tajikistan,2000,18.0,19.0,17.1
306,Thailand,2000,33.6,38.5,27.7
308,The former Yugoslav republic of Macedonia,2000,24.6,25.9,22.8
310,Timor-Leste,2000,32.3,37.9,26.3
312,Togo,2000,38.4,39.2,37.2
314,Trinidad and Tobago,2000,136.8,122.0,155.6
316,Tunisia,2000,29.7,33.5,25.5
318,Turkey,2000,18.0,19.2,16.1
320,Turkmenistan,2000,19.8,20.6,18.5
322,Uganda,2000,41.5,38.2,45.2
324,Ukraine,2000,5.1,5.0,5.2
326,United Arab Emirates,2000,33.0,40.8,27.3
328,United Kingdom of Great Britain and Northern I...,2000,5.7,4.8,6.8
330,United Republic of Tanzania,2000,54.3,53.2,55.1
332,United States of America,2000,16.7,15.1,18.7
334,Uruguay,2000,13.5,12.0,15.4
336,Uzbekistan,2000,19.4,18.4,20.5
338,Venezuela (Bolivarian Republic of),2000,43.6,44.8,42.0
340,Viet Nam,2000,16.0,15.4,16.6
342,Yemen,2000,26.2,26.5,25.9
344,Zambia,2000,45.1,49.7,39.0
346,Zimbabwe,2000,21.6,22.2,20.6

In [17]:
cancer_2012 = cancer[(cancer['Year'] == ' 2012')] 
cancer_2000 = cancer[(cancer['Year'] == ' 2000')] 
cancer_2012

,Country,Year,Mortality,Mortality 2,Mortality 3
3,Afghanistan,2012,123.6,110.6,142.2
5,Albania,2012,123.1,105.3,142.5
7,Algeria,2012,80.6,78.0,83.9
9,Angola,2012,89.6,86.1,97.9
11,Argentina,2012,131.5,109.1,166.5
13,Armenia,2012,219.6,175.3,277.1
15,Australia,2012,111.0,90.6,135.9
17,Austria,2012,122.0,99.7,152.3
19,Azerbaijan,2012,112.8,88.5,145.0
21,Bahamas,2012,103.8,88.1,131.8
23,Bahrain,2012,71.3,65.4,80.4
25,Bangladesh,2012,87.8,79.9,94.9
27,Barbados,2012,140.4,117.7,179.3
29,Belarus,2012,117.0,79.0,182.2
31,Belgium,2012,130.3,102.0,167.5
33,Belize,2012,83.4,57.3,114.4
35,Benin,2012,89.6,82.6,104.8
37,Bhutan,2012,80.1,79.8,80.8
39,Bolivia (Plurinational State of),2012,106.6,109.9,106.0
41,Bosnia and Herzegovina,2012,108.9,80.8,146.8
43,Botswana,2012,86.5,70.6,110.5
45,Brazil,2012,118.5,100.2,142.9
47,Brunei Darussalam,2012,86.4,80.3,94.1
49,Bulgaria,2012,132.3,99.2,175.7
51,Burkina Faso,2012,91.7,92.4,95.7
53,Burundi,2012,134.1,142.4,130.2
55,Cote d'Ivoire,2012,111.3,100.5,123.1
57,Cabo Verde,2012,63.1,62.0,68.2
59,Cambodia,2012,100.6,92.7,111.7
61,Cameroon,2012,73.4,73.9,75.2
...,...,...,...,...,...
287,Spain,2012,119.8,80.8,169.3
289,Sri Lanka,2012,64.6,61.4,68.8
291,Sudan,2012,85.0,76.2,96.0
293,Suriname,2012,82.9,64.8,108.7
295,Swaziland,2012,84.9,75.7,101.1
297,Sweden,2012,110.3,100.5,124.9
299,Switzerland,2012,103.8,83.9,131.1
301,Syrian Arab Republic,2012,111.8,99.0,125.4
303,Tajikistan,2012,90.5,80.0,103.0
305,Thailand,2012,102.8,82.6,127.8
307,The former Yugoslav republic of Macedonia,2012,146.4,110.1,189.5
309,Timor-Leste,2012,150.7,122.3,185.4
311,Togo,2012,99.8,93.9,109.0
313,Trinidad and Tobago,2012,136.6,115.2,172.8
315,Tunisia,2012,73.0,52.9,96.6
317,Turkey,2012,134.2,86.9,198.5
319,Turkmenistan,2012,113.4,94.6,137.9
321,Uganda,2012,133.6,122.3,150.0
323,Ukraine,2012,118.8,86.2,173.1
325,United Arab Emirates,2012,99.2,94.1,103.6
327,United Kingdom of Great Britain and Northern I...,2012,130.4,112.5,153.9
329,United Republic of Tanzania,2012,94.9,90.9,104.4
331,United States of America,2012,121.2,104.2,143.6
333,Uruguay,2012,154.3,115.9,211.5
335,Uzbekistan,2012,76.7,69.7,86.2
337,Venezuela (Bolivarian Republic of),2012,92.5,86.8,100.8
339,Viet Nam,2012,112.1,74.2,163.4
341,Yemen,2012,72.4,66.0,79.7
343,Zambia,2012,105.0,113.5,98.8
345,Zimbabwe,2012,223.0,226.6,223.5

In [18]:
cardio_2012.head(n=5)

        Country  Year Mortality Mortality 2 Mortality 3
3   Afghanistan  2012     511.5       520.9       498.0
5       Albania  2012     436.2       417.6       447.4
7       Algeria  2012     396.6       359.9       434.6
9        Angola  2012     374.6       369.8       376.4
11    Argentina  2012     191.7       148.4       247.8

In [19]:
cardio_2000.head(n=5)

        Country  Year Mortality Mortality 2 Mortality 3
4   Afghanistan  2000     542.3       554.1       523.1
6       Albania  2000     560.5       494.7       638.6
8       Algeria  2000     434.7       401.2       472.2
10       Angola  2000     383.4       385.2       375.2
12    Argentina  2000     226.6       169.1       302.8

In [20]:
all_foods = all_crop_dfs
print len(all_foods)

89

In [21]:
# plot for cardio
def food_cardio_plot(food_df, cardio):
    score = 1
    morts = []
    food_amts = []
    
    # for each country
    for country in food_df['AreaName'].values:
        # make sure it's in the disease df
        if not cardio[(cardio['Country'] == country)].empty:
            # find the disease data for that country
            country_data = cardio[(cardio['Country'] == country)]
            # find mortality rate
            mort = country_data.iloc[1,2]
            # append to mortality list
            morts.append(float(mort))
            # find amount of that particular food consumed in that country
            food_amt = food_df[(food_df['AreaName'] == country)].iloc[0, 9]
            # append to food_amounts
            food_amts.append(float(food_amt))
    
    # scatter the amounts against mortality rates
    #ax.scatter(food_amts, morts)
    
    # reshape for LinReg to get R^2
    X = np.array(food_amts).reshape(-1, 1)
    y = np.array(morts)
    
    if (len(food_df['ItemName'].values) > 0) and (X.shape[0] > 0):
        # linreg
        regr = LinReg()
        # fit, score linreg
        regr.fit(X, y)
        score = regr.score(X,y)
        #ax.set_title("R^2 = " + str(score))
    
    #ax.set_xlabel(food_df['ItemName'].values[0])
    #ax.set_ylabel('Cancer Disease Mortality Rate')
    
    return score

In [22]:
# Diabetes plot works the same way except for diabetes
def food_diabetes_plot(food_df, cardio):
    score = 1
    morts = []
    food_amts = []
    for country in food_df['AreaName'].values:
        if not cardio[(cardio['Country'] == country)].empty:
            country_data = cardio[(cardio['Country'] == country)]
            mort = country_data.iloc[1,2]
            morts.append(float(mort))
            food_amt = food_df[(food_df['AreaName'] == country)].iloc[0, 9]
            food_amts.append(float(food_amt))
    #ax.scatter( food_amts, morts)
    X = np.array(food_amts).reshape(-1, 1)
    y = np.array(morts)
    if (len(food_df['ItemName'].values) > 0) and (X.shape[0] > 0):
        regr = LinReg()
        regr.fit(X, y)
        score = regr.score(X,y)
        #ax.set_title("R^2 = " + str(score))
    
    #ax.set_xlabel(food_df['ItemName'].values[0] + str('(kg/capita/yr)'))
    #ax.set_ylabel('Diabetes Disease Mortality Rate')
    
    return score

In [23]:
# Cancer works the same way except for cancer
def food_cancer_plot(food_df, cardio):
    score = 1
    morts = []
    food_amts = []
    for country in food_df['AreaName'].values:
        if not cardio[(cardio['Country'] == country)].empty:
            country_data = cardio[(cardio['Country'] == country)]
            mort = country_data.iloc[1,2]
            morts.append(float(mort))
            food_amt = food_df[(food_df['AreaName'] == country)].iloc[0, 9]
            food_amts.append(float(food_amt))
    #ax.scatter(food_amts, morts)
    
    X = np.array(food_amts).reshape(-1, 1)
    y = np.array(morts)
    
    if (len(food_df['ItemName'].values) > 0) and (X.shape[0] > 0):
        regr = LinReg()
        regr.fit(X, y)
        score = regr.score(X,y)
        #ax.set_title("R^2 = " + str(score))
        #ax.set_xlabel(food_df['ItemName'].values[0])
        #ax.set_ylabel('Cancer Disease Mortality Rate')
    return score

In [24]:
#fig, ax = plt.subplots(18, 5, figsize=(18, 50))

#flatten list of axes
#axes = [e for l in ax for e in l]

# store r2s
cardio_crop_r2 = {}

# go through and plot each one
for df in all_crop_dfs:
    r2 = food_cardio_plot(df, cardio)
    crop_name = df['ItemName'].values[0]
    cardio_crop_r2[crop_name] = r2

#plt.tight_layout()
#plt.show()

In [25]:
#fig, ax = plt.subplots(18, 5, figsize=(18, 50))

# flatten list of axes
#axes = [e for l in ax for e in l]

# store r2s
diabetes_crop_r2 = {}
    
# iterate through
for df in all_crop_dfs:
    r2 = food_diabetes_plot(df, diabetes)
    crop_name = df['ItemName'].values[0]
    diabetes_crop_r2[crop_name] = r2


#plt.tight_layout()
#plt.show()

In [26]:
#fig, ax = plt.subplots(18, 5, figsize=(18, 50))

# flatten list of axes
#axes = [e for l in ax for e in l]

# store r2s
cancer_crop_r2 = {}

# go through
for df in all_crop_dfs:
    r2 =food_cancer_plot(df, cancer)
    crop_name = df['ItemName'].values[0]
    cancer_crop_r2[crop_name] = r2

#plt.tight_layout()
#plt.show()

In [27]:
#fig, ax = plt.subplots(7, 5, figsize=(25, 35))

#axes = [e for l in ax for e in l]

cardio_livestock_r2 = {}

for df in livestock_dfs:
    r2 =food_cardio_plot(df, cardio)
    livestock_name = df['ItemName'].values[0]
    cardio_livestock_r2[livestock_name] = r2

#plt.tight_layout()
#plt.show()

In [28]:
#fig, ax = plt.subplots(7, 5, figsize=(25, 35))

#axes = [e for l in ax for e in l]

diabetes_livestock_r2 = {}

for df in livestock_dfs:
    r2 =food_diabetes_plot(df, diabetes)
    livestock_name = df['ItemName'].values[0]
    diabetes_livestock_r2[livestock_name] = r2

#plt.tight_layout()
#plt.show()

In [29]:
#fig, ax = plt.subplots(7, 5, figsize=(25, 35))

#axes = [e for l in ax for e in l]

cancer_livestock_r2 = {}

for df in livestock_dfs:
    r2 =food_cancer_plot(df, cancer)
    livestock_name = df['ItemName'].values[0]
    cancer_livestock_r2[livestock_name] = r2

print cancer_livestock_r2
#plt.tight_layout()
#plt.show()

{'Animal Products': 0.13782440381828331, 'Meat, Aquatic Mammals': 0.0, 'Meat Meal': 1.0, 'Aquatic Products, Other': 0.00353222275657461, 'Honey': 0.0052637428739564784, 'Whey': 0.00417475995904526, 'Butter, Ghee': 0.0094586402207729181, 'Fats, Animals, Raw': 0.0086964785852524651, 'Crustaceans': 0.0026917672873718597, 'Eggs': 0.0032996051640215018, 'Milk, Whole': 0.0045470464573785785, 'Marine Fish, Other': 0.00051488869695659467, 'Demersal Fish': 0.0047298781135477475, 'Pigmeat': 0.0061053679627908206, 'Meat': 0.0056276749097191603, 'Freshwater Fish': 0.00022119829606881411, 'Milk - Excluding Butter': 0.0018935129822559293, 'Fish, Liver Oil': 0.0072314612337650566, 'Fish, Seafood': 0.0013677082943757135, 'Meat, Other': 0.0064762318220931148, 'Cephalopods': 0.0035978159036941237, 'Mutton & Goat Meat': 0.0001075483830690338, 'Cheese': 0.015827925923861508, 'Pelagic Fish': 0.0005990698417333018, 'Offals': 0.002565371099821578, 'Bovine Meat': 0.0030885740151288528, 'Molluscs, Other': 0.0042518932555131173, 'Fish, Body Oil': 0.0059310786456356901, 'Aquatic Animals, Others': 0.003692521809931848, 'Animal fats': 0.0016317256693649804, 'Poultry Meat': 0.0045098074404874566, 'Offals, Edible': 0.0025628646945212719, 'Aquatic Plants': 0.0033703616603042441, 'Hides and skins': 1, 'Cream': 0.031645540276718509}

In [30]:
all_crop_dfs[0].head(n=5)

,﻿Domain Code,Domain,AreaCode,AreaName,ElementCode,ElementName,ItemCode,ItemName,Year,Value,Flag,FlagD
0,CC,Food Supply - Crops Primary Equivalent,1.0,Armenia,645.0,Food supply quantity (kg/capita/yr),2511.0,Wheat and products,2000.0,156.48,Fc,Calculated data
71,CC,Food Supply - Crops Primary Equivalent,2.0,Afghanistan,645.0,Food supply quantity (kg/capita/yr),2511.0,Wheat and products,2000.0,126.26,Fc,Calculated data
130,CC,Food Supply - Crops Primary Equivalent,3.0,Albania,645.0,Food supply quantity (kg/capita/yr),2511.0,Wheat and products,2000.0,161.61,Fc,Calculated data
200,CC,Food Supply - Crops Primary Equivalent,4.0,Algeria,645.0,Food supply quantity (kg/capita/yr),2511.0,Wheat and products,2000.0,180.20,Fc,Calculated data
276,CC,Food Supply - Crops Primary Equivalent,7.0,Angola,645.0,Food supply quantity (kg/capita/yr),2511.0,Wheat and products,2000.0,26.04,Fc,Calculated data

In [31]:
# dictionary of all dataframes, crop and livestock
all_dfs = {}
for df in all_crop_dfs:
    crop_name = df['ItemName'].values[0]
    all_dfs[crop_name] = df

for df in livestock_dfs:
    crop_name = df['ItemName'].values[0]
    all_dfs[crop_name] = df

In [32]:
print len(cancer_crop_r2)
print len(cancer_livestock_r2)
for k, v in cancer_livestock_r2.items():
    cancer_crop_r2[k] = v
print len(cancer_crop_r2)

89
35
124

In [33]:

for k, v in diabetes_livestock_r2.items():
    diabetes_crop_r2[k] = v

In [34]:
print len(cardio_crop_r2)
print len(cardio_livestock_r2)
for k, v in cardio_livestock_r2.items():
    cardio_crop_r2[k] = v
print len(cardio_crop_r2)

89
35
124

In [35]:
cancer_r2_sort = sorted(cancer_crop_r2.items(), key= lambda x: -x[1])
diabetes_r2_sort = sorted(diabetes_crop_r2.items(), key= lambda x: -x[1])
cardio_r2_sort = sorted(cardio_crop_r2.items(), key= lambda x: -x[1])

In [36]:
print cardio_r2_sort

[('Molasses', 1.0), ('Hides and skins', 1), ('Meat Meal', 1.0), ('Wheat and products', 0.17691159173120341), ('Cereals - Excluding Beer', 0.17654642887748373), ('Cottonseed Oil', 0.16233585584342747), ('Coffee and products', 0.15094498145821922), ('Oranges, Mandarines', 0.14045290297240975), ('Fruits - Excluding Wine', 0.13106405225895101), ('Stimulants', 0.13002408775163987), ('Alcoholic Beverages', 0.11919558520637275), ('Beer', 0.11153274849099726), ('Sugar & Sweeteners', 0.10093166409290155), ('Sugar, Raw Equivalent', 0.10065002834812142), ('Vegetable Oils', 0.089010886869657746), ('Soyabean Oil', 0.088158071312481212), ('Ricebran Oil', 0.085285860529225266), ('Rape and Mustard Oil', 0.083554953546264299), ('Cocoa Beans and products', 0.080178598283944802), ('Sweeteners, Other', 0.063097321078699475), ('Wine', 0.062815197565267322), ('Sugar, Refined Equiv', 0.060804073933226295), ('Sugar (Raw Equivalent)', 0.060796484725454063), ('Fruits, Other', 0.059855606502627667), ('Sugar beet', 0.0587705522464258), ('Bananas', 0.057685688912129551), ('Pineapples and products', 0.039177623144377782), ('Fish, Body Oil', 0.038797003930298279), ('Animal Products', 0.036599727827304918), ('Pepper', 0.034781245544512895), ('Infant food', 0.03171693610223536), ('Yams', 0.03018805378433087), ('Fish, Liver Oil', 0.029585948988911537), ('Olive Oil', 0.028647831276113481), ('Sunflowerseed Oil', 0.028597590294534236), ('Nuts and products', 0.028422459022769849), ('Grapes and products (excl wine)', 0.027588257800419184), ('Treenuts', 0.027429813333340488), ('Onions', 0.027043512184766746), ('Rye and products', 0.026690613684440478), ('Sunflower seed', 0.024035077547330697), ('Lemons, Limes and products', 0.023785478507202695), ('Pulses', 0.023337732543633027), ('Palmkernel Oil', 0.02328887051201578), ('Barley and products', 0.019474193591615174), ('Cheese', 0.019389474076522695), ('Grapefruit and products', 0.018699401459802423), ('Soyabeans', 0.018627522265924457), ('Cephalopods', 0.01790998368841823), ('Whey', 0.017023786211524894), ('Potatoes and products', 0.0153607535641066), ('Miscellaneous', 0.014505986125039727), ('Apples and products', 0.012415912340862367), ('Oilcrops, Other', 0.011260327880786347), ('Dates', 0.011197658738038796), ('Bovine Meat', 0.010265344391026443), ('Sugar non-centrifugal', 0.0093715217176798538), ('Sugar Crops', 0.0093143313478213363), ('Beans', 0.0089125776033324167), ('Groundnuts (in Shell Eq)', 0.0086156509725818786), ('Sugar cane', 0.0086037311252817883), ('Groundnuts (Shelled Eq)', 0.0086021626681448415), ('Maize and products', 0.008339939921861439), ('Millet and products', 0.008009884986273863), ('Meat, Other', 0.0078576744713020341), ('Poultry Meat', 0.0078351981711982654), ('Groundnut Oil', 0.0072720302794677671), ('Demersal Fish', 0.006572477964963519), ('Oats', 0.006503153373117021), ('Cereals, Other', 0.0063308652741517202), ('Oilcrops Oil, Other', 0.0063172321693797384), ('Tomatoes and products', 0.006308276185814532), ('Rice (Paddy Equivalent)', 0.005385779999942053), ('Rice (Milled Equivalent)', 0.0053857669717444212), ('Maize Germ Oil', 0.0050989784652587522), ('Meat', 0.004841486390909977), ('Animal fats', 0.0046650734171962416), ('Honey', 0.0043961872153363002), ('Aquatic Animals, Others', 0.0042405976099509912), ('Crustaceans', 0.00410013445847901), ('Fats, Animals, Raw', 0.0040488113221447408), ('Sorghum and products', 0.003902767516004602), ('Beverages, Alcoholic', 0.0037154008042193931), ('Spices, Other', 0.0037069667826254986), ('Milk - Excluding Butter', 0.0036896792004936785), ('Sesame seed', 0.0034561983146881299), ('Cream', 0.0033290043864359071), ('Vegetables', 0.0032009434943195414), ('Cassava and products', 0.0027937573578815655), ('Palm Oil', 0.0026623362304381004), ('Fish, Seafood', 0.0025354614197152792), ('Marine Fish, Other', 0.0021303471156902676), ('Spices', 0.0020839214301047182), ('Pigmeat', 0.0017626687718175216), ('Molluscs, Other', 0.0017293409922294334), ('Cloves', 0.0016458024347915099), ('Beverages, Fermented', 0.0015708016767197464), ('Starchy Roots', 0.0014459002038225144), ('Eggs', 0.0011496067980611979), ('Plantains', 0.0010927718526438923), ('Coconuts - Incl Copra', 0.00098778826886103399), ('Peas', 0.00087681457571009425), ('Offals, Edible', 0.00074379405769520179), ('Offals', 0.00074163267934967969), ('Olives (including preserved)', 0.00070468300636783443), ('Freshwater Fish', 0.0006776022745976773), ('Oilcrops', 0.00055100184057166324), ('Pelagic Fish', 0.00054022157251587544), ('Citrus, Other', 0.00046549879375312736), ('Roots & Tuber Dry Equiv', 0.00044699414747362271), ('Pulses, Other and products', 0.00038687654433977592), ('Pimento', 0.00022600139938633301), ('Aquatic Products, Other', 0.00018283236824323534), ('Butter, Ghee', 0.00017544717008677324), ('Vegetables, Other', 0.00015624660564916848), ('Mutton & Goat Meat', 0.00012911848303509554), ('Coconut Oil', 9.5374771354905796e-05), ('Aquatic Plants', 9.4660385814404613e-05), ('Roots, Other', 9.2326542192378014e-05), ('Milk, Whole', 8.5551865558253226e-05), ('Sesameseed Oil', 6.2501735157649563e-05), ('Sweet potatoes', 3.1120890955693703e-05), ('Tea (including mate)', 1.8656403083960882e-05), ('Meat, Aquatic Mammals', 0.0)]

In [37]:
print cancer_2000.shape
cancer_2000.head(n=5)

(172, 5)

        Country   Year Mortality Mortality 2 Mortality 3
4   Afghanistan   2000     122.9       107.9       143.6
6       Albania   2000     137.7       109.0       169.4
8       Algeria   2000      75.1        77.8        72.6
10       Angola   2000      74.8        73.4        80.3
12    Argentina   2000     136.8       112.1       173.3

# Lin Reg for Cardio

In [38]:
N = 15
#x = pd.DataFrame({}) 

countries = list(cancer_2000['Country'].values)
cols = []
for name, r2 in cardio_r2_sort[:N]:
    if r2 != 1.0 and name != 'Cottonseed Oil':
        df = all_dfs[name]
        print df.shape
        cols.append(name)
        for country in countries:
            if country not in df['AreaName'].values:
                countries.remove(country)
print len(countries)

x = []
for country in countries:
    predictors = []
    for name, r2 in cardio_r2_sort[:N]:
        if r2 != 1.0 and name != 'Cottonseed Oil':
            df = all_dfs[name]
            for index, area in enumerate(df['AreaName'].values):
                if area == country and not math.isnan(df['Value'].values[index]):
                    predictors.append(df['Value'].values[index])
    x.append(predictors)

x_df = pd.DataFrame(x, columns = cols)
x_df.head(n=5)

(209, 12)
(209, 12)
(209, 12)
(208, 12)
(209, 12)
(209, 12)
(208, 12)
(208, 12)
(209, 12)
(209, 12)
(209, 12)
149

,Wheat and products,Cereals - Excluding Beer,Coffee and products,"Oranges, Mandarines",Fruits - Excluding Wine,Stimulants,Alcoholic Beverages,Beer,Sugar & Sweeteners,"Sugar, Raw Equivalent",Vegetable Oils
0,126.26,152.56,0.00,0.82,24.74,0.94,0.00,0.00,3.19,2.97,1.99
1,161.61,172.77,1.28,8.66,70.80,1.51,15.73,12.49,23.00,22.80,6.96
2,180.20,209.26,3.36,12.07,40.93,3.81,3.17,3.16,28.70,28.67,15.02
3,26.04,73.55,0.11,0.00,28.24,0.17,15.94,8.73,9.66,8.11,8.05
4,110.99,129.01,1.02,39.04,109.50,9.13,68.69,33.04,47.42,47.29,14.28

In [39]:
y = []
for country in countries:
    for index, area in enumerate(cancer_2000['Country'].values):
        if area == country:
            y.append(cancer_2000['Mortality'].values[index])
            
y_df = pd.DataFrame(y, columns = ['Cancer Mortality Rate'])
y_df.head(n=5)

  Cancer Mortality Rate
0                 122.9
1                 137.7
2                  75.1
3                  74.8
4                 136.8

In [40]:
x_df.head(n=30)

,Wheat and products,Cereals - Excluding Beer,Coffee and products,"Oranges, Mandarines",Fruits - Excluding Wine,Stimulants,Alcoholic Beverages,Beer,Sugar & Sweeteners,"Sugar, Raw Equivalent",Vegetable Oils
0,126.26,152.56,0.00,0.82,24.74,0.94,0.00,0.00,3.19,2.97,1.99
1,161.61,172.77,1.28,8.66,70.80,1.51,15.73,12.49,23.00,22.80,6.96
2,180.20,209.26,3.36,12.07,40.93,3.81,3.17,3.16,28.70,28.67,15.02
3,26.04,73.55,0.11,0.00,28.24,0.17,15.94,8.73,9.66,8.11,8.05
4,110.99,129.01,1.02,39.04,109.50,9.13,68.69,33.04,47.42,47.29,14.28
5,156.48,161.90,2.62,0.41,48.11,2.93,6.18,2.31,24.71,24.26,3.58
6,66.25,81.42,2.82,23.74,90.92,5.04,112.47,89.90,44.97,44.38,19.16
7,80.13,117.33,5.31,9.13,127.06,7.98,148.63,109.90,46.51,44.91,18.83
8,190.92,201.90,0.01,1.93,58.14,0.49,19.83,8.86,10.96,10.85,2.22
9,46.93,87.25,2.64,112.93,302.01,3.36,30.20,10.07,43.62,43.78,3.36
10,24.14,188.39,0.00,0.27,10.10,0.26,0.02,0.02,6.62,6.62,6.26
11,68.81,101.12,1.45,22.71,86.14,0.00,44.94,32.93,52.43,53.96,11.24
12,83.78,141.87,0.09,2.40,26.25,1.20,34.97,19.36,39.17,38.86,8.62
13,99.83,106.84,3.51,4.42,72.46,3.70,128.85,101.48,59.21,58.66,22.30
14,64.17,118.36,2.98,88.74,242.90,4.12,33.14,27.64,44.59,44.35,4.15
15,7.04,99.44,0.05,1.99,22.02,0.00,11.08,5.27,4.75,4.80,5.76
16,54.29,116.66,2.80,17.92,97.47,4.00,28.25,25.51,27.78,27.65,3.53
17,100.24,199.53,0.41,5.38,29.47,1.56,41.99,26.02,13.56,13.25,6.78
18,32.16,103.13,0.72,20.88,64.39,2.28,52.42,24.40,23.93,23.86,5.70
19,43.75,98.73,2.87,43.20,109.45,6.48,55.91,50.10,39.96,39.83,16.57
20,41.89,147.59,2.45,13.25,72.29,9.04,3.01,2.63,30.12,32.64,6.02
21,136.80,156.48,2.18,4.28,51.49,3.00,69.24,51.40,28.87,28.73,13.87
22,7.99,195.85,0.14,0.18,7.81,0.19,163.16,4.59,3.35,3.35,4.62
23,35.88,124.43,1.85,3.33,42.99,2.26,29.41,24.36,24.89,23.86,6.79
24,2.18,177.04,0.06,4.78,25.03,0.08,5.40,3.53,8.43,8.41,1.96
25,13.56,90.16,0.37,0.03,76.72,0.82,49.03,22.98,8.79,8.55,7.72
26,89.47,118.58,4.68,52.48,126.04,6.91,104.28,72.52,50.56,49.94,25.12
27,10.60,49.20,0.98,5.95,53.05,1.10,21.17,6.72,10.17,6.54,10.17
28,6.07,119.83,0.01,0.00,10.50,0.08,2.24,1.07,7.37,7.25,3.94
29,111.10,134.98,0.59,6.10,55.07,2.52,34.17,19.48,45.75,45.43,10.35

In [41]:
last = -1
linreg = LinReg()
#linreg.fit(x_df.iloc[:, :last], y_df)
#linreg.score(x_df.iloc[:, :last], y_df)
linreg.fit(x_df, y_df)
linreg.score(x_df, y_df)

0.20538255210022283

# Lin Reg for Diabetes

In [42]:
N = 22
#x = pd.DataFrame({}) 

countries = list(diabetes_2000['Country'].values)
cols = []
for name, r2 in diabetes_r2_sort[:N]:
    if r2 != 1.0 and name != 'Rye and products' and name != 'Rape and Mustard Oil':
        df = all_dfs[name]
        print df.shape
        cols.append(name)
        for country in countries:
            if country not in df['AreaName'].values:
                countries.remove(country)
print len(countries)
print cols
print len(cols)

x = []
for country in countries:
    predictors = []
    for name, r2 in diabetes_r2_sort[:N]:
        if r2 != 1.0 and name != 'Rye and products' and name != 'Rape and Mustard Oil':
            df = all_dfs[name]
            for index, area in enumerate(df['AreaName'].values):
                #if area == country and not math.isnan(df['Value'].values[index]):
                if area == country:
                    predictors.append(df['Value'].values[index])
                    #print name
                    break
    x.append(predictors)
    #print 'end'

x_df = pd.DataFrame(x, columns = cols)
x_df.head(n=5)

(209, 12)
(759, 12)
(209, 12)
(205, 12)
(209, 12)
(209, 12)
(205, 12)
(208, 12)
(207, 12)
(208, 12)
(207, 12)
(206, 12)
(202, 12)
(206, 12)
(209, 12)
(208, 12)
(209, 12)
139
['Potatoes and products', 'Animal Products', 'Apples and products', 'Wine', 'Coffee and products', 'Stimulants', 'Pulses, Other and products', 'Beer', 'Spices, Other', 'Pulses', 'Oilcrops', 'Grapes and products (excl wine)', 'Coconuts - Incl Copra', 'Beverages, Alcoholic', 'Vegetables', 'Alcoholic Beverages', 'Vegetables, Other']
17

,Potatoes and products,Animal Products,Apples and products,Wine,Coffee and products,Stimulants,"Pulses, Other and products",Beer,"Spices, Other",Pulses,Oilcrops,Grapes and products (excl wine),Coconuts - Incl Copra,"Beverages, Alcoholic",Vegetables,Alcoholic Beverages,"Vegetables, Other"
0,10.63,275.0,0.40,0.00,0.00,0.94,1.05,0.00,0.00,1.05,0.58,9.13,0.00,0.00,29.34,0.00,29.34
1,29.18,674.0,10.94,2.37,1.28,1.51,0.17,12.49,0.01,5.14,7.87,22.15,0.00,0.93,156.73,15.73,102.24
2,37.07,277.0,2.89,0.01,3.36,3.81,3.87,3.16,0.10,5.45,0.73,4.59,0.00,0.00,75.82,3.17,42.43
3,48.21,1014.0,14.21,33.90,1.02,9.13,0.68,33.04,0.13,1.03,1.44,1.05,0.31,1.77,71.81,68.69,39.70
4,63.78,347.0,3.97,1.29,2.62,2.93,0.00,2.31,0.00,0.00,0.33,12.39,0.00,2.62,120.61,6.18,71.41

In [43]:
y = []
for country in countries:
    for index, area in enumerate(diabetes_2000['Country'].values):
        if area == country:
            y.append(diabetes_2000['Mortality'].values[index])
            
y_df = pd.DataFrame(y, columns = ['Diabetes Mortality Rate'])
y_df.head(n=5)

  Diabetes Mortality Rate
0                    34.0
1                     8.3
2                    67.2
3                    19.9
4                    32.2

In [44]:
x_df.head(n=20)

,Potatoes and products,Animal Products,Apples and products,Wine,Coffee and products,Stimulants,"Pulses, Other and products",Beer,"Spices, Other",Pulses,Oilcrops,Grapes and products (excl wine),Coconuts - Incl Copra,"Beverages, Alcoholic",Vegetables,Alcoholic Beverages,"Vegetables, Other"
0,10.63,275.0,0.40,0.00,0.00,0.94,1.05,0.00,0.00,1.05,0.58,9.13,0.00,0.00,29.34,0.00,29.34
1,29.18,674.0,10.94,2.37,1.28,1.51,0.17,12.49,0.01,5.14,7.87,22.15,0.00,0.93,156.73,15.73,102.24
2,37.07,277.0,2.89,0.01,3.36,3.81,3.87,3.16,0.10,5.45,0.73,4.59,0.00,0.00,75.82,3.17,42.43
3,48.21,1014.0,14.21,33.90,1.02,9.13,0.68,33.04,0.13,1.03,1.44,1.05,0.31,1.77,71.81,68.69,39.70
4,63.78,347.0,3.97,1.29,2.62,2.93,0.00,2.31,0.00,0.00,0.33,12.39,0.00,2.62,120.61,6.18,71.41
5,52.54,977.0,14.71,20.26,2.82,5.04,0.55,89.90,0.06,1.19,4.36,11.01,2.27,2.05,97.93,112.47,64.03
6,62.13,1251.0,56.83,31.17,5.31,7.98,0.12,109.90,0.29,0.87,3.62,6.63,0.73,7.25,81.92,148.63,63.96
7,46.99,314.0,15.35,0.57,0.01,0.49,0.00,8.86,0.03,0.00,0.00,7.89,0.00,10.38,99.41,19.83,47.05
8,27.83,881.0,35.47,5.66,2.64,3.36,0.96,10.07,0.88,0.00,0.00,7.96,1.34,12.67,130.87,30.20,106.12
9,18.08,74.0,0.04,0.00,0.00,0.26,2.67,0.02,0.86,4.00,0.49,0.09,0.03,0.01,12.55,0.02,10.69
10,40.01,656.0,19.42,3.82,1.45,0.00,3.33,32.93,0.81,7.49,7.49,6.22,7.47,7.34,63.67,44.94,52.72
11,174.32,790.0,11.03,2.53,0.09,1.20,0.00,19.36,0.10,0.00,0.40,0.25,0.03,10.66,94.68,34.97,74.88
12,126.42,1173.0,31.32,25.77,3.51,3.70,0.38,101.48,0.40,2.43,3.41,3.24,1.71,1.56,119.40,128.85,96.05
13,15.22,577.0,2.54,0.72,2.98,4.12,0.25,27.64,0.08,10.48,6.60,1.20,3.41,4.42,57.74,33.14,42.62
14,0.07,94.0,0.73,0.55,0.05,0.00,2.16,5.27,0.00,10.51,9.50,0.18,0.29,0.42,52.53,11.08,27.13
15,49.00,331.0,2.24,0.33,2.80,4.00,1.49,25.51,0.05,2.35,1.06,3.11,0.14,2.21,55.09,28.25,40.10
16,69.67,399.0,7.17,1.41,0.41,1.56,0.49,26.02,0.23,2.87,0.00,2.10,0.05,14.48,125.98,41.99,109.70
17,12.81,357.0,9.81,1.68,0.72,2.28,9.46,24.40,0.73,12.54,0.57,0.61,0.21,0.82,46.15,52.42,23.78
18,12.76,643.0,5.62,1.82,2.87,6.48,0.13,50.10,0.05,16.74,13.43,3.01,10.22,3.99,37.64,55.91,16.42
19,8.19,537.0,5.34,0.15,2.45,9.04,1.02,2.63,2.11,0.00,6.02,2.10,3.22,0.26,72.29,3.01,64.61

In [45]:
last = -1
linreg = LinReg()
#linreg.fit(x_df.iloc[:, :last], y_df)
#linreg.score(x_df.iloc[:, :last], y_df)
linreg.fit(x_df, y_df)
linreg.score(x_df, y_df)

0.40876401184532102

# Lin Reg for Cancer

In [46]:
N = 20
#x = pd.DataFrame({}) 

countries = list(cancer_2000['Country'].values)
#print countries
#print cancer_r2_sort[:20]
cols = []
for name, r2 in cancer_r2_sort[:N]:
    if r2 != 1.0 and name != 'Palm Oil' and name != 'Millet and products' and name != 'Rye and products':
        df = all_dfs[name]
        print df.shape
        cols.append(name)
        for country in countries:
            if country not in df['AreaName'].values:
                countries.remove(country)
    else:
        print 'r^2 was 1'
print len(countries)
print cols
print len(cols)

x = []
for country in countries:
    predictors = []
    for name, r2 in cancer_r2_sort[:N]:
        if r2 != 1.0 and name != 'Palm Oil' and name != 'Millet and products' and name != 'Rye and products':
            df = all_dfs[name]
            for index, area in enumerate(df['AreaName'].values):
                #if area == country and not math.isnan(df['Value'].values[index]):
                if area == country:
                    predictors.append(df['Value'].values[index])
                    #print name
                    break
    x.append(predictors)
    #print 'end'

x_df = pd.DataFrame(x, columns = cols)
x_df.head(n=5)

r^2 was 1
r^2 was 1
r^2 was 1
(209, 12)
(759, 12)
(209, 12)
r^2 was 1
(206, 12)
(208, 12)
(205, 12)
(208, 12)
(205, 12)
(209, 12)
(209, 12)
(209, 12)
(209, 12)
(194, 12)
r^2 was 1
r^2 was 1
(209, 12)
135
['Potatoes and products', 'Animal Products', 'Apples and products', 'Beverages, Alcoholic', 'Alcoholic Beverages', 'Pulses, Other and products', 'Beer', 'Wine', 'Cocoa Beans and products', 'Stimulants', 'Vegetables, Other', 'Coffee and products', 'Sunflowerseed Oil', 'Rice (Paddy Equivalent)']
14

,Potatoes and products,Animal Products,Apples and products,"Beverages, Alcoholic",Alcoholic Beverages,"Pulses, Other and products",Beer,Wine,Cocoa Beans and products,Stimulants,"Vegetables, Other",Coffee and products,Sunflowerseed Oil,Rice (Paddy Equivalent)
0,10.63,275.0,0.40,0.00,0.00,1.05,0.00,0.00,0.00,0.94,29.34,0.00,0.23,27.07
1,29.18,674.0,10.94,0.93,15.73,0.17,12.49,2.37,0.42,1.51,102.24,1.28,4.25,8.19
2,37.07,277.0,2.89,0.00,3.17,3.87,3.16,0.01,0.26,3.81,42.43,3.36,9.30,2.55
3,48.21,1014.0,14.21,1.77,68.69,0.68,33.04,33.90,0.75,9.13,39.70,1.02,10.67,7.91
4,63.78,347.0,3.97,2.62,6.18,0.00,2.31,1.29,0.49,2.93,71.41,2.62,1.25,4.64

In [47]:
y = []
for country in countries:
    for index, area in enumerate(cancer_2000['Country'].values):
        if area == country:
            y.append(cancer_2000['Mortality'].values[index])
            
y_df = pd.DataFrame(y, columns = ['Cancer Mortality Rate'])
y_df.head(n=5)

  Cancer Mortality Rate
0                 122.9
1                 137.7
2                  75.1
3                 136.8
4                 209.0

In [48]:
x_df.head(n=20)

,Potatoes and products,Animal Products,Apples and products,"Beverages, Alcoholic",Alcoholic Beverages,"Pulses, Other and products",Beer,Wine,Cocoa Beans and products,Stimulants,"Vegetables, Other",Coffee and products,Sunflowerseed Oil,Rice (Paddy Equivalent)
0,10.63,275.0,0.40,0.00,0.00,1.05,0.00,0.00,0.00,0.94,29.34,0.00,0.23,27.07
1,29.18,674.0,10.94,0.93,15.73,0.17,12.49,2.37,0.42,1.51,102.24,1.28,4.25,8.19
2,37.07,277.0,2.89,0.00,3.17,3.87,3.16,0.01,0.26,3.81,42.43,3.36,9.30,2.55
3,48.21,1014.0,14.21,1.77,68.69,0.68,33.04,33.90,0.75,9.13,39.70,1.02,10.67,7.91
4,63.78,347.0,3.97,2.62,6.18,0.00,2.31,1.29,0.49,2.93,71.41,2.62,1.25,4.64
5,52.54,977.0,14.71,2.05,112.47,0.55,89.90,20.26,1.45,5.04,64.03,2.82,2.85,13.13
6,62.13,1251.0,56.83,7.25,148.63,0.12,109.90,31.17,2.37,7.98,63.96,5.31,4.86,5.32
7,46.99,314.0,15.35,10.38,19.83,0.00,8.86,0.57,0.08,0.49,47.05,0.01,0.71,5.06
8,27.83,881.0,35.47,12.67,30.20,0.96,10.07,5.66,0.67,3.36,106.12,2.64,0.10,32.79
9,18.08,74.0,0.04,0.01,0.02,2.67,0.02,0.00,0.00,0.26,10.69,0.00,0.00,245.78
10,40.01,656.0,19.42,7.34,44.94,3.33,32.93,3.82,0.79,0.00,52.72,1.45,0.03,21.66
11,174.32,790.0,11.03,10.66,34.97,0.00,19.36,2.53,0.86,1.20,74.88,0.09,5.51,2.70
12,126.42,1173.0,31.32,1.56,128.85,0.38,101.48,25.77,0.08,3.70,96.05,3.51,2.19,6.11
13,15.22,577.0,2.54,4.42,33.14,0.25,27.64,0.72,0.99,4.12,42.62,2.98,1.53,45.88
14,0.07,94.0,0.73,0.42,11.08,2.16,5.27,0.55,0.02,0.00,27.13,0.05,0.00,14.18
15,49.00,331.0,2.24,2.21,28.25,1.49,25.51,0.33,0.89,4.00,40.10,2.80,1.32,32.48
16,69.67,399.0,7.17,14.48,41.99,0.49,26.02,1.41,1.14,1.56,109.70,0.41,5.82,1.00
17,12.81,357.0,9.81,0.82,52.42,9.46,24.40,1.68,0.42,2.28,23.78,0.72,3.32,8.64
18,12.76,643.0,5.62,3.99,55.91,0.13,50.10,1.82,0.82,6.48,16.42,2.87,0.55,57.33
19,8.19,537.0,5.34,0.26,3.01,1.02,2.63,0.15,1.87,9.04,64.61,2.45,0.90,112.45

In [49]:
last = -1
linreg = LinReg()
#linreg.fit(x_df.iloc[:, :last], y_df)
#linreg.scoare(x_df.iloc[:, :last], y_df)
linreg.fit(x_df, y_df)
linreg.score(x_df, y_df)

0.31225202575257005

# Looking at missing data

In [50]:
print len(cardio_2000['Country'].unique())
print len(diabetes_2000['Country'].unique())
print len(cancer_2000['Country'].unique())

172
172
172

In [51]:
cardio_lands = cardio_2000['Country'].unique()
diabetes_lands = diabetes_2000['Country'].unique()
cancer_lands = cancer_2000['Country'].unique()

In [52]:
df = pd.read_csv('datasets/allwregions_92_00.csv')
df.head(n=5)

,Domain Code,Domain,Country Code,Country,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,CC,Food Supply - Crops Primary Equivalent,2,Afghanistan,645,Food supply quantity (kg/capita/yr),2617,Apples and products,1992,1992,kg,1.08,Fc,Calculated data
1,CC,Food Supply - Crops Primary Equivalent,2,Afghanistan,645,Food supply quantity (kg/capita/yr),2617,Apples and products,1993,1993,kg,1.00,Fc,Calculated data
2,CC,Food Supply - Crops Primary Equivalent,2,Afghanistan,645,Food supply quantity (kg/capita/yr),2617,Apples and products,1994,1994,kg,0.87,Fc,Calculated data
3,CC,Food Supply - Crops Primary Equivalent,2,Afghanistan,645,Food supply quantity (kg/capita/yr),2617,Apples and products,1995,1995,kg,0.69,Fc,Calculated data
4,CC,Food Supply - Crops Primary Equivalent,2,Afghanistan,645,Food supply quantity (kg/capita/yr),2617,Apples and products,1996,1996,kg,0.87,Fc,Calculated data

In [53]:
all_countries = df['Country'].unique()
len(all_countries)
print df.columns
print type(df['Year'].values[0])

Index([u'Domain Code', u'Domain', u'Country Code', u'Country', u'Element Code',
       u'Element', u'Item Code', u'Item', u'Year Code', u'Year', u'Unit',
       u'Value', u'Flag', u'Flag Description'],
      dtype='object')
<type 'numpy.int64'>

In [54]:
all_crops = df['Item'].unique()
print len(all_crops)
c180 = 0
c170 = 0
c150 = 0

#crop_countries = set()

for crop in all_crops:
    countries = set()
    c_2000 = set()
    for i, country in enumerate(df['Country'].values):
        if country in cancer_lands:
            if df['Item'].values[i] == crop:
                countries.add(country)
                if df['Year'].values[i] == 2000:
                    c_2000.add(country)
    print crop, len(countries), len(c_2000)
    count = len(countries)
    if count == 180:
        c180 += 1
    elif count >= 170:
        c170 += 1
    elif count >= 150:
        c150 += 1
print c180, c170, c150
        #if df['Year'].values[i] == year:
            
    #for i in range(11):
        #year = i+1990

75
Apples and products 151 151
Bananas 143 143
Barley and products 139 139
Beer 150 150
Beverages, Alcoholic 148 148
Cereals, Other 141 141
Citrus, Other 134 134
Cocoa Beans and products 151 151
Coconuts - Incl Copra 145 145
Coffee and products 151 151
Cottonseed Oil 101 101
Dates 137 137
Fruits, Other 151 151
Grapes and products (excl wine) 149 149
Groundnut Oil 141 141
Infant food 138 138
Maize and products 147 147
Millet and products 59 59
Nuts and products 149 149
Oilcrops Oil, Other 145 145
Olive Oil 148 148
Olives (including preserved) 136 136
Oranges, Mandarines 150 150
Palm Oil 109 109
Pepper 146 146
Pineapples and products 145 145
Potatoes and products 151 151
Pulses, Other and products 147 147
Rape and Mustard Oil 109 109
Rice (Milled Equivalent) 151 151
Rice (Paddy Equivalent) 151 151
Roots & Tuber Dry Equiv 151 151
Sesame seed 105 105
Sesameseed Oil 113 113
Soyabean Oil 148 148
Spices, Other 149 149
Sugar (Raw Equivalent) 151 151
Sugar, Raw Equivalent 151 151
Sugar, Refined Equiv 151 151
Sunflowerseed Oil 143 143
Sweeteners, Other 150 150
Tea (including mate) 150 150
Tomatoes and products 149 149
Vegetables, Other 151 151
Wheat and products 151 151
Wine 147 147
Beans 137 137
Beverages, Fermented 140 140
Cassava and products 104 104
Grapefruit and products 138 138
Groundnuts (in Shell Eq) 144 144
Groundnuts (Shelled Eq) 144 144
Lemons, Limes and products 140 140
Maize Germ Oil 138 138
Oats 137 137
Onions 143 143
Peas 132 132
Pimento 135 135
Roots, Other 120 120
Rye and products 115 115
Soyabeans 139 139
Sweet potatoes 129 129
Cloves 120 120
Coconut Oil 116 116
Plantains 78 78
Sorghum and products 58 58
Palmkernel Oil 86 86
Oilcrops, Other 99 99
Yams 43 43
Sunflower seed 60 60
Ricebran Oil 16 16
Sugar cane 39 39
Sugar non-centrifugal 28 28
Sugar beet 9 9
Molasses 2 2
0 0 17

In [55]:
l = []
for i, country in enumerate(all_countries):
    if country not in cancer_lands:
        l.append(country)
print len(l)
print l

55
['Antigua and Barbuda', 'Belgium-Luxembourg', 'Bermuda', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of', "C\xc3\xb4te d'Ivoire", 'Czechia', 'Czechoslovakia', 'Dominica', 'Ethiopia PDR', 'French Polynesia', 'Grenada', 'Kiribati', 'Netherlands Antilles (former)', 'New Caledonia', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Serbia and Montenegro', 'Sudan (former)', 'The former Yugoslav Republic of Macedonia', 'United Kingdom', 'Vanuatu', 'World', 'Africa', 'Eastern Africa', 'Middle Africa', 'Northern Africa', 'Southern Africa', 'Western Africa', 'Americas', 'Northern America', 'Central America', 'Caribbean', 'South America', 'Asia', 'Central Asia', 'Eastern Asia', 'Southern Asia', 'South-Eastern Asia', 'Western Asia', 'Europe', 'Eastern Europe', 'Northern Europe', 'Southern Europe', 'Western Europe', 'Oceania', 'Australia & New Zealand', 'Melanesia', 'Micronesia', 'Polynesia']

In [56]:
for i, country in enumerate(cancer_lands):
    if country not in all_countries:
        print country

Bahrain
Bhutan
Burundi
Cote d'Ivoire
Comoros
Czech Republic
Democratic Republic of the Congo
Equatorial Guinea
Eritrea
Libya
Montenegro
Papua New Guinea
Qatar
Serbia
Singapore
Somalia
South Sudan
Sudan
Syrian Arab Republic
The former Yugoslav republic of Macedonia
United Kingdom of Great Britain and Northern Ireland

### Creates dictionary where each key is a crop whose value is a dictionary with countries as keys and values as the years present in the data

In [57]:

#crop_countries = set()
cropdata = {}
for crop in all_crops:
    data = {}
    for i, country in enumerate(df['Country'].values):
        count = 0
        if country in cancer_lands:
            data[country] = []
    for i, country in enumerate(df['Country'].values):
        if df['Item'].values[i] == crop:
            if country in data:
                if len(data[country]) > 0:
                    data[country].append(df['Year'].values[i])
                else:
                    data[country] = [df['Year'].values[i]]
    #for country in data:
        #if len(data[country]) != 9:
            #print crop, country, data[country]
    cropdata[crop] = data

In [58]:
print cropdata['Molasses']

{'Canada': [], 'Turkmenistan': [], 'Lithuania': [], 'Cambodia': [], 'Ethiopia': [], 'Swaziland': [], 'Argentina': [], 'Cameroon': [], 'Burkina Faso': [], 'Ghana': [], 'Saudi Arabia': [], 'Slovenia': [], 'Guatemala': [], 'Bosnia and Herzegovina': [], 'Kuwait': [], 'Russian Federation': [], 'Jordan': [], 'Spain': [], 'Liberia': [], 'Maldives': [], 'Pakistan': [], 'Oman': [], 'Cabo Verde': [], 'Gabon': [], 'New Zealand': [], 'Yemen': [], 'Jamaica': [], 'Albania': [], 'United Arab Emirates': [], 'India': [], 'Azerbaijan': [], 'Lesotho': [], 'Kenya': [], 'Tajikistan': [], 'Turkey': [], 'Afghanistan': [], 'Bangladesh': [], 'Iran (Islamic Republic of)': [], 'Viet Nam': [], 'Mongolia': [], 'France': [], 'Rwanda': [], 'Slovakia': [], 'Peru': [], 'Norway': [], 'Malawi': [], 'Benin': [], 'Cuba': [], 'United States of America': [], 'Togo': [], 'China': [], 'Armenia': [], 'Timor-Leste': [], 'Dominican Republic': [], 'Bolivia (Plurinational State of)': [], 'Ukraine': [], 'Finland': [], 'Indonesia': [], 'Central African Republic': [], 'Mauritius': [], 'Sweden': [], 'Belarus': [], 'Mali': [], 'Bulgaria': [], 'Romania': [], 'Angola': [], 'Chad': [], 'South Africa': [], 'Cyprus': [], 'Brunei Darussalam': [], 'Malaysia': [], 'Austria': [], 'Mozambique': [], 'Uganda': [], 'Hungary': [], 'Niger': [], 'Brazil': [], 'Guinea': [], 'Panama': [], 'Guyana': [], 'Republic of Moldova': [], 'Costa Rica': [], 'Luxembourg': [], 'Bahamas': [], 'Ireland': [], 'Nigeria': [], 'Ecuador': [], 'Australia': [], 'Algeria': [], 'El Salvador': [], 'Solomon Islands': [], 'Chile': [], 'Belgium': [], 'Thailand': [], 'Haiti': [], 'Belize': [], 'Sierra Leone': [], 'Georgia': [], "Lao People's Democratic Republic": [], 'Gambia': [], 'Philippines': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000], 'Morocco': [], 'Croatia': [], 'Guinea-Bissau': [], 'United Republic of Tanzania': [], 'Switzerland': [], 'Venezuela (Bolivarian Republic of)': [], 'Iraq': [], 'Portugal': [], 'Estonia': [], 'Uruguay': [], 'Lebanon': [], 'Uzbekistan': [], 'Tunisia': [], 'Djibouti': [], 'Republic of Korea': [], 'Colombia': [], 'Fiji': [], 'Barbados': [], 'Madagascar': [], 'Italy': [], 'Nepal': [], 'Malta': [], 'Netherlands': [], 'Suriname': [], 'Israel': [], 'Iceland': [], 'Zambia': [], 'Senegal': [], 'Trinidad and Tobago': [], 'Zimbabwe': [], 'Germany': [], 'Denmark': [], 'Kazakhstan': [], 'Poland': [], 'Mauritania': [], 'Kyrgyzstan': [], 'Sri Lanka': [], 'Latvia': [], 'Japan': [], 'Honduras': [], 'Myanmar': [], 'Mexico': [], 'Egypt': [], 'Nicaragua': [], "Democratic People's Republic of Korea": [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000], 'Congo': [], 'Greece': [], 'Paraguay': [], 'Namibia': [], 'Botswana': []}

### Next 2 cells: Creates a dictionary with countries as keys and values as the corresponding region

In [59]:
def parse_country(dataset): 
    country_full = pd.read_csv(str(dataset))
    country_array = np.unique(country_full["Country"])
    return country_array

In [60]:
import glob
path = 'datasets/countries/' 
allFiles = glob.glob(path + "/*.csv")
country_dictionary = {}
for file in allFiles:
    area_name = file.split('/')[2].split('.')[0]
    country_list = parse_country(file)
    for country in country_list:
        country_dictionary[country] = area_name
country_dictionary['China'] = 'Eastern Asia'
print country_dictionary

{'Canada': 'Northern America', 'Sao Tome and Principe': 'Middle Africa', 'Turkmenistan': 'Central Asia', 'Serbia and Montenegro': 'Southern Europe', 'Lithuania': 'Northern Europe', 'Cambodia': 'South-Eastern Asia', 'Ethiopia': 'Eastern Africa', 'Sri Lanka': 'Southern Asia', 'Swaziland': 'Southern Africa', 'Argentina': 'South America', 'Cameroon': 'Middle Africa', 'Burkina Faso': 'Western Africa', 'Ghana': 'Western Africa', 'Saudi Arabia': 'Western Asia', 'Slovenia': 'Southern Europe', 'Guatemala': 'Central America', 'Bosnia and Herzegovina': 'Southern Europe', 'Kuwait': 'Western Asia', 'Russian Federation': 'Eastern Europe', 'Germany': 'Western Europe', 'Dominica': 'Caribbean', 'Liberia': 'Western Africa', 'Maldives': 'Southern Asia', 'Pakistan': 'Southern Asia', 'Oman': 'Western Asia', 'Cabo Verde': 'Western Africa', 'Gabon': 'Middle Africa', 'New Zealand': 'Australia & New Zealand', 'Yemen': 'Western Asia', 'Jamaica': 'Caribbean', 'Albania': 'Southern Europe', 'Samoa': 'Polynesia', 'United Arab Emirates': 'Western Asia', "C\xc3\xb4te d'Ivoire": 'Western Africa', 'Viet Nam': 'South-Eastern Asia', 'Azerbaijan': 'Western Asia', 'Lesotho': 'Southern Africa', 'Saint Vincent and the Grenadines': 'Caribbean', 'Kenya': 'Eastern Africa', 'Tajikistan': 'Central Asia', 'Turkey': 'Western Asia', 'Afghanistan': 'Southern Asia', 'Bangladesh': 'Southern Asia', 'Solomon Islands': 'Melanesia', 'Netherlands Antilles (former)': 'Caribbean', 'Saint Lucia': 'Caribbean', 'Cyprus': 'Western Asia', 'Mongolia': 'Eastern Asia', 'France': 'Western Europe', 'China, mainland': 'Eastern Asia', 'Bermuda': 'Northern America', 'Slovakia': 'Eastern Europe', 'Peru': 'South America', 'Vanuatu': 'Melanesia', 'Norway': 'Northern Europe', 'Malawi': 'Eastern Africa', 'Benin': 'Western Africa', 'Cuba': 'Caribbean', 'United States of America': 'Northern America', 'Saint Kitts and Nevis': 'Caribbean', 'Togo': 'Western Africa', 'China': 'Eastern Asia', 'Armenia': 'Western Asia', 'Republic of Korea': 'Eastern Asia', 'Dominican Republic': 'Caribbean', 'Bolivia (Plurinational State of)': 'South America', 'Ukraine': 'Eastern Europe', 'India': 'Southern Asia', 'Indonesia': 'South-Eastern Asia', 'Finland': 'Northern Europe', 'Central African Republic': 'Middle Africa', 'Mauritius': 'Eastern Africa', 'Sweden': 'Northern Europe', 'Belarus': 'Eastern Europe', 'Mali': 'Western Africa', 'Bulgaria': 'Eastern Europe', 'Romania': 'Eastern Europe', 'Angola': 'Middle Africa', 'Chad': 'Middle Africa', 'South Africa': 'Southern Africa', 'Nicaragua': 'Central America', 'Brunei Darussalam': 'South-Eastern Asia', 'Malaysia': 'South-Eastern Asia', 'Senegal': 'Western Africa', 'Mozambique': 'Eastern Africa', 'Uganda': 'Eastern Africa', 'Hungary': 'Eastern Europe', 'Niger': 'Western Africa', 'Brazil': 'South America', 'Guinea': 'Western Africa', 'Panama': 'Central America', 'Guyana': 'South America', 'Republic of Moldova': 'Eastern Europe', 'Costa Rica': 'Central America', 'Luxembourg': 'Western Europe', 'Bahamas': 'Caribbean', 'Ireland': 'Northern Europe', 'Nigeria': 'Western Africa', 'Ecuador': 'South America', 'Australia': 'Australia & New Zealand', 'Algeria': 'Northern Africa', 'El Salvador': 'Central America', 'Czechia': 'Eastern Europe', 'Iran (Islamic Republic of)': 'Southern Asia', 'Chile': 'South America', 'Belgium': 'Western Europe', 'Kiribati': 'Micronesia', 'Haiti': 'Caribbean', 'Belize': 'Central America', 'Sierra Leone': 'Western Africa', 'Georgia': 'Western Asia', "Lao People's Democratic Republic": 'South-Eastern Asia', 'China, Hong Kong SAR': 'Eastern Asia', 'Denmark': 'Northern Europe', 'Poland': 'Eastern Europe', 'China, Macao SAR': 'Eastern Asia', 'Morocco': 'Northern Africa', 'Namibia': 'Southern Africa', 'French Polynesia': 'Polynesia', 'Guinea-Bissau': 'Western Africa', 'United Republic of Tanzania': 'Eastern Africa', 'Switzerland': 'Western Europe', 'Grenada': 'Caribbean', 'Venezuela (Bolivarian Republic of)': 'South America', 'Iraq': 'Western Asia', 'Portugal': 'Southern Europe', 'Estonia': 'Northern Europe', 'Uruguay': 'South America', 'Lebanon': 'Western Asia', 'Uzbekistan': 'Central Asia', 'Tunisia': 'Northern Africa', 'Djibouti': 'Eastern Africa', 'Rwanda': 'Eastern Africa', 'Antigua and Barbuda': 'Caribbean', 'Spain': 'Southern Europe', 'Colombia': 'South America', 'Fiji': 'Melanesia', 'Barbados': 'Caribbean', 'Madagascar': 'Eastern Africa', 'Italy': 'Southern Europe', 'Nepal': 'Southern Asia', 'Malta': 'Southern Europe', 'Netherlands': 'Western Europe', 'Suriname': 'South America', 'Thailand': 'South-Eastern Asia', 'The former Yugoslav Republic of Macedonia': 'Southern Europe', 'Israel': 'Western Asia', 'Iceland': 'Northern Europe', 'Zambia': 'Eastern Africa', 'China, Taiwan Province of': 'Eastern Asia', 'Austria': 'Western Europe', 'Zimbabwe': 'Eastern Africa', 'Jordan': 'Western Asia', 'Gambia': 'Western Africa', 'Kazakhstan': 'Central Asia', 'Philippines': 'South-Eastern Asia', 'Mauritania': 'Western Africa', 'Kyrgyzstan': 'Central Asia', 'New Caledonia': 'Melanesia', 'Trinidad and Tobago': 'Caribbean', 'Latvia': 'Northern Europe', 'Japan': 'Eastern Asia', 'Croatia': 'Southern Europe', 'Honduras': 'Central America', 'Myanmar': 'South-Eastern Asia', 'Mexico': 'Central America', 'Egypt': 'Northern Africa', 'Sudan (former)': 'Northern Africa', "Democratic People's Republic of Korea": 'Eastern Asia', 'United Kingdom': 'Northern Europe', 'Congo': 'Middle Africa', 'Greece': 'Southern Europe', 'Paraguay': 'South America', 'Timor-Leste': 'South-Eastern Asia', 'Botswana': 'Southern Africa'}

In [61]:
regions = set()
for land in country_dictionary:
    regions.add(country_dictionary[land])
print regions

set(['Caribbean', 'Middle Africa', 'Southern Europe', 'Micronesia', 'Western Africa', 'Central Asia', 'South-Eastern Asia', 'Australia & New Zealand', 'Eastern Africa', 'Northern Europe', 'Eastern Asia', 'Northern America', 'Polynesia', 'Southern Africa', 'Western Asia', 'Southern Asia', 'Melanesia', 'Central America', 'Northern Africa', 'Eastern Europe', 'South America', 'Western Europe'])

In [62]:
regions_df = pd.read_csv('datasets/onlyregions_92_00.csv')
regions_df.tail(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
13694,Food Supply - Crops Primary Equivalent,Polynesia,Food supply quantity (kg/capita/yr),Yams,1996,kg,3.46
13695,Food Supply - Crops Primary Equivalent,Polynesia,Food supply quantity (kg/capita/yr),Yams,1997,kg,4.09
13696,Food Supply - Crops Primary Equivalent,Polynesia,Food supply quantity (kg/capita/yr),Yams,1998,kg,4.49
13697,Food Supply - Crops Primary Equivalent,Polynesia,Food supply quantity (kg/capita/yr),Yams,1999,kg,5.53
13698,Food Supply - Crops Primary Equivalent,Polynesia,Food supply quantity (kg/capita/yr),Yams,2000,kg,6.23

In [63]:
regions_df['Country'].unique()

array(['Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Northern America',
       'Central America', 'Caribbean', 'South America', 'Central Asia',
       'Eastern Asia', 'Southern Asia', 'South-Eastern Asia',
       'Western Asia', 'Eastern Europe', 'Northern Europe',
       'Southern Europe', 'Western Europe', 'Australia & New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia'], dtype=object)

### Creates a dictionary with the regions as keys and the values as dictionaries with crops as keys and lists of (year, value) tuples as values

In [64]:
regiondata = {}
for i, region in enumerate(regions_df['Country'].unique()):
    regiondata[region] = {}

for i, region in enumerate(regions_df['Country'].values):
    regiondict = regiondata[region]
    crop = regions_df['Item'].values[i]
    year = regions_df['Year'].values[i]
    value = regions_df['Value'].values[i]
    if crop in regiondict:
        regiondata[region][crop].append((year, value))
    else:
        regiondata[region][crop] = [(year, value)]

In [65]:
#print regiondata['Western Asia']

In [66]:
regions_dfL = pd.read_csv('datasets/onlyregionsL_92_00.csv')
regions_dfL.tail(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
5134,Food Supply - Livestock and Fish Primary Equiv...,Polynesia,Food supply quantity (kg/capita/yr),Whey,1996,kg,0.01
5135,Food Supply - Livestock and Fish Primary Equiv...,Polynesia,Food supply quantity (kg/capita/yr),Whey,1997,kg,0.05
5136,Food Supply - Livestock and Fish Primary Equiv...,Polynesia,Food supply quantity (kg/capita/yr),Whey,1998,kg,0.02
5137,Food Supply - Livestock and Fish Primary Equiv...,Polynesia,Food supply quantity (kg/capita/yr),Whey,1999,kg,0.01
5138,Food Supply - Livestock and Fish Primary Equiv...,Polynesia,Food supply quantity (kg/capita/yr),Whey,2000,kg,0.02

In [67]:
dfL = pd.read_csv('datasets/noregionsL_92_00.csv')
dfL.tail(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
38399,Food Supply - Livestock and Fish Primary Equiv...,China,Food supply quantity (kg/capita/yr),Whey,1996,kg,0.0
38400,Food Supply - Livestock and Fish Primary Equiv...,China,Food supply quantity (kg/capita/yr),Whey,1997,kg,0.0
38401,Food Supply - Livestock and Fish Primary Equiv...,China,Food supply quantity (kg/capita/yr),Whey,1998,kg,0.0
38402,Food Supply - Livestock and Fish Primary Equiv...,China,Food supply quantity (kg/capita/yr),Whey,1999,kg,0.0
38403,Food Supply - Livestock and Fish Primary Equiv...,China,Food supply quantity (kg/capita/yr),Whey,2000,kg,0.0

In [68]:
all_ls = dfL['Item'].unique()
print len(all_ls)

28

### Same thing as cropdata but with livestock

In [69]:

#crop_countries = set()
lsdata = {}
for ls in all_ls:
    data = {}
    for i, country in enumerate(dfL['Country'].values):
        count = 0
        if country in cancer_lands:
            data[country] = []
    for i, country in enumerate(dfL['Country'].values):
        if dfL['Item'].values[i] == ls:
            if country in data:
                if len(data[country]) > 0:
                    data[country].append(dfL['Year'].values[i])
                else:
                    data[country] = [dfL['Year'].values[i]]
    #for country in data:
        #if len(data[country]) != 9:
            #print crop, country, data[country]
    lsdata[ls] = data

### Same thing as regiondata but for livestock

In [70]:
regiondataL = {}
for i, region in enumerate(regions_dfL['Country'].unique()):
    regiondataL[region] = {}

for i, region in enumerate(regions_dfL['Country'].values):
    regiondict = regiondataL[region]
    ls = regions_dfL['Item'].values[i]
    year = regions_dfL['Year'].values[i]
    value = regions_dfL['Value'].values[i]
    if ls in regiondict:
        regiondataL[region][ls].append((year, value))
    else:
        regiondataL[region][ls] = [(year, value)]

In [71]:
regiondataL['Western Asia']

{'Aquatic Animals, Others': [(1992, 0.01),
  (1993, 0.01),
  (1994, 0.01),
  (1995, 0.01),
  (1996, 0.0),
  (1997, 0.0),
  (1998, 0.01),
  (1999, 0.0),
  (2000, 0.01)],
 'Aquatic Plants': [(1992, 0.0),
  (1993, 0.0),
  (1994, 0.0),
  (1995, 0.0),
  (1996, 0.0),
  (1997, 0.0),
  (1998, 0.0),
  (1999, 0.0),
  (2000, 0.0)],
 'Bovine Meat': [(1992, 6.1500000000000004),
  (1993, 5.9800000000000004),
  (1994, 5.8399999999999999),
  (1995, 6.21),
  (1996, 5.5599999999999996),
  (1997, 6.1299999999999999),
  (1998, 5.7999999999999998),
  (1999, 5.6699999999999999),
  (2000, 5.9800000000000004)],
 'Butter, Ghee': [(1992, 1.51),
  (1993, 1.5),
  (1994, 1.46),
  (1995, 1.5),
  (1996, 1.6100000000000001),
  (1997, 1.51),
  (1998, 1.4299999999999999),
  (1999, 1.3999999999999999),
  (2000, 1.3500000000000001)],
 'Cephalopods': [(1992, 0.059999999999999998),
  (1993, 0.050000000000000003),
  (1994, 0.050000000000000003),
  (1995, 0.050000000000000003),
  (1996, 0.070000000000000007),
  (1997, 0.070000000000000007),
  (1998, 0.070000000000000007),
  (1999, 0.080000000000000002),
  (2000, 0.070000000000000007)],
 'Cheese': [(1992, 3.25),
  (1993, 3.0899999999999999),
  (1994, 3.0899999999999999),
  (1995, 3.2400000000000002),
  (1996, 3.5499999999999998),
  (1997, 3.4100000000000001),
  (1998, 3.4700000000000002),
  (1999, 3.4700000000000002),
  (2000, 3.5)],
 'Cream': [(1992, 0.040000000000000001),
  (1993, 0.01),
  (1994, 0.02),
  (1995, 0.040000000000000001),
  (1996, 0.01),
  (1997, 0.029999999999999999),
  (1998, 0.029999999999999999),
  (1999, 0.059999999999999998),
  (2000, 0.050000000000000003)],
 'Crustaceans': [(1992, 0.14000000000000001),
  (1993, 0.14000000000000001),
  (1994, 0.20999999999999999),
  (1995, 0.16),
  (1996, 0.17000000000000001),
  (1997, 0.17000000000000001),
  (1998, 0.19),
  (1999, 0.17000000000000001),
  (2000, 0.13)],
 'Demersal Fish': [(1992, 1.6599999999999999),
  (1993, 1.8600000000000001),
  (1994, 1.78),
  (1995, 1.9099999999999999),
  (1996, 1.96),
  (1997, 1.99),
  (1998, 2.0899999999999999),
  (1999, 1.9099999999999999),
  (2000, 2.0099999999999998)],
 'Eggs': [(1992, 5.5199999999999996),
  (1993, 5.8399999999999999),
  (1994, 5.8399999999999999),
  (1995, 6.0),
  (1996, 6.2199999999999998),
  (1997, 6.8799999999999999),
  (1998, 7.4800000000000004),
  (1999, 7.5199999999999996),
  (2000, 7.1600000000000001)],
 'Fats, Animals, Raw': [(1992, 0.34000000000000002),
  (1993, 0.37),
  (1994, 0.40000000000000002),
  (1995, 0.35999999999999999),
  (1996, 0.33000000000000002),
  (1997, 0.32000000000000001),
  (1998, 0.35999999999999999),
  (1999, 0.34000000000000002),
  (2000, 0.34000000000000002)],
 'Fish, Body Oil': [(1992, 0.0),
  (1993, 0.0),
  (1994, 0.0),
  (1995, 0.0),
  (1996, 0.0),
  (1997, 0.0),
  (1998, 0.0),
  (1999, 0.0),
  (2000, 0.0)],
 'Fish, Liver Oil': [(1992, 0.0),
  (1993, 0.0),
  (1994, 0.0),
  (1995, 0.0),
  (1996, 0.0),
  (1997, 0.0),
  (1998, 0.0),
  (1999, 0.0),
  (2000, 0.0)],
 'Freshwater Fish': [(1992, 0.92000000000000004),
  (1993, 0.87),
  (1994, 0.81000000000000005),
  (1995, 0.87),
  (1996, 0.84999999999999998),
  (1997, 0.93999999999999995),
  (1998, 0.94999999999999996),
  (1999, 1.03),
  (2000, 1.03)],
 'Honey': [(1992, 0.52000000000000002),
  (1993, 0.5),
  (1994, 0.48999999999999999),
  (1995, 0.64000000000000001),
  (1996, 0.53000000000000003),
  (1997, 0.5),
  (1998, 0.56000000000000005),
  (1999, 0.52000000000000002),
  (2000, 0.47999999999999998)],
 'Marine Fish, Other': [(1992, 0.25),
  (1993, 0.34000000000000002),
  (1994, 0.27000000000000002),
  (1995, 0.28999999999999998),
  (1996, 0.39000000000000001),
  (1997, 0.39000000000000001),
  (1998, 0.40999999999999998),
  (1999, 0.37),
  (2000, 0.38)],
 'Meat, Other': [(1992, 0.51000000000000001),
  (1993, 0.51000000000000001),
  (1994, 0.51000000000000001),
  (1995, 0.46000000000000002),
  (1996, 0.56000000000000005),
  (1997, 0.5),
  (1998, 0.46999999999999997),
  (1999, 0.44),
  (2000, 0.44)],
 'Milk - Excluding Butter': [(1992, 99.519999999999996),
  (1993, 98.590000000000003),
  (1994, 99.310000000000002),
  (1995, 99.849999999999994),
  (1996, 102.77),
  (1997, 98.060000000000002),
  (1998, 97.219999999999999),
  (1999, 101.97),
  (2000, 99.599999999999994)],
 'Milk, Whole': [(1992, 74.090000000000003),
  (1993, 71.629999999999995),
  (1994, 73.430000000000007),
  (1995, 73.650000000000006),
  (1996, 74.450000000000003),
  (1997, 72.019999999999996),
  (1998, 71.510000000000005),
  (1999, 75.349999999999994),
  (2000, 72.349999999999994)],
 'Molluscs, Other': [(1992, 0.19),
  (1993, 0.28000000000000003),
  (1994, 0.28000000000000003),
  (1995, 0.089999999999999997),
  (1996, 0.12),
  (1997, 0.070000000000000007),
  (1998, 0.050000000000000003),
  (1999, 0.050000000000000003),
  (2000, 0.029999999999999999)],
 'Mutton & Goat Meat': [(1992, 5.25),
  (1993, 5.2999999999999998),
  (1994, 5.2699999999999996),
  (1995, 5.2300000000000004),
  (1996, 5.0700000000000003),
  (1997, 5.1600000000000001),
  (1998, 5.1699999999999999),
  (1999, 5.0199999999999996),
  (2000, 5.0499999999999998)],
 'Offals, Edible': [(1992, 1.74),
  (1993, 1.73),
  (1994, 1.72),
  (1995, 1.8300000000000001),
  (1996, 1.78),
  (1997, 1.8100000000000001),
  (1998, 1.8),
  (1999, 1.79),
  (2000, 1.8700000000000001)],
 'Pelagic Fish': [(1992, 3.5899999999999999),
  (1993, 3.2599999999999998),
  (1994, 3.54),
  (1995, 4.46),
  (1996, 3.6699999999999999),
  (1997, 3.3100000000000001),
  (1998, 3.46),
  (1999, 3.4199999999999999),
  (2000, 3.2599999999999998)],
 'Pigmeat': [(1992, 0.88),
  (1993, 0.75),
  (1994, 0.72999999999999998),
  (1995, 0.72999999999999998),
  (1996, 0.69999999999999996),
  (1997, 0.73999999999999999),
  (1998, 0.70999999999999996),
  (1999, 0.66000000000000003),
  (2000, 0.70999999999999996)],
 'Poultry Meat': [(1992, 11.23),
  (1993, 11.41),
  (1994, 11.529999999999999),
  (1995, 12.57),
  (1996, 12.220000000000001),
  (1997, 12.869999999999999),
  (1998, 13.67),
  (1999, 14.99),
  (2000, 15.84)],
 'Whey': [(1992, 0.01),
  (1993, 0.0),
  (1994, 0.01),
  (1995, 0.02),
  (1996, 0.02),
  (1997, 0.01),
  (1998, 0.01),
  (1999, 0.0),
  (2000, 0.02)]}

In [72]:
#lsdata['Whey']

In [73]:
df = pd.read_csv('datasets/noregions_92_00.csv')
df.head(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
0,Food Supply - Crops Primary Equivalent,Afghanistan,Food supply quantity (kg/capita/yr),Apples and products,1992,kg,1.08
1,Food Supply - Crops Primary Equivalent,Afghanistan,Food supply quantity (kg/capita/yr),Apples and products,1993,kg,1.00
2,Food Supply - Crops Primary Equivalent,Afghanistan,Food supply quantity (kg/capita/yr),Apples and products,1994,kg,0.87
3,Food Supply - Crops Primary Equivalent,Afghanistan,Food supply quantity (kg/capita/yr),Apples and products,1995,kg,0.69
4,Food Supply - Crops Primary Equivalent,Afghanistan,Food supply quantity (kg/capita/yr),Apples and products,1996,kg,0.87

In [74]:
#df = df.drop('Domain', 1)
df.head(n=5)
df.tail(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
96285,Food Supply - Crops Primary Equivalent,China,Food supply quantity (kg/capita/yr),Yams,1996,kg,0.0
96286,Food Supply - Crops Primary Equivalent,China,Food supply quantity (kg/capita/yr),Yams,1997,kg,0.0
96287,Food Supply - Crops Primary Equivalent,China,Food supply quantity (kg/capita/yr),Yams,1998,kg,0.0
96288,Food Supply - Crops Primary Equivalent,China,Food supply quantity (kg/capita/yr),Yams,1999,kg,0.0
96289,Food Supply - Crops Primary Equivalent,China,Food supply quantity (kg/capita/yr),Yams,2000,kg,0.0

### Functions to extract values from regiondata

In [75]:
def getvalue(region, crop, year):
    if crop in regiondata[region]:
        data = regiondata[region][crop]
        for yr, val in data:
            if yr == year:
                return val
    else:
        return 0

def getvalueL(region, ls, year):
    if ls in regiondataL[region]:
        data = regiondataL[region][ls]
        for yr, val in data:
            if yr == year:
                return val
    else:
        return 0

# Do not re run these cell

### They take awhile to run

### Filling in the data

In [76]:
import time
end = dfL.shape[0]
years = [1992 + i for i in range(9)]
domain = dfL['Domain'].values[0]
element = regions_dfL['Element'].values[0]
unit = dfL['Unit'].values[0]
check1 = time.time()
count = 0
for ls in lsdata:
    for country in lsdata[ls]:
        count += 1
        if len(lsdata[ls][country]) == 9:
            continue
        if len(lsdata[ls][country]) == 8:
            value = getvalueL(country_dictionary[country], ls, 1992)
            dfL.loc[end+1] = [domain, country, element, ls, year, unit, value]
            end += 1
        if len(lsdata[ls][country]) == 1:
            for i in range(1992, 2000):
                value = getvalueL(country_dictionary[country], ls, i)
                dfL.loc[end] = [domain, country, element, ls, i, unit, value]
                end += 1
        if len(lsdata[ls][country]) == 0:
            for i in range(1992, 2001):
                value = getvalueL(country_dictionary[country], ls, i)
                dfL.loc[end] = [domain, country, element, ls, i, unit, value]
                end += 1
check2 = time.time()
print check2 - check1

71.2867321968

In [79]:
end = df.shape[0]
years = [1992 + i for i in range(9)]
domain = df['Domain'].values[0]
element = regions_df['Element'].values[0]
unit = df['Unit'].values[0]
check1 = time.time()
count = 0
for crop in cropdata:
    for country in cropdata[crop]:
        count += 1
        if len(cropdata[crop][country]) == 9:
            continue
        if len(cropdata[crop][country]) == 8:
            value = getvalue(country_dictionary[country], crop, 1992)
            df.loc[end] = [domain, country, element, crop, year, unit, value]
            end += 1
        if len(cropdata[crop][country]) == 1:
            for i in range(1992, 2000):
                value = getvalue(country_dictionary[country], crop, i)
                df.loc[end] = [domain, country, element, crop, i, unit, value]
                end += 1
        if len(cropdata[crop][country]) == 0:
            for i in range(1992, 2001):
                value = getvalue(country_dictionary[country], crop, i)
                df.loc[end] = [domain, country, element, crop, i, unit, value]
                end += 1
check2 = time.time()
print check2 - check1

1005.61592579

In [ ]:
df.to_csv('crops_filled.csv')

In [ ]:
dfL.tail(n=5)

In [80]:
df.tail(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
130620,Food Supply - Crops Primary Equivalent,Belgium,Food supply quantity (kg/capita/yr),Coffee and products,1995,kg,6.31
130621,Food Supply - Crops Primary Equivalent,Belgium,Food supply quantity (kg/capita/yr),Coffee and products,1996,kg,6.67
130622,Food Supply - Crops Primary Equivalent,Belgium,Food supply quantity (kg/capita/yr),Coffee and products,1997,kg,6.58
130623,Food Supply - Crops Primary Equivalent,Belgium,Food supply quantity (kg/capita/yr),Coffee and products,1998,kg,6.42
130624,Food Supply - Crops Primary Equivalent,Belgium,Food supply quantity (kg/capita/yr),Coffee and products,1999,kg,6.78

### Creating a dictionary with food names as keys and corresponding df as values

In [81]:
crop_names = df['Item'].unique()
#crop_names = crop_names[:-1]
# list to put our separated crop dataframes
all_food_dfs = {}

# find each crop-separated df and put it in the list of dataframes
for crop in crop_names:
    crop_df = df[(df['Item'] == crop)]
    all_food_dfs[crop] = crop_df

In [82]:
ls_names = dfL['Item'].unique()
for ls in ls_names:
    ls_df = dfL[(dfL['Item'] == ls)]
    all_food_dfs[ls] = ls_df

### List of all food names

In [83]:
all_names = list(crop_names) + list(ls_names)

In [84]:
all_names

['Apples and products',
 'Bananas',
 'Barley and products',
 'Beer',
 'Beverages, Alcoholic',
 'Cereals, Other',
 'Citrus, Other',
 'Cocoa Beans and products',
 'Coconuts - Incl Copra',
 'Coffee and products',
 'Cottonseed Oil',
 'Dates',
 'Fruits, Other',
 'Grapes and products (excl wine)',
 'Groundnut Oil',
 'Infant food',
 'Maize and products',
 'Millet and products',
 'Nuts and products',
 'Oilcrops Oil, Other',
 'Olive Oil',
 'Olives (including preserved)',
 'Oranges, Mandarines',
 'Palm Oil',
 'Pepper',
 'Pineapples and products',
 'Potatoes and products',
 'Pulses, Other and products',
 'Rape and Mustard Oil',
 'Rice (Milled Equivalent)',
 'Rice (Paddy Equivalent)',
 'Roots & Tuber Dry Equiv',
 'Sesame seed',
 'Sesameseed Oil',
 'Soyabean Oil',
 'Spices, Other',
 'Sugar (Raw Equivalent)',
 'Sugar, Raw Equivalent',
 'Sugar, Refined Equiv',
 'Sunflowerseed Oil',
 'Sweeteners, Other',
 'Tea (including mate)',
 'Tomatoes and products',
 'Vegetables, Other',
 'Wheat and products',
 'Wine',
 'Beans',
 'Beverages, Fermented',
 'Cassava and products',
 'Grapefruit and products',
 'Groundnuts (in Shell Eq)',
 'Groundnuts (Shelled Eq)',
 'Lemons, Limes and products',
 'Maize Germ Oil',
 'Oats',
 'Onions',
 'Peas',
 'Pimento',
 'Roots, Other',
 'Rye and products',
 'Soyabeans',
 'Sweet potatoes',
 'Cloves',
 'Coconut Oil',
 'Plantains',
 'Sorghum and products',
 'Palmkernel Oil',
 'Oilcrops, Other',
 'Yams',
 'Sunflower seed',
 'Ricebran Oil',
 'Sugar cane',
 'Sugar non-centrifugal',
 'Sugar beet',
 'Molasses',
 'Bovine Meat',
 'Butter, Ghee',
 'Cheese',
 'Cream',
 'Eggs',
 'Fats, Animals, Raw',
 'Freshwater Fish',
 'Honey',
 'Meat, Other',
 'Milk - Excluding Butter',
 'Milk, Whole',
 'Mutton & Goat Meat',
 'Offals, Edible',
 'Poultry Meat',
 'Aquatic Animals, Others',
 'Aquatic Plants',
 'Cephalopods',
 'Crustaceans',
 'Demersal Fish',
 'Fish, Body Oil',
 'Fish, Liver Oil',
 'Marine Fish, Other',
 'Molluscs, Other',
 'Pelagic Fish',
 'Pigmeat',
 'Whey',
 'Meat, Aquatic Mammals',
 'Meat Meal']

In [85]:
df_vals = {}
for country in df['Country'].unique():
    if country in cancer_lands:
        data = {}
        for crop in all_names:
            df = all_food_dfs[crop]
            for i, name in enumerate(df['Country'].values):
                if name == country:
                    if crop in data:
                        data[crop].append((df['Year'].values[i], df['Value'].values[i]))
                    else:
                        data[crop] = [(df['Year'].values[i], df['Value'].values[i])]
        df_vals[country] = data

In [86]:
print df_vals.keys()

['Canada', 'Turkmenistan', 'Lithuania', 'Cambodia', 'Ethiopia', 'Swaziland', 'Argentina', 'Cameroon', 'Burkina Faso', 'Ghana', 'Saudi Arabia', 'Slovenia', 'Guatemala', 'Bosnia and Herzegovina', 'Kuwait', 'Russian Federation', 'Jordan', 'Spain', 'Liberia', 'Maldives', 'Pakistan', 'Oman', 'Cabo Verde', 'Gabon', 'New Zealand', 'Yemen', 'Jamaica', 'Albania', 'United Arab Emirates', 'India', 'Azerbaijan', 'Lesotho', 'Kenya', 'Tajikistan', 'Turkey', 'Afghanistan', 'Bangladesh', 'Iran (Islamic Republic of)', 'Viet Nam', 'Mongolia', 'France', 'Rwanda', 'Slovakia', 'Peru', 'Norway', 'Malawi', 'Benin', 'Cuba', 'United States of America', 'Togo', 'China', 'Armenia', 'Timor-Leste', 'Dominican Republic', 'Bolivia (Plurinational State of)', 'Ukraine', 'Finland', 'Indonesia', 'Central African Republic', 'Mauritius', 'Sweden', 'Belarus', 'Mali', 'Bulgaria', 'Romania', 'Angola', 'Chad', 'South Africa', 'Cyprus', 'Brunei Darussalam', 'Malaysia', 'Austria', 'Mozambique', 'Uganda', 'Hungary', 'Niger', 'Brazil', 'Guinea', 'Panama', 'Guyana', 'Republic of Moldova', 'Costa Rica', 'Luxembourg', 'Bahamas', 'Ireland', 'Nigeria', 'Ecuador', 'Australia', 'Algeria', 'El Salvador', 'Solomon Islands', 'Chile', 'Belgium', 'Thailand', 'Haiti', 'Belize', 'Sierra Leone', 'Georgia', "Lao People's Democratic Republic", 'Gambia', 'Philippines', 'Morocco', 'Croatia', 'Guinea-Bissau', 'United Republic of Tanzania', 'Switzerland', 'Venezuela (Bolivarian Republic of)', 'Iraq', 'Portugal', 'Estonia', 'Uruguay', 'Lebanon', 'Uzbekistan', 'Tunisia', 'Djibouti', 'Republic of Korea', 'Colombia', 'Fiji', 'Barbados', 'Madagascar', 'Italy', 'Nepal', 'Malta', 'Netherlands', 'Suriname', 'Israel', 'Iceland', 'Zambia', 'Senegal', 'Trinidad and Tobago', 'Zimbabwe', 'Germany', 'Denmark', 'Kazakhstan', 'Poland', 'Mauritania', 'Kyrgyzstan', 'Sri Lanka', 'Latvia', 'Japan', 'Honduras', 'Myanmar', 'Mexico', 'Egypt', 'Nicaragua', "Democratic People's Republic of Korea", 'Congo', 'Greece', 'Paraguay', 'Namibia', 'Botswana']

In [87]:
for country in df_vals:
    print len(df_vals[country])

103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103

In [88]:
predictors = {}
for country in df_vals:
    data = {}
    for crop in df_vals[country]:
        if crop not in df_vals[country]:
            print country, crop
        else:
            year_data = df_vals[country][crop]
            total = 0
            if len(year_data) == 0:
                data[crop] = 0
            else:
                count = 0
                for yr, val in year_data:
                    if not isinstance(val, float) and not isinstance(val, int):
                        #print type(val), country, crop, yr, type(year_data), year_data
                        continue
                    else:
                        total += val
                        count += 1
                avg = float(total)/float(count)
                data[crop] = avg
    predictors[country] = data

In [89]:
predictors.keys()

['Canada',
 'Turkmenistan',
 'Lithuania',
 'Cambodia',
 'Ethiopia',
 'Swaziland',
 'Argentina',
 'Cameroon',
 'Burkina Faso',
 'Ghana',
 'Saudi Arabia',
 'Japan',
 'Slovenia',
 'Guatemala',
 'Bosnia and Herzegovina',
 'Guinea',
 'Russian Federation',
 'Germany',
 'Spain',
 'Liberia',
 'Maldives',
 'Paraguay',
 'Pakistan',
 'Oman',
 'Cabo Verde',
 'Gabon',
 'New Zealand',
 'Yemen',
 'Jamaica',
 'Albania',
 'United Arab Emirates',
 'Viet Nam',
 'Azerbaijan',
 'Lesotho',
 'Kenya',
 'Tajikistan',
 'Turkey',
 'Afghanistan',
 'Bangladesh',
 'Iran (Islamic Republic of)',
 'India',
 'Mongolia',
 'France',
 'Rwanda',
 'Slovakia',
 'Peru',
 'Norway',
 'Malawi',
 'Benin',
 'Cuba',
 'United States of America',
 'Togo',
 'China',
 'Armenia',
 'Republic of Korea',
 'Dominican Republic',
 'Bolivia (Plurinational State of)',
 'Ukraine',
 'Finland',
 'Indonesia',
 'Central African Republic',
 'Mauritius',
 'Sweden',
 'Australia',
 'Mali',
 'Bulgaria',
 'Romania',
 'Angola',
 'Chad',
 'South Africa',
 'Fiji',
 'Brunei Darussalam',
 'Malaysia',
 'Austria',
 'Mozambique',
 'Uganda',
 'Hungary',
 'Niger',
 'Brazil',
 'Kuwait',
 'Panama',
 'Republic of Moldova',
 'Costa Rica',
 'Luxembourg',
 'Bahamas',
 'Ireland',
 'Nigeria',
 'Ecuador',
 'Belarus',
 'Algeria',
 'El Salvador',
 'Solomon Islands',
 'Chile',
 'Belgium',
 'Thailand',
 'Haiti',
 'Belize',
 'Sierra Leone',
 'Georgia',
 "Lao People's Democratic Republic",
 'Gambia',
 'Philippines',
 'Morocco',
 'Croatia',
 'Guinea-Bissau',
 'United Republic of Tanzania',
 'Switzerland',
 'Venezuela (Bolivarian Republic of)',
 'Iraq',
 'Portugal',
 'Estonia',
 'Uruguay',
 'Lebanon',
 'Uzbekistan',
 'Egypt',
 'Djibouti',
 'Timor-Leste',
 'Colombia',
 'Cyprus',
 'Barbados',
 'Madagascar',
 'Italy',
 'Nepal',
 'Malta',
 'Netherlands',
 'Suriname',
 'Israel',
 'Iceland',
 'Zambia',
 'Senegal',
 'Zimbabwe',
 'Jordan',
 'Denmark',
 'Kazakhstan',
 'Poland',
 'Mauritania',
 'Kyrgyzstan',
 'Trinidad and Tobago',
 'Latvia',
 'Guyana',
 'Honduras',
 'Myanmar',
 'Mexico',
 'Tunisia',
 'Nicaragua',
 "Democratic People's Republic of Korea",
 'Congo',
 'Greece',
 'Sri Lanka',
 'Namibia',
 'Botswana']

In [95]:
x = []
cols = []
for crop in predictors['France']:
    cols.append(crop)
for country in predictors:
    x_vals = []
    for crop in predictors[country]:
        x_vals.append(predictors[country][crop])
    if len(x_vals) != 103:
        print len(x_vals)
        print 'x_vals'
        print len(x_vals)
    x.append(x_vals)
#print len(x)
#print len(x[0])
x_df = pd.DataFrame(x, columns = cols)
print x_df.shape
x_df.head(n=5)

(151, 103)

,Ricebran Oil,Plantains,"Sugar, Raw Equivalent","Beverages, Alcoholic",Roots & Tuber Dry Equiv,Olives (including preserved),Cloves,"Fats, Animals, Raw",Millet and products,Coconuts - Incl Copra,...,Tomatoes and products,"Oilcrops Oil, Other",Pelagic Fish,"Butter, Ghee",Bananas,"Spices, Other","Meat, Aquatic Mammals",Sweet potatoes,"Oranges, Mandarines",Rice (Milled Equivalent)
0,0.00,0.603333,47.554444,1.558889,16.850000,0.532222,0.002222,6.007778,0.000000,1.112222,...,30.738889,0.102222,5.432222,2.918889,13.284444,0.297778,0.0,0.466667,47.530000,6.638889
1,0.00,0.000000,14.420000,0.327778,3.318889,0.001111,0.000000,0.953333,0.826667,0.000000,...,31.094444,0.203333,0.008889,1.820000,0.043333,0.004444,0.0,0.000000,1.604444,7.101111
2,0.00,0.000000,30.954444,5.077778,24.973333,0.024444,0.000000,3.285556,0.000000,0.254444,...,4.458889,2.487778,12.195556,3.835556,4.492222,0.100000,0.0,0.000000,4.731111,1.540000
3,0.03,0.583333,4.422222,1.601111,3.670000,0.000000,0.011111,0.813333,0.000000,0.766667,...,0.000000,0.098889,0.363333,0.002222,11.788889,0.006667,0.0,3.337778,4.556667,167.165556
4,0.00,26.812222,4.579000,0.136000,19.858000,0.000000,0.002000,0.238750,3.375000,0.302000,...,1.075000,0.393000,0.000000,0.198889,2.817000,0.050000,0.0,6.009000,0.402222,1.253333

In [92]:
x_df.to_csv('predictors_filled.csv')

In [ ]:
cancer = []
for country in predictors:
    for i, place in enumerate(cancer_2000['Country'].values):
        if place == country:
            cancer.append(cancer_2000['Mortality'].values[i])
            
cancer_df = pd.DataFrame(cancer, columns = ['Cancer Mortality Rate'])
print cancer_df.shape
cancer_df.head(n=5)

In [ ]:
cancerreg = LinReg()
cancerreg.fit(x_df, cancer_df)
print cancerreg.score(x_df, cancer_df)
cancerreg.coef_
cancer_coefs = cancerreg.coef_[0]
cancerreg.coef_
preds = cancerreg.predict(x_df)
#print preds
predslist = []
for pred in preds:
    predslist.append(pred[0])
predslist

In [ ]:
#print predictors

In [ ]:
print max(cancer_coefs)
print list(cancer_coefs).index(max(cancer_coefs))
#print x_df.columns[-1]
#print list(diabetes_coefs[:-1]).index(max(diabetes_coefs[:-1]))
#print x_df.columns[list(diabetes_coefs[:-1]).index(max(diabetes_coefs[:-1]))]

In [ ]:
maxpredictors = []
print len(x_df.columns)
print len(x_df.iloc[0, :].values)
for i in range(x_df.shape[0]):
    preds = x_df.iloc[i, :].values
    maxpredictor, index = 0, 0
    for j, val in enumerate(preds):
        pred = val * cancer_coefs[j]
        if pred > maxpredictor:
            maxpredictor = pred
            index = j
    maxpredictors.append((country_indices[i], x_df.columns[index]))    

print maxpredictors

In [ ]:
from sklearn.linear_model import Lasso
from sklearn.linear_model import LassoCV
cancerreg = Lasso(alpha = .00001, normalize=True)
cancerreg.fit(x_df, cancer_df)
print cancerreg.score(x_df, cancer_df)
coefficients = cancerreg.coef_
print 'hi'
print len(coefficients)
print len([i for i, item in enumerate(coefficients) if abs(item) >0])

cancerreg = LassoCV(alphas = [.01, .1], normalize=True)
#cancerlist = list(cancer_df)
cancerreg.fit(x_df, cancer_df.values.ravel())
print cancerreg.score(x_df, cancer_df)

In [ ]:
from sklearn.linear_model import Ridge
cancerreg = Ridge(alpha = .0001, normalize=True)
cancerreg.fit(x_df, cancer_df)
cancerreg.score(x_df, cancer_df)

In [ ]:
diabetes = []
for country in predictors:
    for i, place in enumerate(diabetes_2000['Country'].values):
        if place == country:
            diabetes.append(diabetes_2000['Mortality'].values[i])
            
diabetes_df = pd.DataFrame(diabetes, columns = ['Diabetes Mortality Rate'])
print diabetes_df.shape
diabetes_df.head(n=5)

In [ ]:
diabetes_reg = LinReg()
diabetes_reg.fit(x_df, diabetes_df)
print diabetes_reg.score(x_df, diabetes_df)
print diabetes_reg.coef_
diabetes_coefs = diabetes_reg.coef_[0]
print max(diabetes_coefs)
print list(diabetes_coefs).index(max(diabetes_coefs))
print x_df.columns[-1]
print list(diabetes_coefs[:-1]).index(max(diabetes_coefs[:-1]))
print x_df.columns[list(diabetes_coefs[:-1]).index(max(diabetes_coefs[:-1]))]
for i, coef in enumerate(diabetes_coefs):
    if coef < -2000:
        print i
x_df.columns[48]

In [ ]:
preds = diabetes_reg.predict(x_df)
#print preds
predslist = []
for pred in preds:
    predslist.append(pred[0])
predslist

In [ ]:
diabetes_reg.coef_

In [ ]:
country_indices = []
index = 0
for country in predictors:
    country_indices.append(country)
print country_indices[:10]
print len(country_indices)

In [ ]:
maxpredictors = []
print len(x_df.columns)
print len(x_df.iloc[0, :].values)
for i in range(x_df.shape[0]):
    preds = x_df.iloc[i, :].values
    maxpredictor, index = 0, 0
    for j, val in enumerate(preds):
        pred = val * diabetes_coefs[j]
        if pred > maxpredictor:
            maxpredictor = pred
            index = j
    maxpredictors.append((country_indices[i], x_df.columns[index]))    

for country, crop in maxpredictors:
    if crop != 'Sugar, Refined Equiv' and crop != 'Rice (Milled Equivalent)':
        print country, crop

In [ ]:
diabetes_reg = Lasso(alpha=.001, normalize=True)
diabetes_reg.fit(x_df, diabetes_df)
print diabetes_reg.score(x_df, diabetes_df)
diabetes_reg.coef_
for col in x_df.columns:
    print '"' + col + '"' + ', '

In [ ]:
cardio = []
for country in predictors:
    for i, place in enumerate(cardio_2000['Country'].values):
        if place == country:
            cardio.append(cardio_2000['Mortality'].values[i])
            
cardio_df = pd.DataFrame(cardio, columns = ['Cardio Mortality Rate'])
print cardio_df.shape
cardio_df.head(n=5)

In [ ]:
cardio_reg = LinReg()
cardio_reg.fit(x_df, cardio_df)
print cardio_reg.score(x_df, cardio_df)
cardio_coefs = cardio_reg.coef_[0]
cardio_coefs

In [ ]:
preds = cardio_reg.predict(x_df)
#print preds
predslist = []
for pred in preds:
    predslist.append(pred[0])
predslist

In [ ]:
maxpredictors = []
print len(x_df.columns)
print len(x_df.iloc[0, :].values)
for i in range(x_df.shape[0]):
    preds = x_df.iloc[i, :].values
    maxpredictor, index = 0, 0
    for j, val in enumerate(preds):
        pred = val * cardio_coefs[j]
        if pred > maxpredictor:
            maxpredictor = pred
            index = j
    maxpredictors.append((country_indices[i], x_df.columns[index]))    

print maxpredictors
#for country, crop in maxpredictors:
    #if crop != 'Sugar, Refined Equiv' and crop != 'Rice (Milled Equivalent)':
        #print country, crop

In [ ]:

cardio_reg = Lasso(alpha=.00001, normalize=True)
cardio_reg.fit(x_df, cardio_df)
cardio_reg.score(x_df, cardio_df)

# Do not run things beyond this point -----

In [ ]:
end = df.shape[0]
years = [1992 + i for i in range(9)]
for crop in cropdata:
    for country in cropdata[crop]:
        if len(cropdata[crop][country]) != 9 and len(cropdata[crop][country]) != 8 and len(cropdata[crop][country]) != 0 and len(cropdata[crop][country]) != 1:
            print len(cropdata[crop]), country, crop

In [ ]:
print cropdata['Molasses']

In [ ]:
import copy
import time
years = [1992 + i for i in range(9)]
end = df.shape[0]
#for crop in cropdata[:1]:
N = 0
count = 0
#crop = cropdata.keys()[N]
crop = 'Ricebran Oil'
#for crop in cropdata:
countrieslist = copy.copy(df['Country'].values)
domain = df['Domain'].values[0]
element = regions_df['Element'].values[0]
unit = df['Unit'].values[0]
print len(countrieslist)
check1 = time.time()
for index, country in enumerate(countrieslist[:100]):
    if country in cancer_lands:
        for year in years[:1]:
            if year not in cropdata[crop][country]:
                count += 1
                region = country_dictionary[country]
            
                data = regiondata[region]
                check2 = time.time()
                if crop not in data:
                    df.loc[end+1] = [domain, country, element, crop, year, unit, 0]
                    end += 1
                else:
                    for yr, val in data[crop]:
                        if yr == year:
                            df.loc[end+1] = [domain, country, element, crop, year, unit, val]
                            end += 1
                            break
check3 = time.time()

#print check3-check2
print check3-check1

In [ ]:
years = [1992 + i for i in range(9)]
end = df.shape[0]
#for crop in cropdata[:1]:
N = 0
count = 0
crop = cropdata.keys()[N]
#crop = 'Ricebran Oil'
check1 = time.time()
for index, country in enumerate(df['Country'].values[:100]):
    if country in cancer_lands:
        for year in years[:1]:
            if year not in cropdata[crop][country]:
                count += 1
                region = country_dictionary[country]
                found = False
                for i, region_name in enumerate(regions_df['Country'].values):
                    if region_name == region:
                        if regions_df['Item'].values[i] == crop and regions_df['Year'].values[i] == year:
                            val = regions_df['Value'].values[i]
                            #temp = pd.DataFrame([])
                            df.loc[end+1] = [df['Domain'].values[0], country, regions_df['Element'].values[i], crop, year, regions_df['Unit'].values[i], val]
                            end += 1
                            found = True
                            break
                if not found:
                    df.loc[end+1] = [df['Domain'].values[0], country, regions_df['Element'].values[i], crop, year, regions_df['Unit'].values[i], 0]
                    end += 1
                        

check3 = time.time()
print check3 - check1

In [ ]:
df.tail(n=5)