In [2]:
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.cm as cmx
import matplotlib.colors as colors
import pandas as pd
import math
from sklearn.linear_model import Lasso as Lasso_Reg
from sklearn import linear_model
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.cross_validation import KFold
from sklearn.cross_validation import cross_val_score as val_score
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import LogisticRegression as LogReg
from sklearn.decomposition import PCA
from sklearn.cross_validation import train_test_split as sk_split
import statsmodels.api as sm

%matplotlib inline

In [3]:
#read in crops
allcrops_2000 = pd.read_csv('datasets/allcrops_2000.csv')
# names of all the crops
crop_names = allcrops_2000['ItemName'].unique()

# remove nan
crop_names = crop_names[:-1]
# list to put our separated crop dataframes
all_crop_dfs = []

# find each crop-separated df and put it in the list of dataframes
for crop in crop_names:
    crop_df = allcrops_2000[(allcrops_2000['ItemName'] == crop)]
    all_crop_dfs.append(crop_df)

print crop_names

['Wheat and products' 'Barley and products' 'Maize and products'
 'Rye and products' 'Oats' 'Cereals, Other' 'Potatoes and products'
 'Sugar (Raw Equivalent)' 'Sweeteners, Other' 'Pulses, Other and products'
 'Nuts and products' 'Soyabeans' 'Groundnuts (Shelled Eq)'
 'Coconuts - Incl Copra' 'Sesame seed' 'Olives (including preserved)'
 'Oilcrops, Other' 'Soyabean Oil' 'Groundnut Oil' 'Sunflowerseed Oil'
 'Rape and Mustard Oil' 'Cottonseed Oil' 'Palmkernel Oil' 'Coconut Oil'
 'Sesameseed Oil' 'Olive Oil' 'Maize Germ Oil' 'Oilcrops Oil, Other'
 'Tomatoes and products' 'Onions' 'Vegetables, Other' 'Oranges, Mandarines'
 'Lemons, Limes and products' 'Grapefruit and products' 'Citrus, Other'
 'Bananas' 'Apples and products' 'Pineapples and products' 'Dates'
 'Grapes and products (excl wine)' 'Fruits, Other' 'Coffee and products'
 'Cocoa Beans and products' 'Tea (including mate)' 'Pepper' 'Pimento'
 'Spices, Other' 'Wine' 'Beer' 'Beverages, Fermented'
 'Beverages, Alcoholic' 'Infant food' 'Rice (Paddy Equivalent)'
 'Rice (Milled Equivalent)' 'Roots & Tuber Dry Equiv'
 'Sugar, Refined Equiv' 'Groundnuts (in Shell Eq)' 'Sugar, Raw Equivalent'
 'Cereals - Excluding Beer' 'Starchy Roots' 'Sugar & Sweeteners' 'Pulses'
 'Treenuts' 'Oilcrops' 'Vegetable Oils' 'Vegetables'
 'Fruits - Excluding Wine' 'Stimulants' 'Spices' 'Alcoholic Beverages'
 'Miscellaneous' 'Millet and products' 'Palm Oil' 'Cassava and products'
 'Sweet potatoes' 'Roots, Other' 'Beans' 'Peas' 'Sorghum and products'
 'Plantains' 'Cloves' 'Yams' 'Sunflower seed' 'Sugar cane'
 'Sugar non-centrifugal' 'Ricebran Oil' 'Sugar Crops' 'Sugar beet'
 'Molasses']

In [4]:
# Do the same as above, but for livestock
livestock_2000 = pd.read_csv('datasets/livestock_2000.csv')
# list of livestock names
livestock_names_all = livestock_2000['ItemName'].unique()
livestock_names_all = livestock_names_all[1:-1]
livestock_names = []
for name in livestock_names_all:
    if name != 'Grand Total':
        livestock_names.append(name)

# list to put our separated dataframes
livestock_dfs = []

# separate dataframe based on itemname
for crop in livestock_names:
    crop_df = livestock_2000[(livestock_2000['ItemName'] == crop)]
    livestock_dfs.append(crop_df)

print livestock_names
print len(livestock_names)

['Bovine Meat', 'Mutton & Goat Meat', 'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals, Edible', 'Fats, Animals, Raw', 'Milk, Whole', 'Butter, Ghee', 'Cheese', 'Cream', 'Eggs', 'Honey', 'Freshwater Fish', 'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other', 'Crustaceans', 'Cephalopods', 'Molluscs, Other', 'Aquatic Plants', 'Fish, Body Oil', 'Fish, Liver Oil', 'Milk - Excluding Butter', 'Meat', 'Offals', 'Animal fats', 'Fish, Seafood', 'Aquatic Products, Other', 'Animal Products', 'Aquatic Animals, Others', 'Whey', 'Meat Meal', 'Meat, Aquatic Mammals', 'Hides and skins']
35

In [5]:
# read in disease rates
column_headers = ["Country", "Year", "Mortality", "Mortality 2", "Mortality 3"]
diabetes = pd.read_csv('datasets/diabetes.csv', names = column_headers)
cardio = pd.read_csv('datasets/cardiovascular.csv', names = column_headers)
cancer= pd.read_csv('datasets/Cancer.csv', names = column_headers)

In [6]:
cardio.iloc[3:, 0:3].head(n=5)
#cardio.columns = ['Country', 'Year', 'Mortality']

       Country  Year Mortality
3  Afghanistan  2012     511.5
4  Afghanistan  2000     542.3
5      Albania  2012     436.2
6      Albania  2000     560.5
7      Algeria  2012     396.6

In [7]:
cardio_2012 = cardio[(cardio["Year"] == "2012")] 
cardio_2000 = cardio[(cardio["Year"] == "2000")]

In [8]:
diabetes_2012 = diabetes[(diabetes['Year'] == '2012')] 
diabetes_2000 = diabetes[(diabetes['Year'] == '2000')] 
diabetes_2000

,Country,Year,Mortality,Mortality 2,Mortality 3
4,Afghanistan,2000,34.0,35.1,32.8
6,Albania,2000,8.3,8.2,8.3
8,Algeria,2000,67.2,62.1,73.4
10,Angola,2000,35.0,36.4,33.2
12,Argentina,2000,19.9,16.0,25.2
14,Armenia,2000,32.2,33.6,29.2
16,Australia,2000,10.2,8.0,13.0
18,Austria,2000,15.5,12.4,19.3
20,Azerbaijan,2000,19.6,21.4,16.6
22,Bahamas,2000,45.6,41.5,49.9
24,Bahrain,2000,75.9,72.5,78.8
26,Bangladesh,2000,25.7,23.8,27.4
28,Barbados,2000,49.9,48.2,50.9
30,Belarus,2000,5.1,5.1,4.9
32,Belgium,2000,9.3,8.6,9.8
34,Belize,2000,54.0,65.2,41.5
36,Benin,2000,50.2,50.2,49.7
38,Bhutan,2000,30.0,32.3,28.1
40,Bolivia (Plurinational State of),2000,45.9,49.5,41.2
42,Bosnia and Herzegovina,2000,19.8,23.2,14.7
44,Botswana,2000,43.2,53.7,27.7
46,Brazil,2000,39.3,42.2,35.4
48,Brunei Darussalam,2000,59.6,64.8,54.2
50,Bulgaria,2000,14.8,14.7,14.6
52,Burkina Faso,2000,58.8,67.3,46.0
54,Burundi,2000,32.4,28.6,36.8
56,Cote d'Ivoire,2000,42.8,46.5,39.3
58,Cabo Verde,2000,23.4,22.7,24.3
60,Cambodia,2000,15.9,18.1,13.2
62,Cameroon,2000,42.7,43.8,41.1
...,...,...,...,...,...
288,Spain,2000,10.7,10.1,11.0
290,Sri Lanka,2000,46.8,40.2,53.7
292,Sudan,2000,33.2,32.7,33.7
294,Suriname,2000,39.4,34.4,44.8
296,Swaziland,2000,80.5,102.4,52.7
298,Sweden,2000,8.5,7.0,10.4
300,Switzerland,2000,10.2,8.9,11.6
302,Syrian Arab Republic,2000,9.7,10.4,8.8
304,Tajikistan,2000,18.0,19.0,17.1
306,Thailand,2000,33.6,38.5,27.7
308,The former Yugoslav republic of Macedonia,2000,24.6,25.9,22.8
310,Timor-Leste,2000,32.3,37.9,26.3
312,Togo,2000,38.4,39.2,37.2
314,Trinidad and Tobago,2000,136.8,122.0,155.6
316,Tunisia,2000,29.7,33.5,25.5
318,Turkey,2000,18.0,19.2,16.1
320,Turkmenistan,2000,19.8,20.6,18.5
322,Uganda,2000,41.5,38.2,45.2
324,Ukraine,2000,5.1,5.0,5.2
326,United Arab Emirates,2000,33.0,40.8,27.3
328,United Kingdom of Great Britain and Northern I...,2000,5.7,4.8,6.8
330,United Republic of Tanzania,2000,54.3,53.2,55.1
332,United States of America,2000,16.7,15.1,18.7
334,Uruguay,2000,13.5,12.0,15.4
336,Uzbekistan,2000,19.4,18.4,20.5
338,Venezuela (Bolivarian Republic of),2000,43.6,44.8,42.0
340,Viet Nam,2000,16.0,15.4,16.6
342,Yemen,2000,26.2,26.5,25.9
344,Zambia,2000,45.1,49.7,39.0
346,Zimbabwe,2000,21.6,22.2,20.6

In [9]:
cancer_2012 = cancer[(cancer['Year'] == ' 2012')] 
cancer_2000 = cancer[(cancer['Year'] == ' 2000')] 
cancer_2012

,Country,Year,Mortality,Mortality 2,Mortality 3
3,Afghanistan,2012,123.6,110.6,142.2
5,Albania,2012,123.1,105.3,142.5
7,Algeria,2012,80.6,78.0,83.9
9,Angola,2012,89.6,86.1,97.9
11,Argentina,2012,131.5,109.1,166.5
13,Armenia,2012,219.6,175.3,277.1
15,Australia,2012,111.0,90.6,135.9
17,Austria,2012,122.0,99.7,152.3
19,Azerbaijan,2012,112.8,88.5,145.0
21,Bahamas,2012,103.8,88.1,131.8
23,Bahrain,2012,71.3,65.4,80.4
25,Bangladesh,2012,87.8,79.9,94.9
27,Barbados,2012,140.4,117.7,179.3
29,Belarus,2012,117.0,79.0,182.2
31,Belgium,2012,130.3,102.0,167.5
33,Belize,2012,83.4,57.3,114.4
35,Benin,2012,89.6,82.6,104.8
37,Bhutan,2012,80.1,79.8,80.8
39,Bolivia (Plurinational State of),2012,106.6,109.9,106.0
41,Bosnia and Herzegovina,2012,108.9,80.8,146.8
43,Botswana,2012,86.5,70.6,110.5
45,Brazil,2012,118.5,100.2,142.9
47,Brunei Darussalam,2012,86.4,80.3,94.1
49,Bulgaria,2012,132.3,99.2,175.7
51,Burkina Faso,2012,91.7,92.4,95.7
53,Burundi,2012,134.1,142.4,130.2
55,Cote d'Ivoire,2012,111.3,100.5,123.1
57,Cabo Verde,2012,63.1,62.0,68.2
59,Cambodia,2012,100.6,92.7,111.7
61,Cameroon,2012,73.4,73.9,75.2
...,...,...,...,...,...
287,Spain,2012,119.8,80.8,169.3
289,Sri Lanka,2012,64.6,61.4,68.8
291,Sudan,2012,85.0,76.2,96.0
293,Suriname,2012,82.9,64.8,108.7
295,Swaziland,2012,84.9,75.7,101.1
297,Sweden,2012,110.3,100.5,124.9
299,Switzerland,2012,103.8,83.9,131.1
301,Syrian Arab Republic,2012,111.8,99.0,125.4
303,Tajikistan,2012,90.5,80.0,103.0
305,Thailand,2012,102.8,82.6,127.8
307,The former Yugoslav republic of Macedonia,2012,146.4,110.1,189.5
309,Timor-Leste,2012,150.7,122.3,185.4
311,Togo,2012,99.8,93.9,109.0
313,Trinidad and Tobago,2012,136.6,115.2,172.8
315,Tunisia,2012,73.0,52.9,96.6
317,Turkey,2012,134.2,86.9,198.5
319,Turkmenistan,2012,113.4,94.6,137.9
321,Uganda,2012,133.6,122.3,150.0
323,Ukraine,2012,118.8,86.2,173.1
325,United Arab Emirates,2012,99.2,94.1,103.6
327,United Kingdom of Great Britain and Northern I...,2012,130.4,112.5,153.9
329,United Republic of Tanzania,2012,94.9,90.9,104.4
331,United States of America,2012,121.2,104.2,143.6
333,Uruguay,2012,154.3,115.9,211.5
335,Uzbekistan,2012,76.7,69.7,86.2
337,Venezuela (Bolivarian Republic of),2012,92.5,86.8,100.8
339,Viet Nam,2012,112.1,74.2,163.4
341,Yemen,2012,72.4,66.0,79.7
343,Zambia,2012,105.0,113.5,98.8
345,Zimbabwe,2012,223.0,226.6,223.5

In [10]:
cardio_2012.head(n=5)

        Country  Year Mortality Mortality 2 Mortality 3
3   Afghanistan  2012     511.5       520.9       498.0
5       Albania  2012     436.2       417.6       447.4
7       Algeria  2012     396.6       359.9       434.6
9        Angola  2012     374.6       369.8       376.4
11    Argentina  2012     191.7       148.4       247.8

In [11]:
cardio_2000.head(n=5)

        Country  Year Mortality Mortality 2 Mortality 3
4   Afghanistan  2000     542.3       554.1       523.1
6       Albania  2000     560.5       494.7       638.6
8       Algeria  2000     434.7       401.2       472.2
10       Angola  2000     383.4       385.2       375.2
12    Argentina  2000     226.6       169.1       302.8

In [12]:
all_foods = all_crop_dfs
print len(all_foods)

89

In [13]:
# plot for cardio
def food_cardio_plot(food_df, cardio):
    score = 1
    morts = []
    food_amts = []
    
    # for each country
    for country in food_df['AreaName'].values:
        # make sure it's in the disease df
        if not cardio[(cardio['Country'] == country)].empty:
            # find the disease data for that country
            country_data = cardio[(cardio['Country'] == country)]
            # find mortality rate
            mort = country_data.iloc[1,2]
            # append to mortality list
            morts.append(float(mort))
            # find amount of that particular food consumed in that country
            food_amt = food_df[(food_df['AreaName'] == country)].iloc[0, 9]
            # append to food_amounts
            food_amts.append(float(food_amt))
    
    # scatter the amounts against mortality rates
    #ax.scatter(food_amts, morts)
    
    # reshape for LinReg to get R^2
    X = np.array(food_amts).reshape(-1, 1)
    y = np.array(morts)
    
    if (len(food_df['ItemName'].values) > 0) and (X.shape[0] > 0):
        # linreg
        regr = LinReg()
        # fit, score linreg
        regr.fit(X, y)
        score = regr.score(X,y)
        #ax.set_title("R^2 = " + str(score))
    
    #ax.set_xlabel(food_df['ItemName'].values[0])
    #ax.set_ylabel('Cancer Disease Mortality Rate')
    
    return score

In [14]:
# Diabetes plot works the same way except for diabetes
def food_diabetes_plot(food_df, cardio):
    score = 1
    morts = []
    food_amts = []
    for country in food_df['AreaName'].values:
        if not cardio[(cardio['Country'] == country)].empty:
            country_data = cardio[(cardio['Country'] == country)]
            mort = country_data.iloc[1,2]
            morts.append(float(mort))
            food_amt = food_df[(food_df['AreaName'] == country)].iloc[0, 9]
            food_amts.append(float(food_amt))
    #ax.scatter( food_amts, morts)
    X = np.array(food_amts).reshape(-1, 1)
    y = np.array(morts)
    if (len(food_df['ItemName'].values) > 0) and (X.shape[0] > 0):
        regr = LinReg()
        regr.fit(X, y)
        score = regr.score(X,y)
        #ax.set_title("R^2 = " + str(score))
    
    #ax.set_xlabel(food_df['ItemName'].values[0] + str('(kg/capita/yr)'))
    #ax.set_ylabel('Diabetes Disease Mortality Rate')
    
    return score

In [15]:
# Cancer works the same way except for cancer
def food_cancer_plot(food_df, cardio):
    score = 1
    morts = []
    food_amts = []
    for country in food_df['AreaName'].values:
        if not cardio[(cardio['Country'] == country)].empty:
            country_data = cardio[(cardio['Country'] == country)]
            mort = country_data.iloc[1,2]
            morts.append(float(mort))
            food_amt = food_df[(food_df['AreaName'] == country)].iloc[0, 9]
            food_amts.append(float(food_amt))
    #ax.scatter(food_amts, morts)
    
    X = np.array(food_amts).reshape(-1, 1)
    y = np.array(morts)
    
    if (len(food_df['ItemName'].values) > 0) and (X.shape[0] > 0):
        regr = LinReg()
        regr.fit(X, y)
        score = regr.score(X,y)
        #ax.set_title("R^2 = " + str(score))
        #ax.set_xlabel(food_df['ItemName'].values[0])
        #ax.set_ylabel('Cancer Disease Mortality Rate')
    return score

In [16]:
#fig, ax = plt.subplots(18, 5, figsize=(18, 50))

#flatten list of axes
#axes = [e for l in ax for e in l]

# store r2s
cardio_crop_r2 = {}

# go through and plot each one
for df in all_crop_dfs:
    r2 = food_cardio_plot(df, cardio)
    crop_name = df['ItemName'].values[0]
    cardio_crop_r2[crop_name] = r2

#plt.tight_layout()
#plt.show()

In [17]:
#fig, ax = plt.subplots(18, 5, figsize=(18, 50))

# flatten list of axes
#axes = [e for l in ax for e in l]

# store r2s
diabetes_crop_r2 = {}
    
# iterate through
for df in all_crop_dfs:
    r2 = food_diabetes_plot(df, diabetes)
    crop_name = df['ItemName'].values[0]
    diabetes_crop_r2[crop_name] = r2


#plt.tight_layout()
#plt.show()

In [18]:
#fig, ax = plt.subplots(18, 5, figsize=(18, 50))

# flatten list of axes
#axes = [e for l in ax for e in l]

# store r2s
cancer_crop_r2 = {}

# go through
for df in all_crop_dfs:
    r2 =food_cancer_plot(df, cancer)
    crop_name = df['ItemName'].values[0]
    cancer_crop_r2[crop_name] = r2

#plt.tight_layout()
#plt.show()

In [19]:
#fig, ax = plt.subplots(7, 5, figsize=(25, 35))

#axes = [e for l in ax for e in l]

cardio_livestock_r2 = {}

for df in livestock_dfs:
    r2 =food_cardio_plot(df, cardio)
    livestock_name = df['ItemName'].values[0]
    cardio_livestock_r2[livestock_name] = r2

#plt.tight_layout()
#plt.show()

In [20]:
#fig, ax = plt.subplots(7, 5, figsize=(25, 35))

#axes = [e for l in ax for e in l]

diabetes_livestock_r2 = {}

for df in livestock_dfs:
    r2 =food_diabetes_plot(df, diabetes)
    livestock_name = df['ItemName'].values[0]
    diabetes_livestock_r2[livestock_name] = r2

#plt.tight_layout()
#plt.show()

KeyboardInterrupt:

In [ ]:
#fig, ax = plt.subplots(7, 5, figsize=(25, 35))

#axes = [e for l in ax for e in l]

cancer_livestock_r2 = {}

for df in livestock_dfs:
    r2 =food_cancer_plot(df, cancer)
    livestock_name = df['ItemName'].values[0]
    cancer_livestock_r2[livestock_name] = r2

print cancer_livestock_r2
#plt.tight_layout()
#plt.show()

In [ ]:
all_crop_dfs[0].head(n=5)

In [ ]:
# dictionary of all dataframes, crop and livestock
all_dfs = {}
for df in all_crop_dfs:
    crop_name = df['ItemName'].values[0]
    all_dfs[crop_name] = df

for df in livestock_dfs:
    crop_name = df['ItemName'].values[0]
    all_dfs[crop_name] = df

In [ ]:
print len(cancer_crop_r2)
print len(cancer_livestock_r2)
for k, v in cancer_livestock_r2.items():
    cancer_crop_r2[k] = v
print len(cancer_crop_r2)

In [ ]:

for k, v in diabetes_livestock_r2.items():
    diabetes_crop_r2[k] = v

In [ ]:
print len(cardio_crop_r2)
print len(cardio_livestock_r2)
for k, v in cardio_livestock_r2.items():
    cardio_crop_r2[k] = v
print len(cardio_crop_r2)

In [ ]:
cancer_r2_sort = sorted(cancer_crop_r2.items(), key= lambda x: -x[1])
diabetes_r2_sort = sorted(diabetes_crop_r2.items(), key= lambda x: -x[1])
cardio_r2_sort = sorted(cardio_crop_r2.items(), key= lambda x: -x[1])

In [ ]:
print cardio_r2_sort

In [ ]:
print cancer_2000.shape
cancer_2000.head(n=5)

# Lin Reg for Cardio

In [ ]:
N = 15
#x = pd.DataFrame({}) 

countries = list(cancer_2000['Country'].values)
cols = []
for name, r2 in cardio_r2_sort[:N]:
    if r2 != 1.0 and name != 'Cottonseed Oil':
        df = all_dfs[name]
        print df.shape
        cols.append(name)
        for country in countries:
            if country not in df['AreaName'].values:
                countries.remove(country)
print len(countries)

x = []
for country in countries:
    predictors = []
    for name, r2 in cardio_r2_sort[:N]:
        if r2 != 1.0 and name != 'Cottonseed Oil':
            df = all_dfs[name]
            for index, area in enumerate(df['AreaName'].values):
                if area == country and not math.isnan(df['Value'].values[index]):
                    predictors.append(df['Value'].values[index])
    x.append(predictors)

x_df = pd.DataFrame(x, columns = cols)
x_df.head(n=5)

In [ ]:
y = []
for country in countries:
    for index, area in enumerate(cancer_2000['Country'].values):
        if area == country:
            y.append(cancer_2000['Mortality'].values[index])
            
y_df = pd.DataFrame(y, columns = ['Cancer Mortality Rate'])
y_df.head(n=5)

In [ ]:
x_df.head(n=30)

In [ ]:
last = -1
linreg = LinReg()
#linreg.fit(x_df.iloc[:, :last], y_df)
#linreg.score(x_df.iloc[:, :last], y_df)
linreg.fit(x_df, y_df)
linreg.score(x_df, y_df)

# Lin Reg for Diabetes

In [ ]:
N = 22
#x = pd.DataFrame({}) 

countries = list(diabetes_2000['Country'].values)
cols = []
for name, r2 in diabetes_r2_sort[:N]:
    if r2 != 1.0 and name != 'Rye and products' and name != 'Rape and Mustard Oil':
        df = all_dfs[name]
        print df.shape
        cols.append(name)
        for country in countries:
            if country not in df['AreaName'].values:
                countries.remove(country)
print len(countries)
print cols
print len(cols)

x = []
for country in countries:
    predictors = []
    for name, r2 in diabetes_r2_sort[:N]:
        if r2 != 1.0 and name != 'Rye and products' and name != 'Rape and Mustard Oil':
            df = all_dfs[name]
            for index, area in enumerate(df['AreaName'].values):
                #if area == country and not math.isnan(df['Value'].values[index]):
                if area == country:
                    predictors.append(df['Value'].values[index])
                    #print name
                    break
    x.append(predictors)
    #print 'end'

x_df = pd.DataFrame(x, columns = cols)
x_df.head(n=5)

In [ ]:
y = []
for country in countries:
    for index, area in enumerate(diabetes_2000['Country'].values):
        if area == country:
            y.append(diabetes_2000['Mortality'].values[index])
            
y_df = pd.DataFrame(y, columns = ['Diabetes Mortality Rate'])
y_df.head(n=5)

In [ ]:
x_df.head(n=20)

In [ ]:
last = -1
linreg = LinReg()
#linreg.fit(x_df.iloc[:, :last], y_df)
#linreg.score(x_df.iloc[:, :last], y_df)
linreg.fit(x_df, y_df)
linreg.score(x_df, y_df)

# Lin Reg for Cancer

In [ ]:
N = 20
#x = pd.DataFrame({}) 

countries = list(cancer_2000['Country'].values)
#print countries
#print cancer_r2_sort[:20]
cols = []
for name, r2 in cancer_r2_sort[:N]:
    if r2 != 1.0 and name != 'Palm Oil' and name != 'Millet and products' and name != 'Rye and products':
        df = all_dfs[name]
        print df.shape
        cols.append(name)
        for country in countries:
            if country not in df['AreaName'].values:
                countries.remove(country)
    else:
        print 'r^2 was 1'
print len(countries)
print cols
print len(cols)

x = []
for country in countries:
    predictors = []
    for name, r2 in cancer_r2_sort[:N]:
        if r2 != 1.0 and name != 'Palm Oil' and name != 'Millet and products' and name != 'Rye and products':
            df = all_dfs[name]
            for index, area in enumerate(df['AreaName'].values):
                #if area == country and not math.isnan(df['Value'].values[index]):
                if area == country:
                    predictors.append(df['Value'].values[index])
                    #print name
                    break
    x.append(predictors)
    #print 'end'

x_df = pd.DataFrame(x, columns = cols)
x_df.head(n=5)

In [ ]:
y = []
for country in countries:
    for index, area in enumerate(cancer_2000['Country'].values):
        if area == country:
            y.append(cancer_2000['Mortality'].values[index])
            
y_df = pd.DataFrame(y, columns = ['Cancer Mortality Rate'])
y_df.head(n=5)

In [ ]:
x_df.head(n=20)

In [ ]:
last = -1
linreg = LinReg()
#linreg.fit(x_df.iloc[:, :last], y_df)
#linreg.scoare(x_df.iloc[:, :last], y_df)
linreg.fit(x_df, y_df)
linreg.score(x_df, y_df)

# Looking at missing data

In [21]:
print len(cardio_2000['Country'].unique())
print len(diabetes_2000['Country'].unique())
print len(cancer_2000['Country'].unique())

172
172
172

In [22]:
cardio_lands = cardio_2000['Country'].unique()
diabetes_lands = diabetes_2000['Country'].unique()
cancer_lands = cancer_2000['Country'].unique()

In [24]:
df = pd.read_csv('datasets/allwregions_92_00.csv')
df.head(n=5)

,Domain Code,Domain,Country Code,Country,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,CC,Food Supply - Crops Primary Equivalent,2,Afghanistan,645,Food supply quantity (kg/capita/yr),2617,Apples and products,1992,1992,kg,1.08,Fc,Calculated data
1,CC,Food Supply - Crops Primary Equivalent,2,Afghanistan,645,Food supply quantity (kg/capita/yr),2617,Apples and products,1993,1993,kg,1.00,Fc,Calculated data
2,CC,Food Supply - Crops Primary Equivalent,2,Afghanistan,645,Food supply quantity (kg/capita/yr),2617,Apples and products,1994,1994,kg,0.87,Fc,Calculated data
3,CC,Food Supply - Crops Primary Equivalent,2,Afghanistan,645,Food supply quantity (kg/capita/yr),2617,Apples and products,1995,1995,kg,0.69,Fc,Calculated data
4,CC,Food Supply - Crops Primary Equivalent,2,Afghanistan,645,Food supply quantity (kg/capita/yr),2617,Apples and products,1996,1996,kg,0.87,Fc,Calculated data

In [25]:
all_countries = df['Country'].unique()
len(all_countries)
print df.columns
print type(df['Year'].values[0])

Index([u'Domain Code', u'Domain', u'Country Code', u'Country', u'Element Code',
       u'Element', u'Item Code', u'Item', u'Year Code', u'Year', u'Unit',
       u'Value', u'Flag', u'Flag Description'],
      dtype='object')
<type 'numpy.int64'>

In [26]:
all_crops = df['Item'].unique()
print len(all_crops)
c180 = 0
c170 = 0
c150 = 0

#crop_countries = set()

for crop in all_crops:
    countries = set()
    c_2000 = set()
    for i, country in enumerate(df['Country'].values):
        if country in cancer_lands:
            if df['Item'].values[i] == crop:
                countries.add(country)
                if df['Year'].values[i] == 2000:
                    c_2000.add(country)
    print crop, len(countries), len(c_2000)
    count = len(countries)
    if count == 180:
        c180 += 1
    elif count >= 170:
        c170 += 1
    elif count >= 150:
        c150 += 1
print c180, c170, c150
        #if df['Year'].values[i] == year:
            
    #for i in range(11):
        #year = i+1990

75
Apples and products 151 151
Bananas 143 143
Barley and products 139 139
Beer 150 150
Beverages, Alcoholic 148 148
Cereals, Other 141 141
Citrus, Other 134 134
Cocoa Beans and products 151 151
Coconuts - Incl Copra 145 145
Coffee and products 151 151
Cottonseed Oil 101 101
Dates 137 137
Fruits, Other 151 151
Grapes and products (excl wine) 149 149
Groundnut Oil 141 141
Infant food 138 138
Maize and products 147 147
Millet and products 59 59
Nuts and products 149 149
Oilcrops Oil, Other 145 145
Olive Oil 148 148
Olives (including preserved) 136 136
Oranges, Mandarines 150 150
Palm Oil 109 109
Pepper 146 146
Pineapples and products 145 145
Potatoes and products 151 151
Pulses, Other and products 147 147
Rape and Mustard Oil 109 109
Rice (Milled Equivalent) 151 151
Rice (Paddy Equivalent) 151 151
Roots & Tuber Dry Equiv 151 151
Sesame seed 105 105
Sesameseed Oil 113 113
Soyabean Oil 148 148
Spices, Other 149 149
Sugar (Raw Equivalent) 151 151
Sugar, Raw Equivalent 151 151
Sugar, Refined Equiv 151 151
Sunflowerseed Oil 143 143
Sweeteners, Other 150 150
Tea (including mate) 150 150
Tomatoes and products 149 149
Vegetables, Other 151 151
Wheat and products 151 151
Wine 147 147
Beans 137 137
Beverages, Fermented 140 140
Cassava and products 104 104
Grapefruit and products 138 138
Groundnuts (in Shell Eq) 144 144
Groundnuts (Shelled Eq) 144 144
Lemons, Limes and products 140 140
Maize Germ Oil 138 138
Oats 137 137
Onions 143 143
Peas 132 132
Pimento 135 135
Roots, Other 120 120
Rye and products 115 115
Soyabeans 139 139
Sweet potatoes 129 129
Cloves 120 120
Coconut Oil 116 116
Plantains 78 78
Sorghum and products 58 58
Palmkernel Oil 86 86
Oilcrops, Other 99 99
Yams 43 43
Sunflower seed 60 60
Ricebran Oil 16 16
Sugar cane 39 39
Sugar non-centrifugal 28 28
Sugar beet 9 9
Molasses 2 2
0 0 17

In [27]:
l = []
for i, country in enumerate(all_countries):
    if country not in cancer_lands:
        l.append(country)
print len(l)
print l

55
['Antigua and Barbuda', 'Belgium-Luxembourg', 'Bermuda', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of', "C\xc3\xb4te d'Ivoire", 'Czechia', 'Czechoslovakia', 'Dominica', 'Ethiopia PDR', 'French Polynesia', 'Grenada', 'Kiribati', 'Netherlands Antilles (former)', 'New Caledonia', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Serbia and Montenegro', 'Sudan (former)', 'The former Yugoslav Republic of Macedonia', 'United Kingdom', 'Vanuatu', 'World', 'Africa', 'Eastern Africa', 'Middle Africa', 'Northern Africa', 'Southern Africa', 'Western Africa', 'Americas', 'Northern America', 'Central America', 'Caribbean', 'South America', 'Asia', 'Central Asia', 'Eastern Asia', 'Southern Asia', 'South-Eastern Asia', 'Western Asia', 'Europe', 'Eastern Europe', 'Northern Europe', 'Southern Europe', 'Western Europe', 'Oceania', 'Australia & New Zealand', 'Melanesia', 'Micronesia', 'Polynesia']

In [28]:
for i, country in enumerate(cancer_lands):
    if country not in all_countries:
        print country

Bahrain
Bhutan
Burundi
Cote d'Ivoire
Comoros
Czech Republic
Democratic Republic of the Congo
Equatorial Guinea
Eritrea
Libya
Montenegro
Papua New Guinea
Qatar
Serbia
Singapore
Somalia
South Sudan
Sudan
Syrian Arab Republic
The former Yugoslav republic of Macedonia
United Kingdom of Great Britain and Northern Ireland

### Creates dictionary where each key is a crop whose value is a dictionary with countries as keys and values as the years present in the data

In [80]:

#crop_countries = set()
cropdata = {}
for crop in all_crops:
    data = {}
    for i, country in enumerate(df['Country'].values):
        count = 0
        if country in cancer_lands:
            data[country] = []
    for i, country in enumerate(df['Country'].values):
        if df['Item'].values[i] == crop:
            if country in data:
                if len(data[country]) > 0:
                    data[country].append(df['Year'].values[i])
                else:
                    data[country] = [df['Year'].values[i]]
    #for country in data:
        #if len(data[country]) != 9:
            #print crop, country, data[country]
    cropdata[crop] = data

In [ ]:
print cropdata['Molasses']

### Next 2 cells: Creates a dictionary with countries as keys and values as the corresponding region

In [35]:
def parse_country(dataset): 
    country_full = pd.read_csv(str(dataset))
    country_array = np.unique(country_full["Country"])
    return country_array

In [36]:
import glob
path = 'datasets/countries/' 
allFiles = glob.glob(path + "/*.csv")
country_dictionary = {}
for file in allFiles:
    area_name = file.split('/')[2].split('.')[0]
    country_list = parse_country(file)
    for country in country_list:
        country_dictionary[country] = area_name
country_dictionary['China'] = 'Eastern Asia'
print country_dictionary

{'Canada': 'Northern America', 'Sao Tome and Principe': 'Middle Africa', 'Turkmenistan': 'Central Asia', 'Serbia and Montenegro': 'Southern Europe', 'Lithuania': 'Northern Europe', 'Cambodia': 'South-Eastern Asia', 'Ethiopia': 'Eastern Africa', 'Sri Lanka': 'Southern Asia', 'Swaziland': 'Southern Africa', 'Argentina': 'South America', 'Cameroon': 'Middle Africa', 'Burkina Faso': 'Western Africa', 'Ghana': 'Western Africa', 'Saudi Arabia': 'Western Asia', 'Slovenia': 'Southern Europe', 'Guatemala': 'Central America', 'Bosnia and Herzegovina': 'Southern Europe', 'Kuwait': 'Western Asia', 'Russian Federation': 'Eastern Europe', 'Germany': 'Western Europe', 'Dominica': 'Caribbean', 'Liberia': 'Western Africa', 'Maldives': 'Southern Asia', 'Pakistan': 'Southern Asia', 'Oman': 'Western Asia', 'Cabo Verde': 'Western Africa', 'Gabon': 'Middle Africa', 'New Zealand': 'Australia & New Zealand', 'Yemen': 'Western Asia', 'Jamaica': 'Caribbean', 'Albania': 'Southern Europe', 'Samoa': 'Polynesia', 'United Arab Emirates': 'Western Asia', "C\xc3\xb4te d'Ivoire": 'Western Africa', 'Viet Nam': 'South-Eastern Asia', 'Azerbaijan': 'Western Asia', 'Lesotho': 'Southern Africa', 'Saint Vincent and the Grenadines': 'Caribbean', 'Kenya': 'Eastern Africa', 'Tajikistan': 'Central Asia', 'Turkey': 'Western Asia', 'Afghanistan': 'Southern Asia', 'Bangladesh': 'Southern Asia', 'Solomon Islands': 'Melanesia', 'Netherlands Antilles (former)': 'Caribbean', 'Saint Lucia': 'Caribbean', 'Cyprus': 'Western Asia', 'Mongolia': 'Eastern Asia', 'France': 'Western Europe', 'China, mainland': 'Eastern Asia', 'Bermuda': 'Northern America', 'Slovakia': 'Eastern Europe', 'Peru': 'South America', 'Vanuatu': 'Melanesia', 'Norway': 'Northern Europe', 'Malawi': 'Eastern Africa', 'Benin': 'Western Africa', 'Cuba': 'Caribbean', 'United States of America': 'Northern America', 'Saint Kitts and Nevis': 'Caribbean', 'Togo': 'Western Africa', 'China': 'Eastern Asia', 'Armenia': 'Western Asia', 'Republic of Korea': 'Eastern Asia', 'Dominican Republic': 'Caribbean', 'Bolivia (Plurinational State of)': 'South America', 'Ukraine': 'Eastern Europe', 'India': 'Southern Asia', 'Indonesia': 'South-Eastern Asia', 'Finland': 'Northern Europe', 'Central African Republic': 'Middle Africa', 'Mauritius': 'Eastern Africa', 'Sweden': 'Northern Europe', 'Belarus': 'Eastern Europe', 'Mali': 'Western Africa', 'Bulgaria': 'Eastern Europe', 'Romania': 'Eastern Europe', 'Angola': 'Middle Africa', 'Chad': 'Middle Africa', 'South Africa': 'Southern Africa', 'Nicaragua': 'Central America', 'Brunei Darussalam': 'South-Eastern Asia', 'Malaysia': 'South-Eastern Asia', 'Senegal': 'Western Africa', 'Mozambique': 'Eastern Africa', 'Uganda': 'Eastern Africa', 'Hungary': 'Eastern Europe', 'Niger': 'Western Africa', 'Brazil': 'South America', 'Guinea': 'Western Africa', 'Panama': 'Central America', 'Guyana': 'South America', 'Republic of Moldova': 'Eastern Europe', 'Costa Rica': 'Central America', 'Luxembourg': 'Western Europe', 'Bahamas': 'Caribbean', 'Ireland': 'Northern Europe', 'Nigeria': 'Western Africa', 'Ecuador': 'South America', 'Australia': 'Australia & New Zealand', 'Algeria': 'Northern Africa', 'El Salvador': 'Central America', 'Czechia': 'Eastern Europe', 'Iran (Islamic Republic of)': 'Southern Asia', 'Chile': 'South America', 'Belgium': 'Western Europe', 'Kiribati': 'Micronesia', 'Haiti': 'Caribbean', 'Belize': 'Central America', 'Sierra Leone': 'Western Africa', 'Georgia': 'Western Asia', "Lao People's Democratic Republic": 'South-Eastern Asia', 'China, Hong Kong SAR': 'Eastern Asia', 'Denmark': 'Northern Europe', 'Poland': 'Eastern Europe', 'China, Macao SAR': 'Eastern Asia', 'Morocco': 'Northern Africa', 'Namibia': 'Southern Africa', 'French Polynesia': 'Polynesia', 'Guinea-Bissau': 'Western Africa', 'United Republic of Tanzania': 'Eastern Africa', 'Switzerland': 'Western Europe', 'Grenada': 'Caribbean', 'Venezuela (Bolivarian Republic of)': 'South America', 'Iraq': 'Western Asia', 'Portugal': 'Southern Europe', 'Estonia': 'Northern Europe', 'Uruguay': 'South America', 'Lebanon': 'Western Asia', 'Uzbekistan': 'Central Asia', 'Tunisia': 'Northern Africa', 'Djibouti': 'Eastern Africa', 'Rwanda': 'Eastern Africa', 'Antigua and Barbuda': 'Caribbean', 'Spain': 'Southern Europe', 'Colombia': 'South America', 'Fiji': 'Melanesia', 'Barbados': 'Caribbean', 'Madagascar': 'Eastern Africa', 'Italy': 'Southern Europe', 'Nepal': 'Southern Asia', 'Malta': 'Southern Europe', 'Netherlands': 'Western Europe', 'Suriname': 'South America', 'Thailand': 'South-Eastern Asia', 'The former Yugoslav Republic of Macedonia': 'Southern Europe', 'Israel': 'Western Asia', 'Iceland': 'Northern Europe', 'Zambia': 'Eastern Africa', 'China, Taiwan Province of': 'Eastern Asia', 'Austria': 'Western Europe', 'Zimbabwe': 'Eastern Africa', 'Jordan': 'Western Asia', 'Gambia': 'Western Africa', 'Kazakhstan': 'Central Asia', 'Philippines': 'South-Eastern Asia', 'Mauritania': 'Western Africa', 'Kyrgyzstan': 'Central Asia', 'New Caledonia': 'Melanesia', 'Trinidad and Tobago': 'Caribbean', 'Latvia': 'Northern Europe', 'Japan': 'Eastern Asia', 'Croatia': 'Southern Europe', 'Honduras': 'Central America', 'Myanmar': 'South-Eastern Asia', 'Mexico': 'Central America', 'Egypt': 'Northern Africa', 'Sudan (former)': 'Northern Africa', "Democratic People's Republic of Korea": 'Eastern Asia', 'United Kingdom': 'Northern Europe', 'Congo': 'Middle Africa', 'Greece': 'Southern Europe', 'Paraguay': 'South America', 'Timor-Leste': 'South-Eastern Asia', 'Botswana': 'Southern Africa'}

In [37]:
regions = set()
for land in country_dictionary:
    regions.add(country_dictionary[land])
print regions

set(['Caribbean', 'Middle Africa', 'Southern Europe', 'Micronesia', 'Western Africa', 'Central Asia', 'South-Eastern Asia', 'Australia & New Zealand', 'Eastern Africa', 'Northern Europe', 'Eastern Asia', 'Northern America', 'Polynesia', 'Southern Africa', 'Western Asia', 'Southern Asia', 'Melanesia', 'Central America', 'Northern Africa', 'Eastern Europe', 'South America', 'Western Europe'])

In [38]:
regions_df = pd.read_csv('datasets/onlyregions_92_00.csv')
regions_df.tail(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
13694,Food Supply - Crops Primary Equivalent,Polynesia,Food supply quantity (kg/capita/yr),Yams,1996,kg,3.46
13695,Food Supply - Crops Primary Equivalent,Polynesia,Food supply quantity (kg/capita/yr),Yams,1997,kg,4.09
13696,Food Supply - Crops Primary Equivalent,Polynesia,Food supply quantity (kg/capita/yr),Yams,1998,kg,4.49
13697,Food Supply - Crops Primary Equivalent,Polynesia,Food supply quantity (kg/capita/yr),Yams,1999,kg,5.53
13698,Food Supply - Crops Primary Equivalent,Polynesia,Food supply quantity (kg/capita/yr),Yams,2000,kg,6.23

In [39]:
regions_df['Country'].unique()

array(['Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Northern America',
       'Central America', 'Caribbean', 'South America', 'Central Asia',
       'Eastern Asia', 'Southern Asia', 'South-Eastern Asia',
       'Western Asia', 'Eastern Europe', 'Northern Europe',
       'Southern Europe', 'Western Europe', 'Australia & New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia'], dtype=object)

### Creates a dictionary with the regions as keys and the values as dictionaries with crops as keys and lists of (year, value) tuples as values

In [40]:
regiondata = {}
for i, region in enumerate(regions_df['Country'].unique()):
    regiondata[region] = {}

for i, region in enumerate(regions_df['Country'].values):
    regiondict = regiondata[region]
    crop = regions_df['Item'].values[i]
    year = regions_df['Year'].values[i]
    value = regions_df['Value'].values[i]
    if crop in regiondict:
        regiondata[region][crop].append((year, value))
    else:
        regiondata[region][crop] = [(year, value)]

In [ ]:
#print regiondata['Western Asia']

In [48]:
regions_dfL = pd.read_csv('datasets/onlyregionsL_92_00.csv')
regions_dfL.tail(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
5134,Food Supply - Livestock and Fish Primary Equiv...,Polynesia,Food supply quantity (kg/capita/yr),Whey,1996,kg,0.01
5135,Food Supply - Livestock and Fish Primary Equiv...,Polynesia,Food supply quantity (kg/capita/yr),Whey,1997,kg,0.05
5136,Food Supply - Livestock and Fish Primary Equiv...,Polynesia,Food supply quantity (kg/capita/yr),Whey,1998,kg,0.02
5137,Food Supply - Livestock and Fish Primary Equiv...,Polynesia,Food supply quantity (kg/capita/yr),Whey,1999,kg,0.01
5138,Food Supply - Livestock and Fish Primary Equiv...,Polynesia,Food supply quantity (kg/capita/yr),Whey,2000,kg,0.02

In [75]:
dfL = pd.read_csv('datasets/noregionsL_92_00.csv')
dfL.tail(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
38399,Food Supply - Livestock and Fish Primary Equiv...,China,Food supply quantity (kg/capita/yr),Whey,1996,kg,0.0
38400,Food Supply - Livestock and Fish Primary Equiv...,China,Food supply quantity (kg/capita/yr),Whey,1997,kg,0.0
38401,Food Supply - Livestock and Fish Primary Equiv...,China,Food supply quantity (kg/capita/yr),Whey,1998,kg,0.0
38402,Food Supply - Livestock and Fish Primary Equiv...,China,Food supply quantity (kg/capita/yr),Whey,1999,kg,0.0
38403,Food Supply - Livestock and Fish Primary Equiv...,China,Food supply quantity (kg/capita/yr),Whey,2000,kg,0.0

In [76]:
all_ls = dfL['Item'].unique()
print len(all_ls)

28

### Same thing as cropdata but with livestock

In [31]:

#crop_countries = set()
lsdata = {}
for ls in all_ls:
    data = {}
    for i, country in enumerate(dfL['Country'].values):
        count = 0
        if country in cancer_lands:
            data[country] = []
    for i, country in enumerate(dfL['Country'].values):
        if dfL['Item'].values[i] == ls:
            if country in data:
                if len(data[country]) > 0:
                    data[country].append(dfL['Year'].values[i])
                else:
                    data[country] = [dfL['Year'].values[i]]
    #for country in data:
        #if len(data[country]) != 9:
            #print crop, country, data[country]
    lsdata[ls] = data

### Same thing as regiondata but for livestock

In [44]:
regiondataL = {}
for i, region in enumerate(regions_dfL['Country'].unique()):
    regiondataL[region] = {}

for i, region in enumerate(regions_dfL['Country'].values):
    regiondict = regiondataL[region]
    ls = regions_dfL['Item'].values[i]
    year = regions_dfL['Year'].values[i]
    value = regions_dfL['Value'].values[i]
    if ls in regiondict:
        regiondataL[region][ls].append((year, value))
    else:
        regiondataL[region][ls] = [(year, value)]

In [45]:
regiondataL['Western Asia']

{'Aquatic Animals, Others': [(1992, 0.01),
  (1993, 0.01),
  (1994, 0.01),
  (1995, 0.01),
  (1996, 0.0),
  (1997, 0.0),
  (1998, 0.01),
  (1999, 0.0),
  (2000, 0.01)],
 'Aquatic Plants': [(1992, 0.0),
  (1993, 0.0),
  (1994, 0.0),
  (1995, 0.0),
  (1996, 0.0),
  (1997, 0.0),
  (1998, 0.0),
  (1999, 0.0),
  (2000, 0.0)],
 'Bovine Meat': [(1992, 6.1500000000000004),
  (1993, 5.9800000000000004),
  (1994, 5.8399999999999999),
  (1995, 6.21),
  (1996, 5.5599999999999996),
  (1997, 6.1299999999999999),
  (1998, 5.7999999999999998),
  (1999, 5.6699999999999999),
  (2000, 5.9800000000000004)],
 'Butter, Ghee': [(1992, 1.51),
  (1993, 1.5),
  (1994, 1.46),
  (1995, 1.5),
  (1996, 1.6100000000000001),
  (1997, 1.51),
  (1998, 1.4299999999999999),
  (1999, 1.3999999999999999),
  (2000, 1.3500000000000001)],
 'Cephalopods': [(1992, 0.059999999999999998),
  (1993, 0.050000000000000003),
  (1994, 0.050000000000000003),
  (1995, 0.050000000000000003),
  (1996, 0.070000000000000007),
  (1997, 0.070000000000000007),
  (1998, 0.070000000000000007),
  (1999, 0.080000000000000002),
  (2000, 0.070000000000000007)],
 'Cheese': [(1992, 3.25),
  (1993, 3.0899999999999999),
  (1994, 3.0899999999999999),
  (1995, 3.2400000000000002),
  (1996, 3.5499999999999998),
  (1997, 3.4100000000000001),
  (1998, 3.4700000000000002),
  (1999, 3.4700000000000002),
  (2000, 3.5)],
 'Cream': [(1992, 0.040000000000000001),
  (1993, 0.01),
  (1994, 0.02),
  (1995, 0.040000000000000001),
  (1996, 0.01),
  (1997, 0.029999999999999999),
  (1998, 0.029999999999999999),
  (1999, 0.059999999999999998),
  (2000, 0.050000000000000003)],
 'Crustaceans': [(1992, 0.14000000000000001),
  (1993, 0.14000000000000001),
  (1994, 0.20999999999999999),
  (1995, 0.16),
  (1996, 0.17000000000000001),
  (1997, 0.17000000000000001),
  (1998, 0.19),
  (1999, 0.17000000000000001),
  (2000, 0.13)],
 'Demersal Fish': [(1992, 1.6599999999999999),
  (1993, 1.8600000000000001),
  (1994, 1.78),
  (1995, 1.9099999999999999),
  (1996, 1.96),
  (1997, 1.99),
  (1998, 2.0899999999999999),
  (1999, 1.9099999999999999),
  (2000, 2.0099999999999998)],
 'Eggs': [(1992, 5.5199999999999996),
  (1993, 5.8399999999999999),
  (1994, 5.8399999999999999),
  (1995, 6.0),
  (1996, 6.2199999999999998),
  (1997, 6.8799999999999999),
  (1998, 7.4800000000000004),
  (1999, 7.5199999999999996),
  (2000, 7.1600000000000001)],
 'Fats, Animals, Raw': [(1992, 0.34000000000000002),
  (1993, 0.37),
  (1994, 0.40000000000000002),
  (1995, 0.35999999999999999),
  (1996, 0.33000000000000002),
  (1997, 0.32000000000000001),
  (1998, 0.35999999999999999),
  (1999, 0.34000000000000002),
  (2000, 0.34000000000000002)],
 'Fish, Body Oil': [(1992, 0.0),
  (1993, 0.0),
  (1994, 0.0),
  (1995, 0.0),
  (1996, 0.0),
  (1997, 0.0),
  (1998, 0.0),
  (1999, 0.0),
  (2000, 0.0)],
 'Fish, Liver Oil': [(1992, 0.0),
  (1993, 0.0),
  (1994, 0.0),
  (1995, 0.0),
  (1996, 0.0),
  (1997, 0.0),
  (1998, 0.0),
  (1999, 0.0),
  (2000, 0.0)],
 'Freshwater Fish': [(1992, 0.92000000000000004),
  (1993, 0.87),
  (1994, 0.81000000000000005),
  (1995, 0.87),
  (1996, 0.84999999999999998),
  (1997, 0.93999999999999995),
  (1998, 0.94999999999999996),
  (1999, 1.03),
  (2000, 1.03)],
 'Honey': [(1992, 0.52000000000000002),
  (1993, 0.5),
  (1994, 0.48999999999999999),
  (1995, 0.64000000000000001),
  (1996, 0.53000000000000003),
  (1997, 0.5),
  (1998, 0.56000000000000005),
  (1999, 0.52000000000000002),
  (2000, 0.47999999999999998)],
 'Marine Fish, Other': [(1992, 0.25),
  (1993, 0.34000000000000002),
  (1994, 0.27000000000000002),
  (1995, 0.28999999999999998),
  (1996, 0.39000000000000001),
  (1997, 0.39000000000000001),
  (1998, 0.40999999999999998),
  (1999, 0.37),
  (2000, 0.38)],
 'Meat, Other': [(1992, 0.51000000000000001),
  (1993, 0.51000000000000001),
  (1994, 0.51000000000000001),
  (1995, 0.46000000000000002),
  (1996, 0.56000000000000005),
  (1997, 0.5),
  (1998, 0.46999999999999997),
  (1999, 0.44),
  (2000, 0.44)],
 'Milk - Excluding Butter': [(1992, 99.519999999999996),
  (1993, 98.590000000000003),
  (1994, 99.310000000000002),
  (1995, 99.849999999999994),
  (1996, 102.77),
  (1997, 98.060000000000002),
  (1998, 97.219999999999999),
  (1999, 101.97),
  (2000, 99.599999999999994)],
 'Milk, Whole': [(1992, 74.090000000000003),
  (1993, 71.629999999999995),
  (1994, 73.430000000000007),
  (1995, 73.650000000000006),
  (1996, 74.450000000000003),
  (1997, 72.019999999999996),
  (1998, 71.510000000000005),
  (1999, 75.349999999999994),
  (2000, 72.349999999999994)],
 'Molluscs, Other': [(1992, 0.19),
  (1993, 0.28000000000000003),
  (1994, 0.28000000000000003),
  (1995, 0.089999999999999997),
  (1996, 0.12),
  (1997, 0.070000000000000007),
  (1998, 0.050000000000000003),
  (1999, 0.050000000000000003),
  (2000, 0.029999999999999999)],
 'Mutton & Goat Meat': [(1992, 5.25),
  (1993, 5.2999999999999998),
  (1994, 5.2699999999999996),
  (1995, 5.2300000000000004),
  (1996, 5.0700000000000003),
  (1997, 5.1600000000000001),
  (1998, 5.1699999999999999),
  (1999, 5.0199999999999996),
  (2000, 5.0499999999999998)],
 'Offals, Edible': [(1992, 1.74),
  (1993, 1.73),
  (1994, 1.72),
  (1995, 1.8300000000000001),
  (1996, 1.78),
  (1997, 1.8100000000000001),
  (1998, 1.8),
  (1999, 1.79),
  (2000, 1.8700000000000001)],
 'Pelagic Fish': [(1992, 3.5899999999999999),
  (1993, 3.2599999999999998),
  (1994, 3.54),
  (1995, 4.46),
  (1996, 3.6699999999999999),
  (1997, 3.3100000000000001),
  (1998, 3.46),
  (1999, 3.4199999999999999),
  (2000, 3.2599999999999998)],
 'Pigmeat': [(1992, 0.88),
  (1993, 0.75),
  (1994, 0.72999999999999998),
  (1995, 0.72999999999999998),
  (1996, 0.69999999999999996),
  (1997, 0.73999999999999999),
  (1998, 0.70999999999999996),
  (1999, 0.66000000000000003),
  (2000, 0.70999999999999996)],
 'Poultry Meat': [(1992, 11.23),
  (1993, 11.41),
  (1994, 11.529999999999999),
  (1995, 12.57),
  (1996, 12.220000000000001),
  (1997, 12.869999999999999),
  (1998, 13.67),
  (1999, 14.99),
  (2000, 15.84)],
 'Whey': [(1992, 0.01),
  (1993, 0.0),
  (1994, 0.01),
  (1995, 0.02),
  (1996, 0.02),
  (1997, 0.01),
  (1998, 0.01),
  (1999, 0.0),
  (2000, 0.02)]}

In [34]:
#lsdata['Whey']

{'Afghanistan': [],
 'Albania': [],
 'Algeria': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Angola': [],
 'Argentina': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Armenia': [],
 'Australia': [],
 'Austria': [],
 'Azerbaijan': [],
 'Bahamas': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Bangladesh': [],
 'Barbados': [],
 'Belarus': [],
 'Belgium': [],
 'Belize': [],
 'Benin': [],
 'Bolivia (Plurinational State of)': [],
 'Bosnia and Herzegovina': [],
 'Botswana': [],
 'Brazil': [],
 'Brunei Darussalam': [],
 'Bulgaria': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Burkina Faso': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Cabo Verde': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Cambodia': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Cameroon': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Canada': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Central African Republic': [],
 'Chad': [],
 'Chile': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'China': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Colombia': [],
 'Congo': [],
 'Costa Rica': [],
 'Croatia': [],
 'Cuba': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Cyprus': [],
 "Democratic People's Republic of Korea": [],
 'Denmark': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Djibouti': [],
 'Dominican Republic': [],
 'Ecuador': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Egypt': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'El Salvador': [],
 'Estonia': [],
 'Ethiopia': [],
 'Fiji': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Finland': [],
 'France': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Gabon': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Gambia': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Georgia': [],
 'Germany': [],
 'Ghana': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Greece': [],
 'Guatemala': [],
 'Guinea': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Guinea-Bissau': [],
 'Guyana': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Haiti': [],
 'Honduras': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Hungary': [],
 'Iceland': [],
 'India': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Indonesia': [],
 'Iran (Islamic Republic of)': [],
 'Iraq': [],
 'Ireland': [],
 'Israel': [],
 'Italy': [],
 'Jamaica': [],
 'Japan': [],
 'Jordan': [],
 'Kazakhstan': [],
 'Kenya': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Kuwait': [],
 'Kyrgyzstan': [],
 "Lao People's Democratic Republic": [],
 'Latvia': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Lebanon': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Lesotho': [],
 'Liberia': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Lithuania': [],
 'Luxembourg': [],
 'Madagascar': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Malawi': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Malaysia': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Maldives': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Mali': [],
 'Malta': [],
 'Mauritania': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Mauritius': [],
 'Mexico': [],
 'Mongolia': [],
 'Morocco': [],
 'Mozambique': [],
 'Myanmar': [],
 'Namibia': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Nepal': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Netherlands': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'New Zealand': [],
 'Nicaragua': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Niger': [],
 'Nigeria': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Norway': [],
 'Oman': [],
 'Pakistan': [],
 'Panama': [],
 'Paraguay': [],
 'Peru': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Philippines': [],
 'Poland': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Portugal': [],
 'Republic of Korea': [],
 'Republic of Moldova': [],
 'Romania': [],
 'Russian Federation': [],
 'Rwanda': [],
 'Saudi Arabia': [],
 'Senegal': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Sierra Leone': [],
 'Slovakia': [],
 'Slovenia': [],
 'Solomon Islands': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'South Africa': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Spain': [],
 'Sri Lanka': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Suriname': [],
 'Swaziland': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Sweden': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Switzerland': [],
 'Tajikistan': [],
 'Thailand': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Timor-Leste': [],
 'Togo': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Trinidad and Tobago': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Tunisia': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Turkey': [],
 'Turkmenistan': [],
 'Uganda': [],
 'Ukraine': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'United Arab Emirates': [],
 'United Republic of Tanzania': [1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000],
 'United States of America': [1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000],
 'Uruguay': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Uzbekistan': [],
 'Venezuela (Bolivarian Republic of)': [],
 'Viet Nam': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Yemen': [],
 'Zambia': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000],
 'Zimbabwe': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000]}

In [72]:
df = pd.read_csv('datasets/noregions_92_00.csv')
df.head(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
0,Food Supply - Crops Primary Equivalent,Afghanistan,Food supply quantity (kg/capita/yr),Apples and products,1992,kg,1.08
1,Food Supply - Crops Primary Equivalent,Afghanistan,Food supply quantity (kg/capita/yr),Apples and products,1993,kg,1.00
2,Food Supply - Crops Primary Equivalent,Afghanistan,Food supply quantity (kg/capita/yr),Apples and products,1994,kg,0.87
3,Food Supply - Crops Primary Equivalent,Afghanistan,Food supply quantity (kg/capita/yr),Apples and products,1995,kg,0.69
4,Food Supply - Crops Primary Equivalent,Afghanistan,Food supply quantity (kg/capita/yr),Apples and products,1996,kg,0.87

In [73]:
#df = df.drop('Domain', 1)
df.head(n=5)
df.tail(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
96285,Food Supply - Crops Primary Equivalent,China,Food supply quantity (kg/capita/yr),Yams,1996,kg,0.0
96286,Food Supply - Crops Primary Equivalent,China,Food supply quantity (kg/capita/yr),Yams,1997,kg,0.0
96287,Food Supply - Crops Primary Equivalent,China,Food supply quantity (kg/capita/yr),Yams,1998,kg,0.0
96288,Food Supply - Crops Primary Equivalent,China,Food supply quantity (kg/capita/yr),Yams,1999,kg,0.0
96289,Food Supply - Crops Primary Equivalent,China,Food supply quantity (kg/capita/yr),Yams,2000,kg,0.0

### Functions to extract values from regiondata

In [74]:
def getvalue(region, crop, year):
    if crop in regiondata[region]:
        data = regiondata[region][crop]
        for yr, val in data:
            if yr == year:
                return val
    else:
        return 0

def getvalueL(region, ls, year):
    if ls in regiondataL[region]:
        data = regiondataL[region][ls]
        for yr, val in data:
            if yr == year:
                return val
    else:
        return 0

# Do not re run these cell

### They take awhile to run

### Filling in the data

In [77]:
import time
end = dfL.shape[0]
years = [1992 + i for i in range(9)]
domain = dfL['Domain'].values[0]
element = regions_dfL['Element'].values[0]
unit = dfL['Unit'].values[0]
check1 = time.time()
count = 0
for ls in lsdata:
    for country in lsdata[ls]:
        count += 1
        if len(lsdata[ls][country]) == 9:
            continue
        if len(lsdata[ls][country]) == 8:
            value = getvalueL(country_dictionary[country], ls, 1992)
            dfL.loc[end+1] = [domain, country, element, ls, year, unit, value]
            end += 1
        if len(lsdata[ls][country]) == 1:
            for i in range(1992, 2000):
                value = getvalueL(country_dictionary[country], ls, i)
                dfL.loc[end] = [domain, country, element, ls, i, unit, value]
                end += 1
        if len(lsdata[ls][country]) == 0:
            for i in range(1992, 2001):
                value = getvalueL(country_dictionary[country], ls, i)
                dfL.loc[end] = [domain, country, element, ls, i, unit, value]
                end += 1
check2 = time.time()
print check2 - check1

69.8499732018

In [81]:
end = df.shape[0]
years = [1992 + i for i in range(9)]
domain = df['Domain'].values[0]
element = regions_df['Element'].values[0]
unit = df['Unit'].values[0]
check1 = time.time()
count = 0
for crop in cropdata:
    for country in cropdata[crop]:
        count += 1
        if len(cropdata[crop][country]) == 9:
            continue
        if len(cropdata[crop][country]) == 8:
            value = getvalue(country_dictionary[country], crop, 1992)
            df.loc[end+1] = [domain, country, element, crop, year, unit, value]
            end += 1
        if len(cropdata[crop][country]) == 1:
            for i in range(1992, 2000):
                value = getvalue(country_dictionary[country], crop, i)
                df.loc[end] = [domain, country, element, crop, i, unit, value]
                end += 1
        if len(cropdata[crop][country]) == 0:
            for i in range(1992, 2001):
                value = getvalue(country_dictionary[country], crop, i)
                df.loc[end] = [domain, country, element, crop, i, unit, value]
                end += 1
check2 = time.time()
print check2 - check1

665.452387094

In [78]:
dfL.tail(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
43510,Food Supply - Livestock and Fish Primary Equiv...,Democratic People's Republic of Korea,Food supply quantity (kg/capita/yr),Cream,1996,kg,0.01
43511,Food Supply - Livestock and Fish Primary Equiv...,Democratic People's Republic of Korea,Food supply quantity (kg/capita/yr),Cream,1997,kg,0.01
43512,Food Supply - Livestock and Fish Primary Equiv...,Democratic People's Republic of Korea,Food supply quantity (kg/capita/yr),Cream,1998,kg,0.00
43513,Food Supply - Livestock and Fish Primary Equiv...,Democratic People's Republic of Korea,Food supply quantity (kg/capita/yr),Cream,1999,kg,0.01
43514,Food Supply - Livestock and Fish Primary Equiv...,Democratic People's Republic of Korea,Food supply quantity (kg/capita/yr),Cream,2000,kg,0.01

In [82]:
df.tail(n=5)

,Domain,Country,Element,Item,Year,Unit,Value
115017,Food Supply - Crops Primary Equivalent,Belgium,Food supply quantity (kg/capita/yr),Coffee and products,1995,kg,6.31
115018,Food Supply - Crops Primary Equivalent,Belgium,Food supply quantity (kg/capita/yr),Coffee and products,1996,kg,6.67
115019,Food Supply - Crops Primary Equivalent,Belgium,Food supply quantity (kg/capita/yr),Coffee and products,1997,kg,6.58
115020,Food Supply - Crops Primary Equivalent,Belgium,Food supply quantity (kg/capita/yr),Coffee and products,1998,kg,6.42
115021,Food Supply - Crops Primary Equivalent,Belgium,Food supply quantity (kg/capita/yr),Coffee and products,1999,kg,6.78

### Creating a dictionary with food names as keys and corresponding df as values

In [83]:
crop_names = df['Item'].unique()
#crop_names = crop_names[:-1]
# list to put our separated crop dataframes
all_food_dfs = {}

# find each crop-separated df and put it in the list of dataframes
for crop in crop_names:
    crop_df = df[(df['Item'] == crop)]
    all_food_dfs[crop] = crop_df

In [84]:
ls_names = dfL['Item'].unique()
for ls in ls_names:
    ls_df = dfL[(dfL['Item'] == ls)]
    all_food_dfs[ls] = ls_df

### List of all food names

In [85]:
all_names = list(crop_names) + list(ls_names)

In [86]:
df_vals = {}
for country in df['Country'].unique():
    if country in cancer_lands:
        data = {}
        for crop in all_names:
            df = all_food_dfs[crop]
            for i, name in enumerate(df['Country'].values):
                if name == country:
                    if crop in data:
                        data[crop].append((df['Year'].values[i], df['Value'].values[i]))
                    else:
                        data[crop] = [(df['Year'].values[i], df['Value'].values[i])]
        df_vals[country] = data

In [87]:
for country in df_vals:
    print len(df_vals[country])

103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103
103

In [164]:
predictors = {}
for country in df_vals:
    data = {}
    for crop in df_vals[country]:
        if crop not in df_vals[country]:
            print country, crop
        else:
            year_data = df_vals[country][crop]
            total = 0
            if len(year_data) == 0:
                data[crop] = 0
            else:
                count = 0
                for yr, val in year_data:
                    if not isinstance(val, float) and not isinstance(val, int):
                        #print type(val), country, crop, yr, type(year_data), year_data
                        continue
                    else:
                        total += val
                        count += 1
                avg = float(total)/float(count)
                data[crop] = avg
    predictors[country] = data

In [ ]:
x = []
for country in countries:
    predictors = []
    for name, r2 in cancer_r2_sort[:N]:
        if r2 != 1.0 and name != 'Palm Oil' and name != 'Millet and products' and name != 'Rye and products':
            df = all_dfs[name]
            for index, area in enumerate(df['AreaName'].values):
                #if area == country and not math.isnan(df['Value'].values[index]):
                if area == country:
                    predictors.append(df['Value'].values[index])
                    #print name
                    break
    x.append(predictors)
    #print 'end'

x_df = pd.DataFrame(x, columns = cols)
x_df.head(n=5)

In [89]:
x = []
cols = []
for crop in predictors['France']:
    cols.append(crop)
for country in predictors:
    x_vals = []
    for crop in predictors[country]:
        x_vals.append(predictors[country][crop])
    if len(x_vals) != 103:
        print len(x_vals)
    x.append(x_vals)
print len(x)
print len(x[0])
x_df = pd.DataFrame(x, columns = cols)
x_df.head(n=5)

151
103

,Ricebran Oil,Plantains,"Sugar, Raw Equivalent","Beverages, Alcoholic",Roots & Tuber Dry Equiv,Olives (including preserved),Cloves,"Fats, Animals, Raw",Millet and products,Coconuts - Incl Copra,...,Tomatoes and products,"Oilcrops Oil, Other",Pelagic Fish,"Butter, Ghee",Bananas,"Spices, Other","Meat, Aquatic Mammals",Sweet potatoes,"Oranges, Mandarines",Rice (Milled Equivalent)
0,0.00,0.603333,47.554444,1.558889,16.850000,0.532222,0.002222,6.007778,0.000000,1.112222,...,30.738889,0.102222,5.432222,2.918889,13.284444,0.297778,0.0,0.466667,47.530000,6.638889
1,0.00,0.000000,14.420000,0.327778,3.318889,0.001111,0.000000,0.953333,0.826667,0.000000,...,31.094444,0.203333,0.008889,1.820000,0.043333,0.004444,0.0,0.000000,1.604444,7.101111
2,0.00,0.000000,30.954444,5.077778,24.973333,0.024444,0.000000,3.285556,0.000000,0.254444,...,4.458889,2.487778,12.195556,3.835556,4.492222,0.100000,0.0,0.000000,4.731111,1.540000
3,0.03,0.583333,4.422222,1.601111,3.670000,0.000000,0.011111,0.813333,0.000000,0.766667,...,0.000000,0.098889,0.363333,0.002222,11.788889,0.006667,0.0,3.337778,4.556667,167.165556
4,0.00,26.812222,4.042222,0.047500,17.707778,0.000000,0.000000,0.238750,3.186250,0.000000,...,0.778750,0.405556,0.000000,0.198889,1.043750,0.051111,0.0,3.178750,0.402222,1.253333

In [90]:
cancer = []
for country in predictors:
    for i, place in enumerate(cancer_2000['Country'].values):
        if place == country:
            cancer.append(cancer_2000['Mortality'].values[i])
            
cancer_df = pd.DataFrame(cancer, columns = ['Cancer Mortality Rate'])
print cancer_df.shape
cancer_df.head(n=5)

(151, 1)

  Cancer Mortality Rate
0                 142.1
1                 104.9
2                 154.6
3                 110.9
4                 100.7

In [200]:
cancerreg = LinReg()
cancerreg.fit(x_df, cancer_df)
cancerreg.score(x_df, cancer_df)
cancerreg.coef_
cancer_coefs = cancerreg.coef_[0]
cancerreg.coef_

array([[  2.59622194e+01,  -2.83643735e-01,   3.62074517e+00,
          3.24950393e+00,   3.83439089e+00,   1.28178033e+00,
          4.51037763e+01,   7.74756915e+00,   9.36269777e-03,
         -1.21100979e+00,  -1.53853443e+00,  -5.43087951e-01,
         -1.14389605e+01,   3.70398425e+00,  -2.96470785e-01,
         -9.32949464e-01,  -6.41711821e-01,  -4.79716527e-01,
         -6.13921630e+01,   1.51822621e-01,  -3.69113138e+00,
          9.93549219e+00,  -1.20985128e+01,   3.49920815e-01,
         -1.32741726e+01,  -2.75468393e-01,  -1.22397482e-01,
         -5.60413266e-01,   1.02514982e+00,  -2.33227016e+00,
         -5.56399735e-01,  -9.39555199e-01,   8.60366706e+01,
          2.21103405e+00,   3.08237011e+01,   3.80934817e+00,
         -1.47773030e+00,  -1.64219001e+01,  -7.56792456e-01,
         -1.00318070e+01,   1.21716967e+01,   1.16801603e+00,
         -5.72781859e-01,   9.58600721e+00,  -9.80433727e+00,
          2.30449176e+00,  -8.87531016e+00,   3.90353142e+00,
          1.67663328e+03,   2.62501870e-03,   2.12196741e-01,
         -2.73827666e-01,   9.48350793e+00,  -1.15437768e+00,
         -1.15600921e+00,   6.46393372e+00,  -1.00289700e+00,
         -6.01467816e-02,   1.09906217e-09,  -9.74342722e+01,
         -1.82087765e+01,   6.70469482e-01,   1.25964723e+01,
          4.69281551e+01,  -2.02668660e+00,   6.72937069e+01,
         -6.38902445e+00,  -4.63172348e+00,   9.38115471e-02,
          6.71482869e-01,   7.10856988e+00,  -2.37821876e-01,
         -1.15358004e+00,   5.20905762e-01,  -1.48476549e+00,
          5.16232396e+01,   1.33493417e+00,  -9.17582794e-01,
          7.57181214e+00,   1.28918905e+00,   3.71086341e-02,
         -1.29005147e+00,  -8.56290263e-01,   2.13733012e+00,
          2.68283192e+00,   9.37588209e-01,   1.56774962e+00,
          7.13841564e-01,   5.34888587e-01,   5.80152930e-01,
          4.78579541e+00,   1.15177463e+01,  -6.21961051e-03,
          2.38934805e-01,   8.35755652e+00,  -5.78897766e-01,
          6.95701414e+00,   3.89785507e-01,  -3.80287046e+00,
          4.54747351e-13,  -1.08410911e-01,  -5.61968996e-01,
         -2.51366739e+03]])

In [197]:
print max(cancer_coefs)
print list(cancer_coefs).index(max(cancer_coefs))
#print x_df.columns[-1]
#print list(diabetes_coefs[:-1]).index(max(diabetes_coefs[:-1]))
#print x_df.columns[list(diabetes_coefs[:-1]).index(max(diabetes_coefs[:-1]))]

1676.63328243
48

In [196]:
maxpredictors = []
print len(x_df.columns)
print len(x_df.iloc[0, :].values)
for i in range(x_df.shape[0]):
    preds = x_df.iloc[i, :].values
    maxpredictor, index = 0, 0
    for j, val in enumerate(preds):
        pred = val * cancer_coefs[j]
        if pred > maxpredictor:
            maxpredictor = pred
            index = j
    maxpredictors.append((country_indices[i], x_df.columns[index]))    

print maxpredictors

103
103
[('Canada', 'Rice (Paddy Equivalent)'), ('Turkmenistan', 'Rice (Paddy Equivalent)'), ('Lithuania', 'Rice (Paddy Equivalent)'), ('Cambodia', 'Rice (Paddy Equivalent)'), ('Ethiopia', 'Rice (Paddy Equivalent)'), ('Swaziland', 'Rice (Paddy Equivalent)'), ('Argentina', 'Rice (Paddy Equivalent)'), ('Cameroon', 'Rice (Paddy Equivalent)'), ('Burkina Faso', 'Rice (Paddy Equivalent)'), ('Ghana', 'Rice (Paddy Equivalent)'), ('Saudi Arabia', 'Rice (Paddy Equivalent)'), ('Japan', 'Rice (Paddy Equivalent)'), ('Slovenia', 'Rice (Paddy Equivalent)'), ('Guatemala', 'Rice (Paddy Equivalent)'), ('Bosnia and Herzegovina', 'Rice (Paddy Equivalent)'), ('Guinea', 'Rice (Paddy Equivalent)'), ('Russian Federation', 'Rice (Paddy Equivalent)'), ('Germany', 'Rice (Paddy Equivalent)'), ('Spain', 'Rice (Paddy Equivalent)'), ('Liberia', 'Rice (Paddy Equivalent)'), ('Maldives', 'Rice (Paddy Equivalent)'), ('Paraguay', 'Rice (Paddy Equivalent)'), ('Pakistan', 'Rice (Paddy Equivalent)'), ('Oman', 'Rice (Paddy Equivalent)'), ('Cabo Verde', 'Rice (Paddy Equivalent)'), ('Gabon', 'Rice (Paddy Equivalent)'), ('New Zealand', 'Rice (Paddy Equivalent)'), ('Yemen', 'Rice (Paddy Equivalent)'), ('Jamaica', 'Rice (Paddy Equivalent)'), ('Albania', 'Rice (Paddy Equivalent)'), ('United Arab Emirates', 'Rice (Paddy Equivalent)'), ('Viet Nam', 'Rice (Paddy Equivalent)'), ('Azerbaijan', 'Rice (Paddy Equivalent)'), ('Lesotho', 'Rice (Paddy Equivalent)'), ('Kenya', 'Rice (Paddy Equivalent)'), ('Tajikistan', 'Rice (Paddy Equivalent)'), ('Turkey', 'Rice (Paddy Equivalent)'), ('Afghanistan', 'Rice (Paddy Equivalent)'), ('Bangladesh', 'Rice (Paddy Equivalent)'), ('Iran (Islamic Republic of)', 'Rice (Paddy Equivalent)'), ('India', 'Rice (Paddy Equivalent)'), ('Mongolia', 'Rice (Paddy Equivalent)'), ('France', 'Rice (Paddy Equivalent)'), ('Rwanda', 'Rice (Paddy Equivalent)'), ('Slovakia', 'Rice (Paddy Equivalent)'), ('Peru', 'Rice (Paddy Equivalent)'), ('Norway', 'Rice (Paddy Equivalent)'), ('Malawi', 'Rice (Paddy Equivalent)'), ('Benin', 'Rice (Paddy Equivalent)'), ('Cuba', 'Rice (Paddy Equivalent)'), ('United States of America', 'Rice (Paddy Equivalent)'), ('Togo', 'Rice (Paddy Equivalent)'), ('China', 'Rice (Paddy Equivalent)'), ('Armenia', 'Rice (Paddy Equivalent)'), ('Republic of Korea', 'Rice (Paddy Equivalent)'), ('Dominican Republic', 'Rice (Paddy Equivalent)'), ('Bolivia (Plurinational State of)', 'Rice (Paddy Equivalent)'), ('Ukraine', 'Rice (Paddy Equivalent)'), ('Finland', 'Rice (Paddy Equivalent)'), ('Indonesia', 'Rice (Paddy Equivalent)'), ('Central African Republic', 'Rice (Paddy Equivalent)'), ('Mauritius', 'Rice (Paddy Equivalent)'), ('Sweden', 'Rice (Paddy Equivalent)'), ('Australia', 'Rice (Paddy Equivalent)'), ('Mali', 'Rice (Paddy Equivalent)'), ('Bulgaria', 'Rice (Paddy Equivalent)'), ('Romania', 'Rice (Paddy Equivalent)'), ('Angola', 'Rice (Paddy Equivalent)'), ('Chad', 'Rice (Paddy Equivalent)'), ('South Africa', 'Rice (Paddy Equivalent)'), ('Fiji', 'Rice (Paddy Equivalent)'), ('Brunei Darussalam', 'Rice (Paddy Equivalent)'), ('Malaysia', 'Rice (Paddy Equivalent)'), ('Austria', 'Rice (Paddy Equivalent)'), ('Mozambique', 'Rice (Paddy Equivalent)'), ('Uganda', 'Rice (Paddy Equivalent)'), ('Hungary', 'Rice (Paddy Equivalent)'), ('Niger', 'Rice (Paddy Equivalent)'), ('Brazil', 'Rice (Paddy Equivalent)'), ('Kuwait', 'Rice (Paddy Equivalent)'), ('Panama', 'Rice (Paddy Equivalent)'), ('Republic of Moldova', 'Rice (Paddy Equivalent)'), ('Costa Rica', 'Rice (Paddy Equivalent)'), ('Luxembourg', 'Rice (Paddy Equivalent)'), ('Bahamas', 'Rice (Paddy Equivalent)'), ('Ireland', 'Rice (Paddy Equivalent)'), ('Nigeria', 'Rice (Paddy Equivalent)'), ('Ecuador', 'Rice (Paddy Equivalent)'), ('Belarus', 'Rice (Paddy Equivalent)'), ('Algeria', 'Rice (Paddy Equivalent)'), ('El Salvador', 'Rice (Paddy Equivalent)'), ('Solomon Islands', 'Rice (Paddy Equivalent)'), ('Chile', 'Rice (Paddy Equivalent)'), ('Belgium', 'Rice (Paddy Equivalent)'), ('Thailand', 'Rice (Paddy Equivalent)'), ('Haiti', 'Rice (Paddy Equivalent)'), ('Belize', 'Rice (Paddy Equivalent)'), ('Sierra Leone', 'Rice (Paddy Equivalent)'), ('Georgia', 'Sugar (Raw Equivalent)'), ("Lao People's Democratic Republic", 'Rice (Paddy Equivalent)'), ('Gambia', 'Rice (Paddy Equivalent)'), ('Philippines', 'Rice (Paddy Equivalent)'), ('Morocco', 'Sugar (Raw Equivalent)'), ('Croatia', 'Rice (Paddy Equivalent)'), ('Guinea-Bissau', 'Rice (Paddy Equivalent)'), ('United Republic of Tanzania', 'Rice (Paddy Equivalent)'), ('Switzerland', 'Rice (Paddy Equivalent)'), ('Venezuela (Bolivarian Republic of)', 'Rice (Paddy Equivalent)'), ('Iraq', 'Rice (Paddy Equivalent)'), ('Portugal', 'Rice (Paddy Equivalent)'), ('Estonia', 'Rice (Paddy Equivalent)'), ('Uruguay', 'Rice (Paddy Equivalent)'), ('Lebanon', 'Rice (Paddy Equivalent)'), ('Uzbekistan', 'Rice (Paddy Equivalent)'), ('Egypt', 'Rice (Paddy Equivalent)'), ('Djibouti', 'Rice (Paddy Equivalent)'), ('Timor-Leste', 'Rice (Paddy Equivalent)'), ('Colombia', 'Rice (Paddy Equivalent)'), ('Cyprus', 'Rice (Paddy Equivalent)'), ('Barbados', 'Rice (Paddy Equivalent)'), ('Madagascar', 'Rice (Paddy Equivalent)'), ('Italy', 'Rice (Paddy Equivalent)'), ('Nepal', 'Rice (Paddy Equivalent)'), ('Malta', 'Rice (Paddy Equivalent)'), ('Netherlands', 'Rice (Paddy Equivalent)'), ('Suriname', 'Rice (Paddy Equivalent)'), ('Israel', 'Rice (Paddy Equivalent)'), ('Iceland', 'Rice (Paddy Equivalent)'), ('Zambia', 'Rice (Paddy Equivalent)'), ('Senegal', 'Rice (Paddy Equivalent)'), ('Zimbabwe', 'Rice (Paddy Equivalent)'), ('Jordan', 'Rice (Paddy Equivalent)'), ('Denmark', 'Rice (Paddy Equivalent)'), ('Kazakhstan', 'Rice (Paddy Equivalent)'), ('Poland', 'Rice (Paddy Equivalent)'), ('Mauritania', 'Rice (Paddy Equivalent)'), ('Kyrgyzstan', 'Rice (Paddy Equivalent)'), ('Trinidad and Tobago', 'Rice (Paddy Equivalent)'), ('Latvia', 'Rice (Paddy Equivalent)'), ('Guyana', 'Rice (Paddy Equivalent)'), ('Honduras', 'Rice (Paddy Equivalent)'), ('Myanmar', 'Rice (Paddy Equivalent)'), ('Mexico', 'Rice (Paddy Equivalent)'), ('Tunisia', 'Rice (Paddy Equivalent)'), ('Nicaragua', 'Rice (Paddy Equivalent)'), ("Democratic People's Republic of Korea", 'Rice (Paddy Equivalent)'), ('Congo', 'Rice (Paddy Equivalent)'), ('Greece', 'Rice (Paddy Equivalent)'), ('Sri Lanka', 'Rice (Paddy Equivalent)'), ('Namibia', 'Sugar (Raw Equivalent)'), ('Botswana', 'Rice (Paddy Equivalent)')]

In [184]:
from sklearn.linear_model import Lasso
from sklearn.linear_model import LassoCV
cancerreg = Lasso(alpha = .00001, normalize=True)
cancerreg.fit(x_df, cancer_df)
print cancerreg.score(x_df, cancer_df)
coefficients = cancerreg.coef_
print 'hi'
print len(coefficients)
print len([i for i, item in enumerate(coefficients) if abs(item) >0])

cancerreg = LassoCV(alphas = [.01, .1], normalize=True)
#cancerlist = list(cancer_df)
cancerreg.fit(x_df, cancer_df.values.ravel())
print cancerreg.score(x_df, cancer_df)

0.806921512682
hi
103
101
0.591901219824

In [194]:
from sklearn.linear_model import Ridge
cancerreg = Ridge(alpha = .0001, normalize=True)
cancerreg.fit(x_df, cancer_df)
cancerreg.score(x_df, cancer_df)

In [92]:
diabetes = []
for country in predictors:
    for i, place in enumerate(diabetes_2000['Country'].values):
        if place == country:
            diabetes.append(diabetes_2000['Mortality'].values[i])
            
diabetes_df = pd.DataFrame(diabetes, columns = ['Diabetes Mortality Rate'])
print diabetes_df.shape
diabetes_df.head(n=5)

(151, 1)

  Diabetes Mortality Rate
0                    14.0
1                    19.8
2                     5.0
3                    15.9
4                    28.9

In [198]:
diabetes_reg = LinReg()
diabetes_reg.fit(x_df, diabetes_df)
print diabetes_reg.score(x_df, diabetes_df)
print diabetes_reg.coef_
diabetes_coefs = diabetes_reg.coef_[0]
print max(diabetes_coefs)
print list(diabetes_coefs).index(max(diabetes_coefs))
print x_df.columns[-1]
print list(diabetes_coefs[:-1]).index(max(diabetes_coefs[:-1]))
print x_df.columns[list(diabetes_coefs[:-1]).index(max(diabetes_coefs[:-1]))]
for i, coef in enumerate(diabetes_coefs):
    if coef < -2000:
        print i
x_df.columns[48]

0.824653893157
[[ -6.48079659e+01   3.86815657e-02   6.25661010e-01   2.44406049e-01
   -2.54568975e-01  -3.73141680e+00  -4.74258660e+01   6.26347033e-01
   -2.47844677e-02   6.10020155e-01  -1.88833574e+00   1.24898468e-01
    2.82090488e+00  -1.58158321e+00  -1.25044880e-01  -7.44598156e-02
   -1.36520493e+00  -1.60872752e+00  -7.35106729e+01   2.31195821e-01
   -1.65255154e+00  -2.32337654e+00   7.08579219e+00   8.66905707e-01
    1.80292627e+01   8.40850735e-01  -9.18775158e-01   1.67602923e-01
    4.98619604e+00  -1.48639086e+00  -3.37991513e-01   5.77821719e-01
   -9.59994412e+02  -3.99177076e-01   6.45094593e+00  -2.66903330e+00
   -1.38032186e-01   1.33519571e+00  -3.08976497e-01  -4.19925603e+00
    7.22123858e+00  -3.25051963e-01  -3.27574920e-01  -2.04545345e+01
    7.49456836e-01   2.23249560e-01   7.03037313e+00   1.35913090e+00
   -2.02788304e+03   1.02105784e-01  -2.31124338e-01  -1.13427639e+00
   -3.47712649e+00  -2.52425342e+00   1.09218178e+00   2.17391888e+00
   -5.66134098e-02  -3.80181510e-01  -1.48795731e-09   1.04319955e+03
    8.54204088e+00   3.87778974e+00  -1.23839401e+01  -1.31795477e+01
    1.76006020e+00  -7.40352759e+01  -7.93402843e-01   1.35700328e+01
    6.55508114e-02   8.43309929e-01   9.52728225e+00   6.37459150e-02
    7.57396375e-02  -3.08610815e-02   5.82472649e-01  -1.86437132e+01
    2.26491289e+00  -4.33325371e-01   6.58762316e+00  -3.46958727e+00
   -3.86974023e-01  -1.83670314e-01   2.22421264e-01  -1.63226615e+00
    2.43322238e-01   9.84637026e-02   2.07269918e+00   1.39837489e-01
   -3.97730820e-01   1.16828690e+00   2.49879204e+00   2.52219484e+00
   -5.65156761e-02  -6.03435527e-01   4.87900665e-01  -2.76312205e-01
    1.39842024e+00  -1.30835262e-03   1.47362950e+01   0.00000000e+00
    9.42550449e-02   2.53680082e-01   3.04040886e+03]]
3040.40886459
102
Rice (Milled Equivalent)
59
Sugar, Refined Equiv
48

'Rice (Paddy Equivalent)'

In [199]:
diabetes_reg.coef_

array([[ -6.48079659e+01,   3.86815657e-02,   6.25661010e-01,
          2.44406049e-01,  -2.54568975e-01,  -3.73141680e+00,
         -4.74258660e+01,   6.26347033e-01,  -2.47844677e-02,
          6.10020155e-01,  -1.88833574e+00,   1.24898468e-01,
          2.82090488e+00,  -1.58158321e+00,  -1.25044880e-01,
         -7.44598156e-02,  -1.36520493e+00,  -1.60872752e+00,
         -7.35106729e+01,   2.31195821e-01,  -1.65255154e+00,
         -2.32337654e+00,   7.08579219e+00,   8.66905707e-01,
          1.80292627e+01,   8.40850735e-01,  -9.18775158e-01,
          1.67602923e-01,   4.98619604e+00,  -1.48639086e+00,
         -3.37991513e-01,   5.77821719e-01,  -9.59994412e+02,
         -3.99177076e-01,   6.45094593e+00,  -2.66903330e+00,
         -1.38032186e-01,   1.33519571e+00,  -3.08976497e-01,
         -4.19925603e+00,   7.22123858e+00,  -3.25051963e-01,
         -3.27574920e-01,  -2.04545345e+01,   7.49456836e-01,
          2.23249560e-01,   7.03037313e+00,   1.35913090e+00,
         -2.02788304e+03,   1.02105784e-01,  -2.31124338e-01,
         -1.13427639e+00,  -3.47712649e+00,  -2.52425342e+00,
          1.09218178e+00,   2.17391888e+00,  -5.66134098e-02,
         -3.80181510e-01,  -1.48795731e-09,   1.04319955e+03,
          8.54204088e+00,   3.87778974e+00,  -1.23839401e+01,
         -1.31795477e+01,   1.76006020e+00,  -7.40352759e+01,
         -7.93402843e-01,   1.35700328e+01,   6.55508114e-02,
          8.43309929e-01,   9.52728225e+00,   6.37459150e-02,
          7.57396375e-02,  -3.08610815e-02,   5.82472649e-01,
         -1.86437132e+01,   2.26491289e+00,  -4.33325371e-01,
          6.58762316e+00,  -3.46958727e+00,  -3.86974023e-01,
         -1.83670314e-01,   2.22421264e-01,  -1.63226615e+00,
          2.43322238e-01,   9.84637026e-02,   2.07269918e+00,
          1.39837489e-01,  -3.97730820e-01,   1.16828690e+00,
          2.49879204e+00,   2.52219484e+00,  -5.65156761e-02,
         -6.03435527e-01,   4.87900665e-01,  -2.76312205e-01,
          1.39842024e+00,  -1.30835262e-03,   1.47362950e+01,
          0.00000000e+00,   9.42550449e-02,   2.53680082e-01,
          3.04040886e+03]])

In [165]:
country_indices = []
index = 0
for country in predictors:
    country_indices.append(country)
print country_indices[:10]
print len(country_indices)

['Canada', 'Turkmenistan', 'Lithuania', 'Cambodia', 'Ethiopia', 'Swaziland', 'Argentina', 'Cameroon', 'Burkina Faso', 'Ghana']
151

In [171]:
maxpredictors = []
print len(x_df.columns)
print len(x_df.iloc[0, :].values)
for i in range(x_df.shape[0]):
    preds = x_df.iloc[i, :].values
    maxpredictor, index = 0, 0
    for j, val in enumerate(preds):
        pred = val * diabetes_coefs[j]
        if pred > maxpredictor:
            maxpredictor = pred
            index = j
    maxpredictors.append((country_indices[i], x_df.columns[index]))    

for country, crop in maxpredictors:
    if crop != 'Sugar, Refined Equiv' and crop != 'Rice (Milled Equivalent)':
        print country, crop

103
103

In [191]:
diabetes_reg = Lasso(alpha=.001, normalize=True)
diabetes_reg.fit(x_df, diabetes_df)
print diabetes_reg.score(x_df, diabetes_df)
diabetes_reg.coef_
for col in x_df.columns:
    print '"' + col + '"' + ', '

0.809141987567
"Ricebran Oil",
"Plantains",
"Sugar, Raw Equivalent",
"Beverages, Alcoholic",
"Roots & Tuber Dry Equiv",
"Olives (including preserved)",
"Cloves",
"Fats, Animals, Raw",
"Millet and products",
"Coconuts - Incl Copra",
"Eggs",
"Vegetables, Other",
"Sesame seed",
"Marine Fish, Other",
"Wine",
"Pigmeat",
"Apples and products",
"Rape and Mustard Oil",
"Fish, Liver Oil",
"Maize and products",
"Sweeteners, Other",
"Fish, Body Oil",
"Honey",
"Demersal Fish",
"Groundnuts (Shelled Eq)",
"Barley and products",
"Maize Germ Oil",
"Beer",
"Groundnut Oil",
"Sugar non-centrifugal",
"Pineapples and products",
"Pulses, Other and products",
"Sugar (Raw Equivalent)",
"Meat, Other",
"Molasses",
"Pimento",
"Palm Oil",
"Oilcrops, Other",
"Dates",
"Oats",
"Soyabeans",
"Freshwater Fish",
"Beans",
"Sugar beet",
"Cephalopods",
"Mutton & Goat Meat",
"Sesameseed Oil",
"Grapes and products (excl wine)",
"Rice (Paddy Equivalent)",
"Beverages, Fermented",
"Bovine Meat",
"Molluscs, Other",
"Aquatic Plants",
"Cottonseed Oil",
"Onions",
"Coffee and products",
"Roots, Other",
"Sorghum and products",
"Meat Meal",
"Sugar, Refined Equiv",
"Infant food",
"Whey",
"Groundnuts (in Shell Eq)",
"Sunflower seed",
"Cereals, Other",
"Pepper",
"Crustaceans",
"Peas",
"Milk, Whole",
"Nuts and products",
"Cocoa Beans and products",
"Wheat and products",
"Cassava and products",
"Sugar cane",
"Cheese",
"Aquatic Animals, Others",
"Sunflowerseed Oil",
"Offals, Edible",
"Palmkernel Oil",
"Cream",
"Potatoes and products",
"Fruits, Other",
"Yams",
"Citrus, Other",
"Lemons, Limes and products",
"Poultry Meat",
"Tea (including mate)",
"Soyabean Oil",
"Grapefruit and products",
"Rye and products",
"Olive Oil",
"Coconut Oil",
"Milk - Excluding Butter",
"Tomatoes and products",
"Oilcrops Oil, Other",
"Pelagic Fish",
"Butter, Ghee",
"Bananas",
"Spices, Other",
"Meat, Aquatic Mammals",
"Sweet potatoes",
"Oranges, Mandarines",
"Rice (Milled Equivalent)",

In [94]:
cardio = []
for country in predictors:
    for i, place in enumerate(cardio_2000['Country'].values):
        if place == country:
            cardio.append(cardio_2000['Mortality'].values[i])
            
cardio_df = pd.DataFrame(cardio, columns = ['Cardio Mortality Rate'])
print cardio_df.shape
cardio_df.head(n=5)

(151, 1)

  Cardio Mortality Rate
0                 150.8
1                 724.4
2                 373.9
3                 222.5
4                 180.4

In [189]:
cardio_reg = LinReg()
cardio_reg.fit(x_df, cardio_df)
cardio_reg.score(x_df, cardio_df)
cardio_coefs = cardio_reg.coef_[0]
cardio_coefs

array([  1.40816287e+02,   5.36298274e-01,  -9.44522931e+00,
         3.20981545e+00,  -4.86703518e+00,  -1.61816614e+01,
        -3.24805843e+02,  -1.99980905e+00,   1.20601695e+00,
         4.38928752e+00,  -4.24737986e+00,  -3.89874612e-01,
         7.87702229e+00,  -1.45513038e+00,  -6.65062858e-01,
        -2.48549699e-01,  -6.40420336e-01,  -9.92381694e+00,
        -4.67123409e+02,  -1.11162691e+00,   1.07300562e+01,
        -4.34260700e+01,   3.60929511e+01,  -5.54016373e-01,
         1.59178894e+01,  -3.27237817e-01,   4.52861740e+01,
        -6.82208858e-01,  -1.49393958e+01,   2.56052752e+00,
        -5.24584540e-01,  -8.27315584e+00,   2.74667049e+03,
         6.33794634e+00,  -1.17445997e+02,  -8.37077245e+00,
        -1.03250201e+01,  -2.71808620e+01,   4.77456499e-01,
        -5.38808983e-01,   1.26696239e+01,   1.19219779e+00,
        -2.18874810e+00,  -2.62730611e+02,  -9.85536827e+00,
         3.25150319e+00,   6.04250490e+01,  -2.85050059e+00,
         8.44309361e+02,  -7.95521018e-02,  -4.30210264e+00,
         6.78063309e+00,   8.65321155e-01,   5.74157709e+00,
        -2.77187200e-01,   1.08290689e+01,   7.77615114e-02,
        -1.77066060e+00,   1.05966080e-09,  -2.97534309e+03,
        -3.33135163e+01,   1.03566529e+01,  -1.05815809e+01,
        -4.28825224e+01,   4.98226294e+00,  -3.96330742e+02,
        -1.29556959e+01,   1.16689516e+01,   1.48592013e+00,
         6.83314320e-01,   6.10201117e+00,   8.83855105e-01,
         1.56370639e+00,   5.37598262e-01,   6.22907295e+00,
        -1.31812335e+02,   2.78126964e+00,   8.85622872e-01,
         8.04497906e+01,   3.67347289e+00,   1.63912754e+00,
         2.97710047e+00,   6.88683435e-01,  -3.93182812e-01,
        -5.80870717e+00,  -1.35669129e+00,   6.41258393e-01,
        -9.12165126e+00,  -2.07348132e+00,   3.34802475e+00,
        -1.70991273e+01,  -1.40264002e+01,  -1.06051256e+00,
         1.55557141e+00,  -1.53905984e+01,  -7.56855438e-02,
        -1.96634082e+01,  -5.39994105e-01,   1.87728550e+00,
        -4.54747351e-13,  -1.84945930e-01,   1.68202022e+00,
        -1.26647013e+03])

In [193]:
maxpredictors = []
print len(x_df.columns)
print len(x_df.iloc[0, :].values)
for i in range(x_df.shape[0]):
    preds = x_df.iloc[i, :].values
    maxpredictor, index = 0, 0
    for j, val in enumerate(preds):
        pred = val * cardio_coefs[j]
        if pred > maxpredictor:
            maxpredictor = pred
            index = j
    maxpredictors.append((country_indices[i], x_df.columns[index]))    

print maxpredictors
#for country, crop in maxpredictors:
    #if crop != 'Sugar, Refined Equiv' and crop != 'Rice (Milled Equivalent)':
        #print country, crop

103
103
[('Canada', 'Sugar (Raw Equivalent)'), ('Turkmenistan', 'Sugar (Raw Equivalent)'), ('Lithuania', 'Sugar (Raw Equivalent)'), ('Cambodia', 'Rice (Paddy Equivalent)'), ('Ethiopia', 'Sugar (Raw Equivalent)'), ('Swaziland', 'Sugar (Raw Equivalent)'), ('Argentina', 'Sugar (Raw Equivalent)'), ('Cameroon', 'Sugar (Raw Equivalent)'), ('Burkina Faso', 'Rice (Paddy Equivalent)'), ('Ghana', 'Rice (Paddy Equivalent)'), ('Saudi Arabia', 'Sugar (Raw Equivalent)'), ('Japan', 'Rice (Paddy Equivalent)'), ('Slovenia', 'Sugar (Raw Equivalent)'), ('Guatemala', 'Sugar (Raw Equivalent)'), ('Bosnia and Herzegovina', 'Sugar (Raw Equivalent)'), ('Guinea', 'Rice (Paddy Equivalent)'), ('Russian Federation', 'Sugar (Raw Equivalent)'), ('Germany', 'Sugar (Raw Equivalent)'), ('Spain', 'Sugar (Raw Equivalent)'), ('Liberia', 'Rice (Paddy Equivalent)'), ('Maldives', 'Sugar (Raw Equivalent)'), ('Paraguay', 'Sugar (Raw Equivalent)'), ('Pakistan', 'Sugar (Raw Equivalent)'), ('Oman', 'Sugar (Raw Equivalent)'), ('Cabo Verde', 'Sugar (Raw Equivalent)'), ('Gabon', 'Sugar (Raw Equivalent)'), ('New Zealand', 'Sugar (Raw Equivalent)'), ('Yemen', 'Sugar (Raw Equivalent)'), ('Jamaica', 'Sugar (Raw Equivalent)'), ('Albania', 'Sugar (Raw Equivalent)'), ('United Arab Emirates', 'Sugar (Raw Equivalent)'), ('Viet Nam', 'Rice (Paddy Equivalent)'), ('Azerbaijan', 'Sugar (Raw Equivalent)'), ('Lesotho', 'Sugar (Raw Equivalent)'), ('Kenya', 'Sugar (Raw Equivalent)'), ('Tajikistan', 'Sugar (Raw Equivalent)'), ('Turkey', 'Sugar (Raw Equivalent)'), ('Afghanistan', 'Rice (Paddy Equivalent)'), ('Bangladesh', 'Rice (Paddy Equivalent)'), ('Iran (Islamic Republic of)', 'Sugar (Raw Equivalent)'), ('India', 'Rice (Paddy Equivalent)'), ('Mongolia', 'Sugar (Raw Equivalent)'), ('France', 'Sugar (Raw Equivalent)'), ('Rwanda', 'Sugar (Raw Equivalent)'), ('Slovakia', 'Sugar (Raw Equivalent)'), ('Peru', 'Rice (Paddy Equivalent)'), ('Norway', 'Sugar (Raw Equivalent)'), ('Malawi', 'Sugar (Raw Equivalent)'), ('Benin', 'Rice (Paddy Equivalent)'), ('Cuba', 'Sugar (Raw Equivalent)'), ('United States of America', 'Sugar (Raw Equivalent)'), ('Togo', 'Rice (Paddy Equivalent)'), ('China', 'Rice (Paddy Equivalent)'), ('Armenia', 'Sugar (Raw Equivalent)'), ('Republic of Korea', 'Rice (Paddy Equivalent)'), ('Dominican Republic', 'Sugar (Raw Equivalent)'), ('Bolivia (Plurinational State of)', 'Sugar (Raw Equivalent)'), ('Ukraine', 'Sugar (Raw Equivalent)'), ('Finland', 'Sugar (Raw Equivalent)'), ('Indonesia', 'Rice (Paddy Equivalent)'), ('Central African Republic', 'Sugar (Raw Equivalent)'), ('Mauritius', 'Sugar (Raw Equivalent)'), ('Sweden', 'Sugar (Raw Equivalent)'), ('Australia', 'Sugar (Raw Equivalent)'), ('Mali', 'Rice (Paddy Equivalent)'), ('Bulgaria', 'Sugar (Raw Equivalent)'), ('Romania', 'Sugar (Raw Equivalent)'), ('Angola', 'Sugar (Raw Equivalent)'), ('Chad', 'Sugar (Raw Equivalent)'), ('South Africa', 'Sugar (Raw Equivalent)'), ('Fiji', 'Sugar (Raw Equivalent)'), ('Brunei Darussalam', 'Rice (Paddy Equivalent)'), ('Malaysia', 'Sugar (Raw Equivalent)'), ('Austria', 'Sugar (Raw Equivalent)'), ('Mozambique', 'Sugar (Raw Equivalent)'), ('Uganda', 'Sugar (Raw Equivalent)'), ('Hungary', 'Sugar (Raw Equivalent)'), ('Niger', 'Sugar (Raw Equivalent)'), ('Brazil', 'Sugar (Raw Equivalent)'), ('Kuwait', 'Sugar (Raw Equivalent)'), ('Panama', 'Sugar (Raw Equivalent)'), ('Republic of Moldova', 'Sugar (Raw Equivalent)'), ('Costa Rica', 'Sugar (Raw Equivalent)'), ('Luxembourg', 'Sugar (Raw Equivalent)'), ('Bahamas', 'Sugar (Raw Equivalent)'), ('Ireland', 'Sugar (Raw Equivalent)'), ('Nigeria', 'Rice (Paddy Equivalent)'), ('Ecuador', 'Rice (Paddy Equivalent)'), ('Belarus', 'Sugar (Raw Equivalent)'), ('Algeria', 'Sugar (Raw Equivalent)'), ('El Salvador', 'Sugar (Raw Equivalent)'), ('Solomon Islands', 'Rice (Paddy Equivalent)'), ('Chile', 'Sugar (Raw Equivalent)'), ('Belgium', 'Sugar (Raw Equivalent)'), ('Thailand', 'Rice (Paddy Equivalent)'), ('Haiti', 'Sugar (Raw Equivalent)'), ('Belize', 'Sugar (Raw Equivalent)'), ('Sierra Leone', 'Rice (Paddy Equivalent)'), ('Georgia', 'Sugar (Raw Equivalent)'), ("Lao People's Democratic Republic", 'Rice (Paddy Equivalent)'), ('Gambia', 'Sugar (Raw Equivalent)'), ('Philippines', 'Rice (Paddy Equivalent)'), ('Morocco', 'Sugar (Raw Equivalent)'), ('Croatia', 'Sugar (Raw Equivalent)'), ('Guinea-Bissau', 'Rice (Paddy Equivalent)'), ('United Republic of Tanzania', 'Rice (Paddy Equivalent)'), ('Switzerland', 'Sugar (Raw Equivalent)'), ('Venezuela (Bolivarian Republic of)', 'Sugar (Raw Equivalent)'), ('Iraq', 'Sugar (Raw Equivalent)'), ('Portugal', 'Sugar (Raw Equivalent)'), ('Estonia', 'Sugar (Raw Equivalent)'), ('Uruguay', 'Sugar (Raw Equivalent)'), ('Lebanon', 'Sugar (Raw Equivalent)'), ('Uzbekistan', 'Sugar (Raw Equivalent)'), ('Egypt', 'Sugar (Raw Equivalent)'), ('Djibouti', 'Sugar (Raw Equivalent)'), ('Timor-Leste', 'Rice (Paddy Equivalent)'), ('Colombia', 'Sugar (Raw Equivalent)'), ('Cyprus', 'Sugar (Raw Equivalent)'), ('Barbados', 'Sugar (Raw Equivalent)'), ('Madagascar', 'Rice (Paddy Equivalent)'), ('Italy', 'Sugar (Raw Equivalent)'), ('Nepal', 'Rice (Paddy Equivalent)'), ('Malta', 'Sugar (Raw Equivalent)'), ('Netherlands', 'Sugar (Raw Equivalent)'), ('Suriname', 'Sugar (Raw Equivalent)'), ('Israel', 'Sugar (Raw Equivalent)'), ('Iceland', 'Sugar (Raw Equivalent)'), ('Zambia', 'Sugar (Raw Equivalent)'), ('Senegal', 'Rice (Paddy Equivalent)'), ('Zimbabwe', 'Sugar (Raw Equivalent)'), ('Jordan', 'Sugar (Raw Equivalent)'), ('Denmark', 'Sugar (Raw Equivalent)'), ('Kazakhstan', 'Sugar (Raw Equivalent)'), ('Poland', 'Sugar (Raw Equivalent)'), ('Mauritania', 'Sugar (Raw Equivalent)'), ('Kyrgyzstan', 'Sugar (Raw Equivalent)'), ('Trinidad and Tobago', 'Sugar (Raw Equivalent)'), ('Latvia', 'Sugar (Raw Equivalent)'), ('Guyana', 'Rice (Paddy Equivalent)'), ('Honduras', 'Sugar (Raw Equivalent)'), ('Myanmar', 'Rice (Paddy Equivalent)'), ('Mexico', 'Sugar (Raw Equivalent)'), ('Tunisia', 'Sugar (Raw Equivalent)'), ('Nicaragua', 'Sugar (Raw Equivalent)'), ("Democratic People's Republic of Korea", 'Rice (Paddy Equivalent)'), ('Congo', 'Sugar (Raw Equivalent)'), ('Greece', 'Sugar (Raw Equivalent)'), ('Sri Lanka', 'Rice (Paddy Equivalent)'), ('Namibia', 'Sugar (Raw Equivalent)'), ('Botswana', 'Sugar (Raw Equivalent)')]

In [142]:

cardio_reg = Lasso(alpha=.00001, normalize=True)
cardio_reg.fit(x_df, cardio_df)
cardio_reg.score(x_df, cardio_df)

0.84455869353323476

# Do not run things beyond this point -----

In [226]:
end = df.shape[0]
years = [1992 + i for i in range(9)]
for crop in cropdata:
    for country in cropdata[crop]:
        if len(cropdata[crop][country]) != 9 and len(cropdata[crop][country]) != 8 and len(cropdata[crop][country]) != 0 and len(cropdata[crop][country]) != 1:
            print len(cropdata[crop]), country, crop

In [227]:
print cropdata['Molasses']

{'Canada': [], 'Turkmenistan': [], 'Lithuania': [], 'Cambodia': [], 'Ethiopia': [], 'Swaziland': [], 'Argentina': [], 'Cameroon': [], 'Burkina Faso': [], 'Ghana': [], 'Saudi Arabia': [], 'Slovenia': [], 'Guatemala': [], 'Bosnia and Herzegovina': [], 'Kuwait': [], 'Russian Federation': [], 'Jordan': [], 'Spain': [], 'Liberia': [], 'Maldives': [], 'Pakistan': [], 'Oman': [], 'Cabo Verde': [], 'Gabon': [], 'New Zealand': [], 'Yemen': [], 'Jamaica': [], 'Albania': [], 'United Arab Emirates': [], 'India': [], 'Azerbaijan': [], 'Lesotho': [], 'Kenya': [], 'Tajikistan': [], 'Turkey': [], 'Afghanistan': [], 'Bangladesh': [], 'Iran (Islamic Republic of)': [], 'Viet Nam': [], 'Mongolia': [], 'France': [], 'Rwanda': [], 'Slovakia': [], 'Peru': [], 'Norway': [], 'Malawi': [], 'Benin': [], 'Cuba': [], 'United States of America': [], 'Togo': [], 'China': [], 'Armenia': [], 'Timor-Leste': [], 'Dominican Republic': [], 'Bolivia (Plurinational State of)': [], 'Ukraine': [], 'Finland': [], 'Indonesia': [], 'Central African Republic': [], 'Mauritius': [], 'Sweden': [], 'Belarus': [], 'Mali': [], 'Bulgaria': [], 'Romania': [], 'Angola': [], 'Chad': [], 'South Africa': [], 'Cyprus': [], 'Brunei Darussalam': [], 'Malaysia': [], 'Austria': [], 'Mozambique': [], 'Uganda': [], 'Hungary': [], 'Niger': [], 'Brazil': [], 'Guinea': [], 'Panama': [], 'Guyana': [], 'Republic of Moldova': [], 'Costa Rica': [], 'Luxembourg': [], 'Bahamas': [], 'Ireland': [], 'Nigeria': [], 'Ecuador': [], 'Australia': [], 'Algeria': [], 'El Salvador': [], 'Solomon Islands': [], 'Chile': [], 'Belgium': [], 'Thailand': [], 'Haiti': [], 'Belize': [], 'Sierra Leone': [], 'Georgia': [], "Lao People's Democratic Republic": [], 'Gambia': [], 'Philippines': [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000], 'Morocco': [], 'Croatia': [], 'Guinea-Bissau': [], 'United Republic of Tanzania': [], 'Switzerland': [], 'Venezuela (Bolivarian Republic of)': [], 'Iraq': [], 'Portugal': [], 'Estonia': [], 'Uruguay': [], 'Lebanon': [], 'Uzbekistan': [], 'Tunisia': [], 'Djibouti': [], 'Republic of Korea': [], 'Colombia': [], 'Fiji': [], 'Barbados': [], 'Madagascar': [], 'Italy': [], 'Nepal': [], 'Malta': [], 'Netherlands': [], 'Suriname': [], 'Israel': [], 'Iceland': [], 'Zambia': [], 'Senegal': [], 'Trinidad and Tobago': [], 'Zimbabwe': [], 'Germany': [], 'Denmark': [], 'Kazakhstan': [], 'Poland': [], 'Mauritania': [], 'Kyrgyzstan': [], 'Sri Lanka': [], 'Latvia': [], 'Japan': [], 'Honduras': [], 'Myanmar': [], 'Mexico': [], 'Egypt': [], 'Nicaragua': [], "Democratic People's Republic of Korea": [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000], 'Congo': [], 'Greece': [], 'Paraguay': [], 'Namibia': [], 'Botswana': []}

In [217]:
import copy
import time
years = [1992 + i for i in range(9)]
end = df.shape[0]
#for crop in cropdata[:1]:
N = 0
count = 0
#crop = cropdata.keys()[N]
crop = 'Ricebran Oil'
#for crop in cropdata:
countrieslist = copy.copy(df['Country'].values)
domain = df['Domain'].values[0]
element = regions_df['Element'].values[0]
unit = df['Unit'].values[0]
print len(countrieslist)
check1 = time.time()
for index, country in enumerate(countrieslist[:100]):
    if country in cancer_lands:
        for year in years[:1]:
            if year not in cropdata[crop][country]:
                count += 1
                region = country_dictionary[country]
            
                data = regiondata[region]
                check2 = time.time()
                if crop not in data:
                    df.loc[end+1] = [domain, country, element, crop, year, unit, 0]
                    end += 1
                else:
                    for yr, val in data[crop]:
                        if yr == year:
                            df.loc[end+1] = [domain, country, element, crop, year, unit, val]
                            end += 1
                            break
check3 = time.time()

#print check3-check2
print check3-check1

96423
4.38123202324

In [216]:
years = [1992 + i for i in range(9)]
end = df.shape[0]
#for crop in cropdata[:1]:
N = 0
count = 0
crop = cropdata.keys()[N]
#crop = 'Ricebran Oil'
check1 = time.time()
for index, country in enumerate(df['Country'].values[:100]):
    if country in cancer_lands:
        for year in years[:1]:
            if year not in cropdata[crop][country]:
                count += 1
                region = country_dictionary[country]
                found = False
                for i, region_name in enumerate(regions_df['Country'].values):
                    if region_name == region:
                        if regions_df['Item'].values[i] == crop and regions_df['Year'].values[i] == year:
                            val = regions_df['Value'].values[i]
                            #temp = pd.DataFrame([])
                            df.loc[end+1] = [df['Domain'].values[0], country, regions_df['Element'].values[i], crop, year, regions_df['Unit'].values[i], val]
                            end += 1
                            found = True
                            break
                if not found:
                    df.loc[end+1] = [df['Domain'].values[0], country, regions_df['Element'].values[i], crop, year, regions_df['Unit'].values[i], 0]
                    end += 1
                        

check3 = time.time()
print check3 - check1

4.12499308586

In [178]:
df.tail(n=5)

,Country,Element,Item,Year,Unit,Value
135467,Albania,Food supply quantity (kg/capita/yr),Ricebran Oil,1992,kg,0.0
135468,Albania,Food supply quantity (kg/capita/yr),Ricebran Oil,1992,kg,0.0
135469,Albania,Food supply quantity (kg/capita/yr),Ricebran Oil,1992,kg,0.0
135470,Albania,Food supply quantity (kg/capita/yr),Ricebran Oil,1992,kg,0.0
135471,Albania,Food supply quantity (kg/capita/yr),Ricebran Oil,1992,kg,0.0